{if isset($news_all)}
<div class="section">
	<h2 class="title-h2">Автомобильные новости</h2>
	{* <div class="js-ajax-product-load" data-action="ajax_post_load" data-marka="Volkswagen"></div>*}
	{include file='section/news/news-handler.tpl'}
</div>
{/if}
{* аналогично new\templates\section\adds\similar-adds.tpl
только собранные $news_all надо передавать в section/news/news-handler.tpl
*}