{if ($similar)}
  <div class="section">
      <h2 class="title-h2">Похожие объявления</h2>
      {*<div class="js-ajax-product-load" data-action="ajax_post_load" data-marka="Volkswagen" data-model="Crafter"></div>*}
    {include file='section/adds/cars-handler.tpl' cars=$similar}
  </div>
{/if}
{* примерная функция для возврата html в ajax success
ajax js можно посмотреть new\des\src\js\ready\ajax-product-load.js
function ajax_post_load(){
    header("Content-Type: text/html");
	
	// все нужные параметры передаются в 1й строке через data аттрибуты
    $args = array(
        'model' => $_POST['model'],
        'marka' => $_POST['marka']
    );

	// получаешь нужные cars
    $cars 

    // не знаю как это работает в smarty, но в пхп логика примерно такая:
    $output = передать параметр $cars в file='section/adds/cars-handler.tpl' и получить весь его контент

    die($output);
}
*}