{if ($viewed)}
  <div class="section">
      <h2 class="title-h2">Вы смотрели</h2>
      {*<div class="js-ajax-product-load" data-action="ajax_post_load" data-marka="Volkswagen" data-model="Crafter"></div>*}
  	{include file='section/adds/cars-handler.tpl' cars=$viewed}
  </div>
{/if}