.site-footer {
	background-color: $color-footer;
	padding-top: 22px;
	padding-bottom: 22px;

	a {
		@include opacity-hover;

		&:hover {
			text-decoration: none;
		}
	}

	@include screen( 0, sm ) {
		.footer-menu {
			display: none;
		}
	}

	@include screen( sm ) {
		.social-icons-block {
			float: right;
		}
	}

	.social {
		margin-top: 10px;
	}
}
.footer-menu {
	@include no-lst;

	li {
		display: inline-block;
		font-size: 13px;
		font-weight: 700;
		padding-left: 1.5%;

		a {
			color: $color-white;

			&:hover {
				text-decoration: underline;
			}
		}

		&:first-child {
			padding-left: 0;
		}
	}
}
#footer-info {
	@supports( display: flex ) {
		display: flex;
	}
}
.footer-info {
	color: $color-text-grey;
	display: table;
	font-size: 13px;
	width: 100%;

	a {
		color: $color-text-grey;
		text-decoration: underline;
	}

	@include screen( 0, sm ) {
		flex-direction: column;

		.footer-info-item {
			margin-top: 20px;

			&:first-child {
				border-top: 1px solid $color-footer-border;
				order: 2;
				padding-top: 20px;
			}
			&:nth-child(2) {
				order: 3;
			}
		}

		
		.footer-download {
			order: 1;
		}
	}

	@include screen( sm ) {
		border-top: 1px solid $color-footer-border;
		margin-top: 25px;
		padding-top: 32px;

		
		flex-direction: row;
		justify-content: space-between;

		@supports( display: flex ) {
			.footer-info-item {
				display: block;
			}
		}
	}
}

.footer-info-item {
	@include screen( sm ) {
		display: table-cell;
	}
}