body:not(.branding-activate) .branding-link,
body:not(.branding-activate) .branding-header,
body:not(.branding-activate) .branding-footer {
	display: none;
}

/*@media screen and (min-width: 1265px) {*/
	body.branding-activate {
		/*background-color: #ffcf00;*/
		background: url(/new/branding/2/background.jpg);
		background-repeat: repeat;
	}
	body.branding-activate a.branding-link {
		bottom: 0;
		display: block;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
	}
	body.branding-activate .branding-footer {
		position: relative;
		z-index: 1;
	}

	body.branding-activate .main-wrapper {
		margin-top: 170px;
		position: relative;
		z-index: 3;
	}
	body.branding-activate .branding-footer img {
		display: block;
	}
	body.branding-activate .branding-header {
		background-repeat: no-repeat;
		background-position: top center;
		height: 807px;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
/*}*/
/*
@media screen and (max-width: 1264px) {
	body.branding-activate .branding-link,
	body.branding-activate .branding-header,
	body.branding-activate .branding-footer {
		display: none;
	}
}*/