//
// Grid system
// --------------------------------------------------
$col-min-width: 250px;
$col-xs-width: $col-min-width*2 + $page-padding-xs*2;

.row {
	margin-left: -$row-margin;
	margin-right: -$row-margin;

	.col {
		display: inline-block;
		padding-left: $row-margin;
		padding-right: $row-margin;
		// position: relative;
		margin-bottom: $row-margin*2;
		vertical-align: top;

		.item {
			background-color: $color-yellow;
			
			min-height: 20px;
		}



		&:not(.col-wide) {
	    	max-width: $col-max-width + $row-margin*2;
	    	// max-width: $col-max-width + $row-margin;
		    // min-width: $col-min-width + $row-margin/2;

		    @include screen( 0, $col-xs-width ) {
		    	// max-width: $col-max-width + $row-margin*2;
		    	// min-width: $col-min-width;
		    }
	    }

	   
	}
	
	@include screen( 0, xs ) {
		margin-left: -$row-margin-sm;
		margin-right: -$row-margin-sm;
	 	.col {
	    	padding-left: $row-margin-sm;
			padding-right: $row-margin-sm;

			&:not(.col-wide) {
				max-width: $col-max-width + $row-margin-sm*2;
			}
		}
    }

	// &.cols-with-borders {
	// 	.col {
	// 		border: 1px solid $color-light;
	// 		padding-left: 0;
	// 		padding-right: 0;
	// 		margin-left: $row-margin;
	// 		margin-right: $row-margin;

	// 		@include screen( 0, xs ) {
	// 			margin-left: $row-margin-sm;
	// 			margin-right: $row-margin-sm;
	// 		}
	// 	}
	// }

	// &.row-no-paddings {
	// 	.col:not(.col-wide) {
	// 		max-width: $col-max-width + 2*$row-margin-sm;
	// 		min-width: $col-min-width;
	// 	}
	// }
}
.row-float {
	.col {
		float: left;

		// &:not(.col-wide) {
		// 	width: 25%;
		// }
	}
}
.row-no-paddings {
	margin-left: -$row-margin-sm;
	margin-right: -$row-margin-sm;

	.col {
		margin-bottom: $row-margin-sm;
		padding-left: $row-margin-sm;
		padding-right: $row-margin-sm;

		&:not(.col-wide) {
	    	max-width: $col-max-width + $row-margin-sm*2;
	    }

		.item {
			background-color: $color-grey;

		}


	}
}
.row-flex {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	html.no-flexbox & > * {
		display: inline-block;
		vertical-align: top;
		float: none;
	}

	.col {
	    
	    flex-basis: auto;
	    width: auto;

	    &:not(.col-wide) {
	    	// flex-grow: 1;
	    	flex: 1 auto;
	    }
	    
	}

	.col-wide {
		// flex-grow: 2;
		flex: 3 auto;

		// .col {
		// 	flex: 1 0;
		// }

		// &+.col {
		// 	flex: 1 auto;
		// }

	} 
}
.row-4 {
	@include screen( 0, xs ) {
		.col {
			width: 100%;
		}

	}
	@include screen( xs, sm ) {
		.col, .col:not(.col-wide) {
			// max-width: 50%;
			width: 50%;
		}

	}
	@include screen( sm, md ) {
		.col, .col:not(.col-wide) {
			// max-width: 33.3333%;
			width: 33.3333%;
		}

	}
	@include screen( md ) {
		.col, .col:not(.col-wide) {
			// max-width: 25%;
			width: 25%;
		}
	}
}
.row-3 {
	@include screen( xs, sm ) {
		.col {
			width: 100%;
		}

	}
	@include screen( sm, md ) {
		.col, .col:not(.col-wide) {
			// max-width: 50%;
			width: 50%;
		}

	}
	@include screen( md ) {
		.col, .col:not(.col-wide) {
			width: 33.3333%;
			// max-width: 33.3333%;
		}
	}
}
.column-center {
	@include screen( xs ) {
		padding-right: $row-margin;
	}
	@include screen( xs, sm ) {
		margin-right: 50%;

		// .row-4 .col {
		// 	width: 100%;
		// }

	}
	@include screen( sm, md ) {
		margin-right: 33.3333%;

		// .row-4 .col {
		// 	width: 50%;
		// }

	}
	@include screen( md ) {
		margin-right: 25%;

		.row-4 .col {
			max-width: 33.3333%;
			width: 33.3333%;
		}
	}
}
.column-right {
	float: right;
	// max-width: $col-max-width + $row-margin;
	// min-width: $col-min-width + $row-margin/2;

	@include screen( xs ) {
		padding-left: $row-margin;
	}

	@include screen( xs, sm ) {
		width: 50%;
	}
	@include screen( sm, md ) {
		width: 33.3333%;
	}
	@include screen( md ) {
		width: 25%;
	}
}