.site-header, .site-footer, .form-login {
  box-sizing: border-box;
  color: #444444;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;

  button span {
    background: none;
    height: auto;
    display: initial;
    padding: initial;
  }
  button span span {
    background: none;
    padding: initial;
    height: auto; 
}

.bootstrap-select .dropdown-toggle {
  border: 0;
}

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    &:hover,
    &:focus,
    &:active {
      outline: 0 none !important;
    }
  } 

  .bold {
      font-weight: 700;
  }
  .add-product {
    @include background-hover( $color-pink );
    background-color: $color-pink;
    color: $color-white;
    font-size: 14px;
    padding: 0 16px;
    height: 100%;

    .site-header & {
      color: $color-white;
    }

    &:hover {
      text-decoration: none;
    }

    .icon-plus {
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}
.site-header .bootstrap-select.js-select-type {
  display: inline-block !important;
}
  .site-header p, .site-footer p, .form-login p {
    margin-bottom: 20px; }
  .site-header a, .site-footer a, .form-login a {
    color: #1e2d5a;
    text-decoration: none; }
  .site-header a:not([class]), .site-footer a:not([class]), .form-login a:not([class]) {
    border: none;
    background: none;
    cursor: pointer;
    zoom: 1; }
    .site-header a:not([class]):hover, .site-footer a:not([class]):hover, .form-login a:not([class]):hover {
      text-decoration: underline; }
    .site-header a:not([class]):hover, .site-header a:not([class]):focus, .site-header a:not([class]):active, .site-footer a:not([class]):hover, .site-footer a:not([class]):focus, .site-footer a:not([class]):active, .form-login a:not([class]):hover, .form-login a:not([class]):focus, .form-login a:not([class]):active {
      outline: 0 none !important; }

html {
  min-height: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

body {
  @include screen( 0, $mobile-start ) {
    padding-top: $header-height;
  }
}

.site-header, .site-footer, .form-login {
  text-align: left;
  *,
  *:before, 
  *:after {
      box-sizing: border-box;
  }
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .primary-navigation {
      @include screen( $mobile-start ) {
      height: $header-height;
      margin: 0 340px 0 120px;
      padding-left: 3.5%;
    }
  }
  .login-menu {
    @include no-lst;

    border-top: 1px solid $color-light-grey;
    padding: 10px 0 0;
    margin: 0;

    text-align: left;

    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $color-light-grey;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: $color-light-grey;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: $color-light-grey;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: $color-light-grey;
  }

  input,
  select,
  textarea {
    box-shadow: none;
    border: 1px solid $color-border;
    border-radius: 0;
    background-color: $color-white;
    color: $color-text;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1;
    outline: 0;
    padding: 0 0 0 12px;
    &:not([type=checkbox]) {

      -webkit-appearance: none;
      -moz-appearance: none;
    }

    &[type="file"] {
      height: auto;
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-text;
      outline: 0;
    }
  }
  [type=checkbox] {
    height: 25px;
    margin: 0;
    float: left;
    width: 25px;

    &+label {
      margin-left: 35px;
    }
  }
  [type=submit] {
    background-color: $color-light-blue;
    border: 0;
    color: $color-white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    padding: 0 22px;

    &:hover {
      @include hover-background-lighter($color-light-blue);
      color: $color-white;
    }
  }
  textarea {
    height: 200px;
    max-width: 100%;
  }
  // label,
  // .label {
  //  font-size: 15px;
  // }
  input[type=submit] {
    width: auto;
  }
  select {
    // color: $color-grey;
    cursor: pointer;
    option:disabled {
      color: $color-grey;
    }
    &:disabled {
      color: $color-light-grey;
      cursor: not-allowed;
    }

  }

  select,
  select::-webkit-input-placeholder,
  select:-moz-placeholder,
  select::-moz-placeholder,
  select:-ms-input-placeholder {
      color: $color-grey;
  }
  .select-wrapper {
    display: inline-block;
    position: relative;

    select {
      padding-right: 30px;
      width: 100%;
    }

    select::-ms-expand {
        display: none;
    }

    // &:before {
    //   @extend .arrow-down-big;

    //   border-color: $color-grey;
    //   content: '';
    //   height: 10px;
    //   right: 10px;
    //   margin-top: -7px;
    //   pointer-events: none;
    //   position: absolute;
    //   top: 50%;
    //   width: 10px;
    //   z-index: 1;
    // }
  }
  .radio-tabs {
    input[type=radio] {
      display: none;
    }
    label {
      color: $color-white;
      display: inline-block;
      padding-bottom: 8px;
    }
    input[type=radio]:checked + label {
      text-decoration: underline;
    }
  }
  .subscribe {
    padding-right: 34px;
    position: relative;
    .email {
      input {
        border: 0;
        width: 100%;
      }
    }
    .submit {
      height: 34px;
      line-height: 30px;
      position: absolute;
      text-align: center;
      top: 0;
      right: 0;
      width: 34px;

      &:after {
        @extend .icon;
        @extend .icon-subscribe;

        content: '';
        pointer-events: none;
        position: relative;
        vertical-align: middle;
        z-index: 2;
      }
      [type=submit] {
        @include hover-background-lighter($color-blue);

        background-color: $color-blue;
        font-size: 0;
        left: 0;
        line-height: 0;
        padding: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
    }
    
  }
  .error-message {
    color: $color-red;
    font-size: 16px;
    text-align: center;

    .title +& {
      padding-bottom: 20px;
      margin-top: -20px;
    }
  }
  .btn-117 {
    border: 1px solid $color-light-grey;
    color: $color-blue;
    font-size: 21px;
    font-weight: 700;
    text-align: center;

    &:hover {
      border-color: $color-blue;
      text-decoration: none; 
    } 

    .icon {
      margin-right: 5px;
    }
  }
  .btn-border-blue {
    border: 1px solid $color-blue;
    color: $color-blue;
    padding: 5px;
    text-align: center;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
      text-decoration: none; 
    }
  }

  .btn-border-grey {
    border: 1px solid $color-blue-grey;
    color: $color-blue;
    padding: 5px;
    text-align: center;

    &:hover {
      text-decoration: none; 
    }
  }
}
.form-login {
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  a, label {
    font-size: 16px;
  }
  input:not([type=checkbox]) {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  a {
    color: $color-light-blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  .registrate {
    background-color: $color-light;
    font-size: 16px;
    height: 66px;
    line-height: 66px;
    display: block;
    text-align: center;
    

    &:hover {
      text-decoration: none;
    }
  }
  .form-login-left, .form-login-right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .form-login-right {
    text-align: right;
  }
  [type=submit] {
    @include hover-background-lighter($color-blue);

    background-color: $color-blue;
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
    width: 100%;

    &:disabled {
      color: $color-light-grey;
      cursor: not-allowed;
    }
  }
  .form-login-inner {
    padding: 30px 40px 25px;

    &.error-inputs {
      input:not([type=checkbox]) {
        border-color: $color-red;
      }
    }
  }


  
  @include screen( 0, xs ) {
    .form-login-inner {
      padding: 10px 20px 15px;
    }
    [type=submit] {
      height: 30px;
      line-height: 30px;
    }
  }
}
.site-header, .site-footer {
    margin: 0 auto;
    max-width: 1600px;
}
.filter-form-block {
  margin-top: 20px;

  @include screen( md ) {
    .form-inner {
      display: flex;

      .box-wrapper {
        flex: 2;

        select {
          padding-left: 20px;
        }
      }
      [type=submit] {
        flex: 1;
      }
    }
    
  }
}
.filter-form {
  .form-inner {
    .select-wrapper {
      &:before {
        display: none;
      }
      @include screen( md ) {
        &:after {
          background-color: $color-grey;
          content: '';
          display: block;
          left: 0;
          position: absolute;
          top: 20%;
          height: 60%;
          width: 1px;
          z-index: 5;
        }

        &:first-of-type {
          select, .dropdown-toggle {
            border-left: 1px solid $color-grey;
          }

          &:after {
            display: none;
          }
        }
      }
      .bootstrap-select {
        width: 100%;
      }
    }
  }

  select, .dropdown-toggle {
    border-right: 0;
    border-left: 0;
  }
  [type=submit] {
    background-color: $color-pink;
    font-weight: 300;
    max-width: 136px;

    &:hover {
      @include hover-background-lighter($color-pink);
    }
  }

  [type=text] {
    display: block;
    width: 100%;
  }
  @include screen( md ) {
    select, [type=submit], [type=text], .bootstrap-select, .dropdown-toggle {
      height: 50px;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
      line-height: 48px;
      height: 48px;
    }
    // .dropdown-toggle .filter-option {
    //  color: $color-text;
    //  line-height: 50px;
    // }
  }
}
.social-icons-block {
  margin: 0 -7px;
  line-height: 1;
  .icon-item {
    &.with-name {
      .icon {
        margin-top: -2px;
        vertical-align: middle;
      }
      &:hover {
        text-decoration: none;
      }
      
    }
  }

  &:not(.small) .icon {
    @include opacity-hover;

    background-color: $color-blue-grey;
    border-radius: 3px;
    display: inline-block;
    margin: 0 7px;

  }
  &.messaging-apps-block {
    .icon-item {
      border: 1px solid $color-dark-blue-border;
      border-radius: 3px;
      color: $color-blue;
      padding: 10px;
    }
    .icon {
      background-color: transparent;
    }
  }
}
