html {
	height: 100%;
	min-height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
}

body {
	@include font-arial;
	// @include transition('transform');

	font-size: $font-size;
	width: 100%;
	min-height: 100%;	
	line-height: $line-height;
	color: $color-text;
	background-color: $color-light-bg;
	overflow-x: hidden; 
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;

	&.body-dekstop {
		min-width: 1124px; 
		overflow-x: auto;
	}

	&.mobile-menu-active, &.dekstop-menu-active {
		@include screen( $hide-wrapper-padding ) {
			#page {
				&:after {
					left: -50%;
					right: -50%;
				}
			}
		}

		@include screen( 0, $mobile-start ) {
			top: 0;
		}
	}

			

	@include screen( 0, $mobile-start ) {
		&.mobile-menu-active {
			#page {
				&:after {
					background-color: rgba($color-black, 0.5);
					bottom: 0;
					content: '';
					display: block;
					left: 0;
					pointer-events: none;
					position: fixed;
					top: 0px;
					right: 0;
					z-index: 9999;
				}
			}
		}
	}

	@include screen( $mobile-start ) {
		&.dekstop-menu-active {
			.site-header {
				position: relative;
				z-index: 1006; 
			} 

			#page {
				&:after {
					background-color: rgba($color-black, 0.5);
					bottom: 0;
					content: '';
					display: block;
					left: 0;
					pointer-events: none;
					position: fixed;
					top: 0px;
					right: 0;
					z-index: 9999;
				}
			}
		}
	}

	&.login-menu-active {
		.site-header {
			
			z-index: 16; 

			@include screen( $mobile-start ) {
				position: relative;
			}
		} 
		#page {
			&:after {
				background-color: rgba($color-black, 0.5);
				bottom: 0;
				content: '';
				display: block;
				left: 0;
				pointer-events: none;
				position: fixed;
				top: 0px;
				right: 0;
				z-index: 15;
			}
		}

		@include screen( 0, xs ) {
			overflow: hidden;
		}
	}

	&.dekstop-menu-active, &.mobile-menu-active {
			#page {
				&:after {
					background-color: rgba($color-black, 0.5);
					bottom: 0;
					content: '';
					display: block;
					left: 0;
					pointer-events: none;
					position: fixed;
					top: 0px;
					right: 0;
					z-index: 5;
				}
			}
			
		@include screen( $hide-wrapper-padding ) {
			#page {
				&:after {
					left: -50%;
					right: -50%;
				}
			}
		}

		@include screen( 0, $mobile-start ) {
			top: 0;
		}
	}

	@include screen( 0, $mobile-start ) {
		#content, #site-footer, .before-header {
			 @include transition('transform');

			 
		}
		&.mobile-menu-active {
			overflow: hidden;
			
			#content, #site-footer, .before-header {
				pointer-events: none; 
				transform: translate3d(-$mobile-translate, 0, 0);
				// height: 100%;
				// overflow-x: hidden;
			}
		}

	}

	@include screen( 0, md ) { 
		&.open-search-block {
			overflow: hidden;
		}
	}

	@include screen( 0, $mobile-start ) {
		padding-top: $header-height;
	}

	
}

.ie-fixMinHeight {
    display:flex;
}
#page {
	// @include transition('transform');

	background-color: $color-white; 
	box-shadow: $content-shadow;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// overflow: hidden; 
	position: relative;
	// transform: translate3d( 0, 0, 0 );
	width: 100%;

	
}
#content {
	$max-wdth: $wrapper + $page-padding * 2;
	

	flex-grow: 1;
	padding-left: $page-padding;
	padding-right: $page-padding;
	padding-top: 25px;
	max-width: $max-wdth;
	margin: 0 auto;
	// overflow: hidden;
	width: 100%;

	@include screen( 0, xs ) {
		padding-left: $page-padding-xs;
		padding-right: $page-padding-xs;
	}

	@include screen( xs, $hide-wrapper-padding ) {
		// padding-left: 30px;
		// padding-right: 30px;
	}

	@include screen( 0, $hide-wrapper-padding ) {
		$max-wdth: $wrapper + $page-padding-xs * 2;

		padding-left: $page-padding-xs;
		padding-right: $page-padding-xs;
		max-width: $max-wdth;
	}

	
}
.section, .extra-section {
	margin-bottom: 20px;

	@include screen( 0, xs ) {
		// margin-bottom: 20px;

		&:not(.section-background) {
			margin-left: auto;
			margin-right: auto;
			max-width: $col-max-width + $row-margin*2;
		}
	}
}
.filter-block + .extra-section {
	margin-top: 10px;
}
.section-background {
	background-color: $color-light-bg;
	padding-top: 15px;
	padding-bottom: 30px;
	position: relative;
	overflow: hidden;

	@include screen( 0, xs ) {
		padding-bottom: 15px;

		.title-h2 {
			margin-left: auto;
			margin-right: auto;
			max-width: $col-max-width + $row-margin*2;
		}
	}

	// @include screen( $hide-wrapper-padding ) {
	// 	&:before, &:after {
	// 		bottom: 0;
	// 		content: '';
	// 		background-color: $color-light-bg;
	// 		display: block;
	// 		height: 100%;
	// 		position: absolute;
	// 		top: 0;
	// 		width: 50%;
	// 	}

	// 	&:before {
	// 		left: -50%;
	// 	}
	// 	&:after {
	// 		right: -50%;
	// 	}

	// }

	@include screen( 0, sm ) {
		margin-left: -$page-padding-xs;
		margin-right: -$page-padding-xs;
		padding-left: $page-padding-xs;
		padding-right: $page-padding-xs;
	}

	@include screen( sm ) {
		margin-left: -$page-padding;
		margin-right: -$page-padding;
		padding-left: $page-padding;
		padding-right: $page-padding;
	}
}

.wrapper {
	@include clearfix;

	$max-wdth: $wrapper + $window-border * 2 + $page-padding * 2;

	box-sizing: border-box;
	// display: flex;
  	// flex-direction: column;
	margin: 0 auto;
	max-width: $max-wdth;
	padding-left: $window-border;
	padding-right: $window-border;
	position: relative;
	width: 100%;

	&.row {
		$x: $window-border - $grid-gutter-width/2;

		@if $x > 0 {
			padding-left: $x;
			padding-right: $x;
		} @else {
			max-width: $max-wdth + ( $grid-gutter-width/2 - $window-border );
			padding-left: 0;
			padding-right: 0;
		}
	}

	@include screen( 0, $hide-wrapper-padding ) {
		// $max-wdth: $wrapper + $window-border-xs* 2;

		padding-left: $window-border-xs;
		padding-right: $window-border-xs;
		// max-width: $max-wdth;
	}
}