$images_path: "../images";

/* ==========================================================================
   Mixines
============================================================================ */

@function em-calc( $px ) {
	@return #{$px/16}em;
}

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
 
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
 
  @return $x1;
}

/* =Enable Fonts
============================================================================ */

@mixin font-arial {
	font-family: Arial, Helvetica, sans-serif;
}
@mixin font-times {
	font-family: "Times New Roman", Times, serif;
}
@mixin font-helvetica {
	font-family: "Helvetica", Helvetica, Arial, sans-serif;
}


/* =Gradients 
============================================================================ */

@mixin gradient($from, $to){
	background: $from;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	background: -o-linear-gradient(top, $from 0%,$to 100%);
	background: -ms-linear-gradient(top, $from 0%,$to 100%);
	background: linear-gradient(to bottom, $from 0%,$to 100%);
}

/* =Other
============================================================================ */

@mixin no-lst {
	margin-left: 0px;
	margin-bottom: 0px;
	list-style: none;
}

@mixin no-selection {
	// disable text selection
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin font-size($sizeValue){
	font-size: $sizeValue + px; //fallback for old browsers
	font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue){
	line-height: $heightValue + px; //fallback for old browsers
	line-height: (0.0625 * $heightValue) + rem;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin triangle( $direction, $color, $size ) {
	border: $size outset transparent;
	
	@if $direction == "left" {
		border-right: $size solid $color;
	}

	@else if $direction == "right" {
		border-left: $size solid $color;
	}

	@else if $direction == "up" {
		border-bottom: $size solid $color;
	}

	@else if $direction == "down" {
		border-top: $size solid $color;
	}

	height: 0;
	width: 0;
	display: block;
	content: '';
	position: absolute;
}

@mixin safari() {
	body.safari-browser & { @content; }
}


@mixin screen( $min, $max: 0 ) {
	@if lg == $min {
		$min: $screen-lg-min;
		$max: 0;
	} @else if md == $min {
		$min: $screen-md-min;
	} @else if sm == $min {
		$min: $screen-sm-min;
	} @else if xs == $min {
		$min: $screen-xs-min;
	} @else {
		$min: $min;
	}

	@if lg == $max {
		$max: ($screen-lg-min - 1);
	} @else if md == $max {
		$max: ($screen-md-min - 1);
	} @else if sm == $max {
		$max: ($screen-sm-min - 1);
	} @else if xs == $max {
		$max: ($screen-xs-min - 1);
	} @else {
		$max: $max;
	}

	$has-and: 0;
	$and: '';
	$min-w: '';
	$max-w: '';

	@if 0 != $min {
		$min-w: '(min-width: #{$min})';
		$has-and: $has-and + 1;
	} 

	@if 0 != $max {
		$max-w: '(max-width: #{$max})';
		$has-and: $has-and + 1;
	}

	@if 2 == $has-and {
		$and: 'and';
	} 	

	$media: '#{$min-w} #{$and} #{$max-w}';

	@media #{$media} {
		@content;
	}
}

@mixin rtl() {
	body.rtl & {
		@content;
	}
}

@mixin transition( $prop: 'all', $duration: .2s, $func: 'ease', $delay: 0s ) {
	// content: $prop;
	transition: #{$prop} #{$duration} #{$func} #{$delay};
}


@mixin circle-image() {
	position: relative;
	overflow: hidden;

	&:before {
		border-radius: 50%;
		content: '';
		position: absolute;
		width: 98%;
		height: 98%;
		left: 1%;
		top: 1%;
		box-shadow: 0 0 0 100px #fff;
	}

	img {
		margin: 0;
		display: block;
	}
}

@mixin opacity-hover {
	&:hover:not([disabled]) {
		@include opacity(0.8);
	} 
}

@mixin background-hover( $bgc ) {
	&:hover:not([disabled]) {
		background-color: darken($bgc, 5%);
	}
}

@mixin arrow-after( $bc: $color-grey, $size: 6 ) {
	$transform-size: sqrt($size * $size * 2) / 2;
	$margin-top: -#{$transform-size}px;
	$size-px: #{$size}px;

	@include transition('transform');

	border-bottom: 1px solid $bc;
	border-right: 1px solid $bc;
	display: block;
	margin-top: $margin-top;
	height: $size-px;

	position: absolute;
	right: 10px;
	top: 50%;
	transform: rotate( 45deg );
	width: $size-px;
}
@mixin arrow-up-after( $bc: $color-grey, $size: 6 ) {
	@include arrow-after( $bc, $size );

	margin-top: 0;
	transform: rotate( 225deg );
}
@mixin icon-arrow( $width, $height, $border, $color, $rotate: 0deg ) {
	$arrow-height: sqrt($height * $height * 2);
	$angle-height: sqrt(($height+$border) * ($height+$border) * 2);
	$angle-top: ($height + $border)/2;

	$icon-width: #{$width}px;
	$icon-height: #{$height}px;
	$icon-border: #{$border}px;


	box-sizing: content-box;
	display: inline-block;
	height: #{$angle-height}px;
	position: relative;
	transform: rotate($rotate);
	vertical-align: middle;
	width: $icon-width;

	&:after, &:before {
		box-sizing: content-box;
		content: '';
		display: block;
		top: 50%;
		position: absolute;
		
		vertical-align: middle;
	}
	&:after {
		border-right: $icon-border solid $color;
		border-top: $icon-border solid $color;
		// margin-top: -#{$arrow-height/2}px;
		margin-top: -#{$angle-top}px;
		height: $icon-height;
		transform: rotate(45deg);
		right: 0;
		// top: #{$border/2}px;
		width: $icon-height;
	}
	&:before {
		background-color: $color;
		height: $icon-border;
		margin-top: -#{$border/2}px;
		left: 0;
		width: $icon-width;
	}
}

@mixin hover-lighter( $color, $opacity: 0.8 ) {
	&:hover:not([disabled]) {
		color: rgba( $color, $opacity );
	}
}

@mixin hover-background-lighter( $color, $opacity: 0.8 ) {
	&:hover:not([disabled]) {
		background-color: rgba( $color, $opacity );
	}
}

@mixin icon-pass( $size, $border, $color ) {
	border-radius: 50%;
	border: #{$border}px solid $color; 
	box-sizing: content-box;
	display: inline-block;
	height: #{$size}px;
	position: relative;
	vertical-align: middle;
	width: #{$size}px;

	&:before {
		background-color: $color;
		box-sizing: content-box;
		content: '';
		display: block;
		height: #{$border}px;
		top: 50%;
		position: absolute;
		transform: rotate(-45deg);
		vertical-align: middle;
		width: #{$size}px;
	}

}