$wrapper: 1206px;

$tablet: 768px;

$color-black: #111111;
$color-blue: #1e2d5a;
$color-sky-blue: #8ab1de;
$color-rude-blue: #455278;
$color-light-blue: #105bac;
$color-dark-blue: #303f69;
$color-dark-blue-border: #9ca3b8;
$color-light: #eff1f5;
$color-light-bg: #ebedf2;
$color-dark-grey: #999;
$color-grey: #bababa;
$color-light-grey: #d1d1d1;
$color-blue-grey: #5a6570;
$color-pink: #d61b3f;
$color-pink-light: #de4965;
$color-white: #fff;
$color-yellow: #ffc400;
$color-green: #377a54;
$color-dark-green: #33734e;
$color-light-green: #a7c1b2;
$color-red: #ff7044;
$color-placeholder: #7e7e7e;

$color-text: #444444; 
$color-text-grey: #85898d;
$color-link: $color-blue;
$color-border: $color-grey;
$color-footer: #2e3740;
$color-footer-border: #434e59;

$color-facebook: #4264a3;
$color-vk: #557fa7;
$color-youtube: #d01b22;
$color-odnoklassniki: #fd8100;
$color-telegram: #32aee4;
$color-viber: #875baa;

$grid-gutter-width: 20px;

// $window-border: 40px;
$window-border: 0px;
$window-border-xs: 0px;

$row-margin: 10px;
$row-margin-sm: 1px;

$page-padding: 30px;
$page-padding-xs: 10px;

$line-height: 1.6;
$font-size: 15px;

$header-height: 56px;

$mobile-translate: 280px;

$hide-wrapper-padding: 1345px;

$col-max-width: 300px;
$news-min-height: 350px;

$banner-height-2: 400px;
$banner-width-2: 240px;
$banner-height-mob-2: 250px;
$banner-width-mob-2: 300px;

$banner-height-3: 600px;
$banner-width-3: 300px;
$banner-height-mob-3: $banner-height-mob-2;
$banner-width-mob-3: $banner-width-mob-2;


// $mobile-start: lg;
$mobile-start: md;

$linear-gradient: linear-gradient(to bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0.0)100%);
$linear-gradient-top: linear-gradient(to top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.1)100%);
$linear-gradient-add: linear-gradient(to top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0)100%);

$content-shadow: 0 0 16px rgba($color-dark-grey, 0.3);

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (930px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);