<div id="js-fixed-content-basis" class="clearfix">
<div class="main-content">
	{include file='section/adds-archive/main-content.tpl'}
</div>
<div class="right-sidebar">
	{include file='section/adds-archive/banners.tpl'}
</div>
</div>