<div class="btn-to-notebook" id="js-btn-to-notebook">
	<a href="{$static_www}/car/favorites/">
		<span class="favourites"><span class="icon icon-favourites"></span></span>
		<span class="message js-message" >2 объявления в избранном</span>
	</a>{*<span class="js-close close"><span class="icon icon-hide"></span>*}</span>
</div>