<div class="title-ah-ad">
    <div>Автохаусы</div>
    <div>Автодилеры</div>
</div>
<div class="prosucts-list prosucts-list-ah" >
  {foreach from=$company key=key item=comp}
    {include file="content/adds/company-full.tpl"}
  {/foreach}
</div>
