<!-- поисковик по диски -->
<div class="filter-form-block js-select-content" id="search-tab-disks">
	<form action="//www.abw.by/" method="GET" class="js-filter-form filter-form">
        <input type="hidden" name="set_small_form_6" value="1">
        <input type="hidden" name="act" value="search_adv">
        <input type="hidden" name="act_adv" value="step_3">
        <input type="hidden" name="cat_id" value="5">
        <input type="hidden" name="sub_id" value="18">
		<div class="form-inner">
			<div class="select-wrapper box-wrapper">
				<select name="marka_id" class="js-select-marka" title="Марка">
                    <option value="" selected>Марка</option>
					{html_options options=$search.marks}
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="model_id" class="js-select-model" disabled title="Модель">
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="shina_size_id" title="Диаметр">
                    <option value="" >Любой</option>
					{html_options options=$search.shina_size}
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="n_holes" title="Кол-во болтов">
                    <option value="" >Любое</option>
					{html_options options=$search.bolts}
				</select>
			</div>
			<input type="submit" value="Найти">
		</div>
	</form>
</div>