<!-- поисковик по шины -->
<div class="filter-form-block js-select-content" id="search-tab-tires">
	<form action="//www.abw.by/" method="GET" class="js-filter-form filter-form">
		<input type="hidden" name="set_small_form_4" value="1">
        <input type="hidden" name="act" value="search_adv">
        <input type="hidden" name="act_adv" value="step_3">
        <input type="hidden" name="cat_id" value="4">
        <input type="hidden" name="sub_id" value="15">
		<div class="form-inner">
			<div class="select-wrapper box-wrapper">
				<select name="shina_size_id" title="Диаметр">
                    <option value="" >Любой</option>
					{html_options options=$search.shina_size}
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="shina_size" title="Ширина">
                    <option value="" >Любая</option>
					{html_options options=$search.shina_width}
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="shina_size_2" title="Профиль">
                    <option value="" >Любой</option>
                    {html_options options=$search.shina_profile}
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="shina_season" title="Сезонность">
                    <option value="" >Любая</option>
					{html_options options=$search.shina_season}
				</select>
			</div>
			<input type="submit" value="Найти">
		</div>
	</form>
</div>