<!-- поисковик по грузовики и спецтехника -->
<div class="filter-form-block js-select-content" id="search-tab-trucks">
	<form action="//www.abw.by/" method="GET" class="js-filter-form filter-form">
        <input type="hidden" name="set_small_form_2" value="1">
        <input type="hidden" name="act" value="search_adv">
        <input type="hidden" name="act_adv" value="step_3">
        <input type="hidden" name="cat_id" value="1">
        <input type="hidden" name="sub_id" value="1">
		<div class="form-inner">
			<div class="select-wrapper box-wrapper">
				<select name="marka_id" class="js-select-marka" title="Тип/Марка">
					{html_options options=$search.marks_truck}
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="model_id" class="js-select-model" disabled  title="Марка/Модель">
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="year_id" title="Год, от">
					{html_options options=$search.year}
				</select>
			</div>
			<div class="select-wrapper box-wrapper">
				<select name="price_value_max" title="Цена, до">
					{html_options options=$search.price}
				</select>
			</div>
			<input type="submit" value="Найти">
		</div>
	</form>
</div>