<form action="https://www.abw.by/rss/" method="POST">
	<div class="subscribe">
		<input type="hidden" name="act" value="mailing">
		<input type="hidden" name="act_adv" value="step_3">
		<input type="hidden" name="option" value="news">
		<input type="hidden" name="setting" value="0">
		<div class="email"><input type="email" name="email" maxlength="50" placeholder="Введите ваш e-mail" required></div>
		<div class="submit"><input type="submit"></div>
	</div>
</form>