/* ==========================================================================
	Adds Common Styles
========================================================================== */
.row-products.row-flex {
	.col {
		display: flex;
	}
	.product-item, .product-item>a, .simple-item-thumb, .simple-item-thumb>img {
		display: flex;
		flex: 1;
	}
}
.product-item {
	margin-bottom: 2px;

	// .row-flex & {
	// 	display: flex;
	// 	flex: 1;
	// 	width: 100%;
	// 	// min-height: 100%;

	// 	.simple-item-thumb {
	// 		// height: 100%;
	// 	}
	// }
	&.simple-item {
		.simple-item-content-inner {
			padding: 0;

			.data {
				// background: $linear-gradient-add;
				height: auto;
				padding-top: 25px;

				&:after {
					display: none;
				}
			}
		}

		.simple-item-content{
			color: $color-white;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			z-index: 1;
			width: 100%;
			&:before {
				@include opacity(0);
			}
		}

		.simple-item-thumb {
			margin-bottom: 0;

			img {
				// min-height: 100%;
			}
		}

		.title {
			color: $color-white;
			padding-left: 0;
		}

		@include screen( 0, md ) {
			.data .data-inner {
				display: none;
			}
		}
		
	}

	.data-price {
		margin-top: 6px;
	}
	.data-price-byn {
		color: $color-sky-blue;
		font-size: 16px;
		font-weight: 700;
	}
	.data-price-usd {
		color: $color-light-grey;
		font-size: 14px;
		margin-left: 5px;
	}
	.data-inner {
		margin-top: 6px;

		.data-item:not(:last-child) {
			margin-right: 6px;
		}
	}

	&.special {
		// &:after {
		// 	content: '';
		// 	border: 6px solid $color-pink;
		// 	height: 100%;
		// 	left: 0;
		// 	position: absolute;
		// 	pointer-events: none;
		// 	top: 0;
		// 	width: 100%;
		// 	z-index: 2;
		// }
		.simple-item-thumb {
			position: relative;
			&:before {
				@include opacity(0);
				@include transition('opacity');
				content: '';
				background: $linear-gradient;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

			&:hover {
				&:before {
					@include opacity(0.65);
				}
			}
		}
	}
	&.item-no-photo {
		.simple-item-thumb {
			position: relative;

		}
	}
	.label.label-special-offer,
	.label.label-special-overtaking {
		
		line-height: 22px;
		padding: 0 9px 0 6px;
		span {
			vertical-align: middle;
		}
		.icon {
			margin-right: 3px;
			vertical-align: middle;
		}
		.icon-fire-white {
			height: 14px;
			width: 14px;
		}
		.icon-arrow-up {
			height: 10px;
			width: 10px;
		}
	}
	.label.label-special-offer {
		background-color: rgba( $color-pink, 0.7 );
	}
	.label.label-special-overtaking {
		background-color: rgba( $color-yellow, 0.7 );
	}

	html.ie9 & {
		&.special {
			.simple-item-thumb {
				&:before {
					background: rgba(0,0,0,0.8);
				}
			}
		}
		
	}

	@include screen( 0, lg ) {
		.data-price-byn {
			font-size: 14px;
		}

		.data-price-usd {
			font-size: 13px;
		}
	}
}
.special-offer-link,
.overtracking-link {
	margin-bottom: 5px;
	margin-top: 20px;

	span {
		vertical-align: middle;
	}

	a {
		color: $color-light-blue;
	}

}
.special-offer-link {

	.title {
		font-size: 16px;
		font-weight: 700;
		margin-right: 10px;
	}
	.icon-fire {
		height: 22px;
		margin-right: 3px;
		width: 22px;
	}

	@include screen( 0, sm ) {
		&+.overtracking-link {
			margin-top: 5px;
		}
	}
	@include screen( sm ) {
		display: inline-block;
	}
}
.overtracking-link {
	.icon-arrow-up-blue {
		height: 14px;
		margin-right: 3px;
		width: 14px;
	}

	@include screen( sm ) {
		float: right;
	}
}