/* ==========================================================================
	Exchange Block
========================================================================== */
.exchange-rates {
	background-color: $color-green;
	margin-bottom: 30px;
	padding-bottom: 15px;
	position: relative;

	&:before {
		@include sprite-retina('icon-exchange');

		content: '';
		left: 10px;
		position: absolute;
		top: 38%;
		z-index: 1;

	}

	table {
		color: $color-white;
		font-size: 14px;
		position: relative;
		text-align: center;
		width: 100%;
		z-index: 2;

		a {
			color: $color-white;
		}

		tr {
			&:first-child {
				border-bottom: 2px solid $color-dark-green;

				th {
					color: $color-light-green;
					padding: 16px 5px 8px;
					// text-align: left;
					&:first-child {
						color: $color-white;
						font-weight: 700;
					}
				}
			}
			&:nth-child(2) td {
				padding-top: 8px;
			}
		}

		td, tr th {
			&:first-child {
				text-align: right;
			}
		}

		td {
			&:first-child {
				color: $color-light-green;
			}
		}

		td {
			padding: 5px;
		}
	}

	.icon-decrease {
		@include icon-arrow( 10, 4, 1, $color-light-green, 90deg );
	}

	.icon-increase {
		@include icon-arrow( 10, 4, 1, $color-light-green, -90deg );
	}
}