/* ==========================================================================
	Front Filter
========================================================================== */
$margin-height: 4px;
$categories-link-height: 85px;
$block-height: $categories-link-height + $margin-height;
$banner-sm-height: 600px;
$banner-sm-width: 300px;
$filter-breakpoint: sm;

.categories-link-block {
	font-size: 0;
	height: $block-height;
	line-height: 0;
	margin-left: -2px;
	// margin-bottom: $margin-height;

	.category-item {
		display: inline-block;
		height: $block-height;
		padding-left: 2px;
		padding-right: 2px;
		padding-bottom: $margin-height;
		vertical-align: top;

		.cat-icon {
			margin: 0 auto;
			height: 33.36px;
			width: 60px;
		}

		a {
			display: block;
			height: 100%;
			width: 100%;

			&:hover {
				text-decoration: none;
			}
		}

		&.main {
			.category-main-inner {
				background-color: $color-white;
				height: 100%;
			}
		}


		.category-item-inner:hover, &.main {
			text-decoration: none;

			.title {
				color: $color-pink;
			}
			a {
				text-decoration: none;
			}
			.cat-icon {
				@extend .cat-icon-hover;
			}
		}

		&:not(.main) {
			.category-item-inner {
				background-color: $color-light-bg;
			}
		}

		.category-item-inner {
			border: 1px solid $color-light;
			color: $color-blue;
			font-weight: 700;
			height: 100%;
			display: block;
			padding: 10px 5px;
			text-align: center;
			vertical-align: middle;
			width: 100%;
		}

		.title {
			color: $color-light-blue;
			font-size: 16px;
			font-weight: 300;
			line-height: 1;
			height: 24px;
			margin-top: 8px;
			width: 100%;
			word-wrap: break-word;
		}

	}
	@include screen( 0, $filter-breakpoint ) {
		overflow: hidden;
		.category-item {
			margin-right: 5px;
			display: inline-block;
			min-width: 130px;

			.title {
				font-size: 14px;
				
			}
		}
		
		.owl-item {
			// display: inline-block;
			float: left;
			height: $block-height;

			.category-item {
				display: block;
				float: left;
				margin-right: 0;
				padding-left: 5px;
				padding-right: 5px;
				
			}	
			&>.category-item {
				width: 100% !important;
			}

			.show-more {
				.category-item {
					// width: 20%;
				}
			}


		}
	}
	@include screen( $filter-breakpoint ) {
		margin-right: 50px;

		.category-item {
			width: 20%;

			.title {
				font-size: 16px;
			}

			&.main {
				height: $block-height + 1;
				padding-bottom: 0;
				
				.category-item-inner {
					
					border-bottom-color: $color-white;
					padding-bottom: $margin-height+10px;
					position: relative;

				}
			}

			&.category-item-dekstop-hide {
				visibility: hidden;
			}
		}



		.show-more {
			@include transition('all');
			border-color: $color-light;
			height: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			width: 0;
			z-index: 2;

			// .show-more-inner {
			// 	display: inline-block;
			// }

			.category-item {
				width: 50%;

				&.category-item-dekstop-hide {
					visibility: visible;
				}
			}

			&.open {
				background-color: $color-white;
				border: 1px solid $color-light;
				height: auto;
				padding: 5%;
				width:  calc(50% - 50px/2);
			}
		}
	}
	@include screen( sm, md ) {
		margin-right: 30px;
		.category-item {
			.title {
				font-size: 14px;
			}
		}
	}
	@include screen( md, lg ) {
		.category-item {
			.title {
				font-size: 14px;
			}
		}
	}
	
	// .next {
	// 	display: inline-block;
	// 	margin-top: -20px;
	// 	top: 50%;
	// 	position: absolute;
	// 	right: 12px;

	// 	.icon {
	// 		cursor: pointer;
			
	// 	}
	// }
}
.categories-link-outer {
	height: $block-height;
	position: relative;
}
.btn-show-more {
	@include screen( 0, $filter-breakpoint ) {
		display: none;
	}	
	@include screen( $filter-breakpoint ) {
		border: 1px solid $color-light;
		cursor: pointer;
		height: $categories-link-height;
		right: 0;
		position: absolute;
		top: 0;
		width: 49px;
		z-index: 3;

		&.open {
			border: 0;
		}

		.btn-show-more-inner {
			background-color: $color-blue;
			position: absolute;
			height: 4px;
			top: 50%;
			margin-left: -2px;
			margin-top: -2px;
			left: 50%;
			width: 4px;

			&:after,
			&:before {
				background-color: $color-blue;
				content: '';
				height: 4px;
				left: 0;
				position: absolute;
				width: 4px;
			}

			&:after {
				top: -10px;
			}
			&:before {
				bottom: -10px;
			}
		}
	}
	@include screen( sm, md ) {
		width: 29px;
	}
}
// .categories-link-slider {
// 	// height: $categories-link-height;
// 	// margin-right: 80px;
// }
.filter-block {
	// display: none;
	margin-bottom: 2px;
	.filter {
		padding-left: 50px;
		padding-right: 50px;
		

		@include screen( 0, $filter-breakpoint ) {
			margin-top: 5px;
		}
		

		@include screen( sm, md ) {
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			// padding-bottom: 20px;
		}

		@include screen( 0, sm ) {
			padding-left: 0;
			padding-right: 0;
		}


		@include screen( sm ) {
			border: 1px solid $color-light;
			padding-bottom: 50px;
		}

		@include screen( md ) {
			padding-top: 35px;
		}
	}

	@include screen( xs, sm ) {
		margin-top: -$banner-height-mob-3 - 20px;
		// margin-top: -$banner-height-3 - 20px;
		padding-top: $banner-width-mob-3;
		// padding-top: $banner-height-3;
		position: relative;

		.filter-right {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 5;
		}
	}

	@include screen( 0, sm ) {
		margin-bottom: 20px;
		
		// .filter-right {
		// 	height: $banner-height-mob-3;
		// 	width: $banner-width-mob-3;
		// }

		.filter-center {
			margin-top: 20px;
		}
	}
	
	@include screen( $filter-breakpoint ) {
		// .filter-right {
		// 	height: $banner-height-3;
		// 	width: $banner-width-3;
		// }
		.filter-right {
			float: right;
		}
		.filter-center {
			height: $banner-height-3;
			margin-right: $banner-width-3 + $row-margin-sm*2;
		}
	}

	&.hide-filter-right {
		.filter-right {
			display: none;
		}

		.filter-center {
			margin-right: 0;
		}
	}

}
.filter-right, .filter {
	// margin-top: -1px;
}
.filter, .product-models {
	.count {
		color: $color-grey;
		font-size: 13px;
		margin-left: 10px;
	}
	.title {
		font-size: 18px;
		line-height: 1.25;
		font-weight: 700;
		margin-bottom: 20px;

		.count {
			font-size: 18px;
			font-weight: 300;
			margin-left: 14px;
		}
	}

	@include screen( 0, sm ) {
		.title {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
	@include screen( sm, md ) {
		.title {
			margin-bottom: 10px;
		}
	}
	
}
.filter {
	@include screen( $filter-breakpoint ) {
		height: $banner-height-3 - $categories-link-height - $margin-height;
	}
}
.filter-marka {
	@include no-lst;
	// display: flex;
	// flex-direction: column;
	// flex-wrap: wrap;
	// height: 400px;
	

	.filter-marka-item {
		display: block;
		float: left;
		line-height: 2;
		// margin-bottom: 10px;
		vertical-align: top;
		width: 20%;
		a:not(.grey-link) {
			@include  hover-lighter( $color-text );

			color: $color-text;
			text-decoration: none;
		}

		@include screen( 0, xs ) {
			width: 50%;
		}
		@include screen( xs, sm ) {
			width: 33.3333%;
		}
		@include screen( sm, md ) {
			width: 33.3333%;
		}
		@include screen( md, lg ) {
			width: 25%;
		}
		@include screen( lg ) {
			width: 25%;
		}
		@include screen( 0, md ) {
			margin-bottom: 5px;
		}
	}
	html.csscolumns & {

		column-gap: 0;
		.filter-marka-item {
			float: none;
			width: auto;
		} 

		@include screen( 0, xs ) {
			column-count: 2;
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
    		-moz-column-count: 2; /* Firefox */
		}
		@include screen( xs, sm ) {
			column-count: 3;
			-webkit-column-count: 3; /* Chrome, Safari, Opera */
    		-moz-column-count: 3; /* Firefox */
		}
		@include screen( sm, md ) {
			column-count: 3;
			-webkit-column-count: 3; /* Chrome, Safari, Opera */
    		-moz-column-count: 3; /* Firefox */
		}
		@include screen( md, lg ) {
			column-count: 4;
			-webkit-column-count: 4; /* Chrome, Safari, Opera */
    		-moz-column-count: 4; /* Firefox */
		}
		@include screen( lg ) {
			column-count: 4;
			-webkit-column-count: 4; /* Chrome, Safari, Opera */
    		-moz-column-count: 4; /* Firefox */
		}
	}
}
.filter-form-block {
	margin-top: 20px;

	@include screen( sm, md ) {
		margin-top: 10px;
	}

	@include screen( md ) {
		.form-inner {
			display: flex;

			.box-wrapper {
				flex: 2;

				select {
					padding-left: 20px;
				}
			}
			[type=submit] {
				flex: 1;
			}
		}
		
	}
}
.filter-form {
	.form-inner {
		.select-wrapper {
			position: relative;
			&:before {
				display: none;
			}
			// @include screen( $filter-breakpoint ) {
			// 	&:after {
			// 		background-color: $color-grey;
			// 		content: '';
			// 		display: block;
			// 		left: 0;
			// 		position: absolute;
			// 		top: 20%;
			// 		height: 60%;
			// 		width: 1px;
			// 		z-index: 5;
			// 	}

			// 	&:first-of-type {
			// 		select, .dropdown-toggle {
			// 			border-left: 1px solid $color-grey;
			// 		}

			// 		&:after {
			// 			display: none;
			// 		}
			// 	}
			// }
			.bootstrap-select {
				width: 100%;
			}

			&:not(:first-child) {
				.dropdown-toggle {
					// border-right: 0;
					border-left: 0;
				}
			}
		}
	}

	
	[type=submit] {
		background-color: $color-pink;
		font-weight: 300;
		max-width: 136px;

		&:hover {
			@include hover-background-lighter($color-pink);
		}
	}

	[type=text] {
		display: block;
		width: 100%;
	}
	@include screen( md ) {
		select, [type=submit], [type=text], .bootstrap-select, .dropdown-toggle {
			height: 50px;
		}
		.bootstrap-select.btn-group .dropdown-toggle .filter-option {
			line-height: 48px;
			height: 48px;
		}
		// .dropdown-toggle .filter-option {
		// 	color: $color-text;
		// 	line-height: 50px;
		// }
	}
}
.filter-form-block-outer {
	padding-bottom: 44px;
	position: relative;

	.result-count {
		background-color: $color-pink;
		bottom: 0;
		display: none;
		height: 34px;
		line-height: 34px;
		padding-left: 10px;
		padding-right: 10px;
		position: absolute;
		right: 0;

		&.show {
			display: block;
		}

		&:before {
			@include triangle( 'up', $color-pink, 6px );

			content: '';
			top: -11px;
			right: 15px;
			position: absolute;
		}

		.count {
			color: $color-white;
			font-size: 14px;
			margin: 0;
		}
	}

	[type=submit] {
		background-color: $color-blue;

		&:hover {
			@include hover-background-lighter($color-blue);
		}
	}

	@include screen( 0, sm ) {
		.box-wrapper {
			display: block;
			margin-bottom: 6px;

			&:after {
				display: none;
			}

			select, input, .dropdown-toggle {
				display: block;
				height: 40px;
				width: 100%;
			}
			.bootstrap-select.btn-group .dropdown-toggle .filter-option {
				height: 38px;
				line-height: 38px;
			}

			select, .dropdown-toggle {
				border: 1px solid $color-grey;
			}
		}
		[type=submit] {
			display: block;
			height: 40px;
			max-width: inherit;
			width: 100%;
		}
	}

	@include screen( sm, md ) {
		.form-inner {
			display: flex;

			.box-wrapper {
				flex: 2;

				select {
					padding-left: 20px;
				}
			}
			[type=submit] {
				flex: 1;
			}
		}
		
	}
}