/* ==========================================================================
	Front stock slider
========================================================================== */
.stock-carousel {
	padding-top: 50px;
	position: relative;

	.owl-nav {
		position: absolute;
		top: -50px;
		right: 0;
		.owl-prev, .owl-next {
			display: inline-block;

			&.disabled {
				@include opacity(0.4);

				cursor: not-allowed;
			}
		// 	margin-top: -20px;
		// 	position: absolute;
		// 	top: 50%;
		}

		.owl-next {
			margin-left: 10px;
		}
	}


	.owl-stage-outer {
		overflow: visible;
	}


	@include screen( 0, xs ) {
		// padding-left: 50px;
		// padding-right: 50px;

		// .owl-prev {
		// 	left: -50px;
		// } 
		// .owl-next {
		// 	right: -50px;
		// }
	}
	@include screen( xs, sm ) {
		// padding-left: 75px;
		// padding-right: 75px;

		// .owl-prev {
		// 	left: -75px;
		// } 
		// .owl-next {
		// 	right: -75px;
		// }
	}
	@include screen( sm ) {
		// padding-left: 100px;
		// padding-right: 100px;

		// .owl-prev {
		// 	left: -100px;
		// } 
		// .owl-next {
		// 	right: -100px;
		// }
	}
	
}
.title-h2 + .stock-carousel {
	padding-top: 10px;
}
.stock-item {
	margin-bottom: 0;
	position: relative;
	.thumb {
		margin-bottom: 5px;

		img {
			display: block;
		}
	}
	a {
		text-decoration: none;
	}
	.label {
		background-color: $color-pink;
		color: $color-white;
		font-size: 12px;
		font-weight: 700;
		height: 40px;
		line-height: 40px;
		padding-left: 8px;
		padding-right: 8px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.title {
		color: $color-text;
		line-height: 1.25;
		font-size: 16px;
		font-weight: 700;
	}
}