.hide-custom-popup {
	@include opacity(0);

	position: absolute;
    visibility: hidden;
    z-index: -9999;
}
body.js-custom-popup-was-actived {
	.hide-custom-popup {
		position: static;
	}
}

.custom-popup-bg {
	@include opacity( 0.8 );

    background: $color-black;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
	top: 0;
    width: 100%;
    z-index: 1042;
}

.custom-popup-wrap {
	@include opacity(0);

	// background-color: rgba($color-black, 0.5);
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0px;
	visibility: hidden;
	z-index: -9999;

	.custom-popup-container {
    	box-sizing: border-box;
    	height: 100%;
	    left: 0;
		text-align: center;
	    padding: 0 8px;
    	position: absolute;
    	width: 100%;
	    top: 0;

	    // &:before {
    	// 	content: '';
	    // 	display: inline-block;
    	// 	height: 100%;
    	// 	vertical-align: middle;
	    // }
	}

	.custom-popup-content {
	    // display: inline-block;
	    margin: 0 auto;
		position: relative;
	    text-align: center;
	    // vertical-align: middle;
	    z-index: 1045;
	    width: 100%; 
	    height: 100%;
	    // max-width: 99%; 
     //  	max-height: 100%; 

	    &:before {
    		content: '';
	    	display: inline-block;
    		height: 100%;
    		vertical-align: middle;
	    }

	    .hide-custom-popup {
	    	display: inline-block;
	    	margin: 0 auto;
	    	max-height: 100vh;
	    	vertical-align: middle;
	    	// padding: 8px 0;

	    	.owl-carousel, .item-img, .owl-stage-outer {
	    		max-height: 100vh;
	    	}

	    	img {
	    		margin: 0 auto;
	    		max-height: 95vh;
	    		width: auto;
	    	}

	    	// .item-img {
	    	// 	display: table-cell;
	    	// 	vertical-align: middle;
	    	// 	width: 100%;
	    	// }

	    	.owl-item {
	    		// padding: 8px 0;
	    	}
	    	.owl-carousel .owl-item {
	    		display: inline-block;
	    		float: none;
	    		vertical-align: middle;
	    	}


	    	// .owl-stage-outer {
	    	// 	height: 100vh !important;
	    	// 	padding: 8px 0;
	    	// }
	    }
	}

	.custom-popup-inner {
		background-color: $color-white;
		position: absolute;
		max-height: 100vh;
		max-width: 1200px;
	}

	&.custom-popup-open {
		@include opacity(1);

		visibility: visible;
		z-index: 9999;

		.hide-custom-popup {
			@include opacity(1);

			position: static;
			visibility: visible;
			z-index: 1;
		}
	}

	button.mfp-close {
		color: $color-white;
	}
}

body.custom-popup-active {
	.custom-popup-bg {
		display: block;
	}
}