/* ==========================================================================
	A100 banner
========================================================================== */
.a100 {
	background-color: $color-yellow;
	font-size: 14px;
	padding: 15px 10px;

	.a100-inner {
		margin-left: 100px;
	}

	.a100-item {
		display: inline-block;
		padding-right: 3px;
		vertical-align: top;

		&:last-child {
			padding-right: 0;
		}
	}
	.a100-item-icon {
		float: left;
		padding-top: 2px;
		width: 100px;
	}
	.type {
		font-weight: 700;
		margin-right: 1px;
	}

	@include screen( md ) {
		display: inline-block;
		margin-left: auto;
		// float: right;
	}

}
.icon-a100 {
	@include sprite-retina('a100');
	display: block;
}