/* ==========================================================================
	Breadcrumbs
========================================================================== */
.breadcrumbs {
	margin-bottom: 20px;
	span {
		color: $color-dark-grey;
		font-size: 13px;
	}
	a {
		
		color: $color-blue;

		.icon {
			height: 6.02px;
			margin: 0 3px;
			width: 10px;
		} 
	}
}