/* ==========================================================================
	Form elements
========================================================================== */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color-placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $color-placeholder;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $color-placeholder;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $color-placeholder;
}
button {
	cursor: pointer;

	&[disabled] {
		@include opacity( 0.6 );
		cursor: not-allowed;
	}
}
input,
textarea,
button {
	box-shadow: none;
	border: 1px solid $color-border;
	border-radius: 0;
	background-color: $color-white;
	color: $color-text;
	display: inline-block;
	font-size: 14px;
	height: 34px;
	line-height: 1;
	outline: 0;
	&:not([type=checkbox]) {

		-webkit-appearance: none;
		-moz-appearance: none;
	}

	&[type="file"] {
		height: auto;
	}

	&:hover,
	&:active,
	&:focus {
		color: $color-text;
		outline: 0;
	}
}
input,
textarea {
	padding: 0 0 0 12px;
}
input[type=checkbox] {
	float: left;
	// display: inline-block;
	height: 20px;
	margin: 0;
	// vertical-align: middle;
	width: 20px;

	&+label {
		// padding-left: 5px;
		margin-left: 30px;
		// display: inline-block;
		// vertical-align: middle;
	}
}
[type=submit] {
	background-color: $color-light-blue;
	border: 0;
	color: $color-white;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	padding: 0 22px;

	&:hover,
	&:active,
	&:focus {
		@include hover-background-lighter($color-light-blue);
		color: $color-white;
	}
}
textarea {
	height: 200px;
	max-width: 100%;
	padding-bottom: 5px;
	padding-top: 5px; 
}
// label,
// .label {
// 	font-size: 15px;
// }
input[type=submit] {
	width: auto;
}

select {
	display: none;
}
.radio-tabs {
	input[type=radio] {
		display: none;
	}
	label {
		color: $color-white;
		display: inline-block;
		padding-bottom: 8px;
	}
	input[type=radio]:checked + label {
		text-decoration: underline;
	}
}
.subscribe {
	padding-right: 34px;
	position: relative;
	.email {
		input {
			border: 0;
			width: 100%;
		}
	}
	.submit {
		height: 34px;
		line-height: 30px;
		position: absolute;
		text-align: center;
		top: 0;
		right: 0;
		width: 34px;

		&:after {
			@extend .icon;
			@extend .icon-subscribe;

			content: '';
			pointer-events: none;
			position: relative;
			vertical-align: middle;
			z-index: 2;
		}
		[type=submit] {
			@include hover-background-lighter($color-blue);

			background-color: $color-blue;
			font-size: 0;
			left: 0;
			line-height: 0;
			padding: 0;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
		}
	}
	
}
.form-login {
	.title {
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 20px;
		text-align: center;
	}
	.subtitle {
		font-size: 16px;
	}
	label {
		display: block;
		margin-bottom: 5px;
	}
	a, label {
		font-size: 16px;
	}
	input:not([type=checkbox]) {
		display: block;
		margin-bottom: 20px;
		width: 100%;
	}
	textarea {
		height: 100px;
		max-height: 200px;
		max-width: 100%;
		width: 100%;
	}
	a {
		color: $color-light-blue;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
	.registrate {
		background-color: $color-light;
		font-size: 16px;
		height: 66px;
		line-height: 66px;
		display: block;
		text-align: center;
		

		&:hover {
			text-decoration: none;
		}
	}
	.form-login-left, .form-login-right {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
	.form-login-right {
		text-align: right;
	}
	[type=submit],
	button.submit {
		@include hover-background-lighter($color-blue);

		background-color: $color-blue;
		display: block;
		font-size: 16px;
		font-weight: 300;
		height: 50px;
		line-height: 50px;
		margin-top: 20px;
		text-align: center;
		width: 100%;

		&:disabled {
			color: $color-light-grey;
			cursor: not-allowed;
		}
	}
	.form-login-inner {
		padding: 30px 40px 25px;

		&.error-inputs {
			input:not([type=checkbox]) {
				border-color: $color-red;
			}
		}
	}


	
	@include screen( 0, xs ) {
		.form-login-inner {
			padding: 10px 20px 15px;
		}
		[type=submit] {
			height: 30px;
			line-height: 30px;
		}
	}
}
.error-message {
	color: $color-red;
	font-size: 16px;
	text-align: center;

	.title +& {
		padding-bottom: 20px;
		margin-top: -20px;
	}
}
.custom-radio {
	input[type="radio"] {
		display: none;
	}
	input[type="radio"]+label {
		cursor: pointer;
		padding-left: 22px;
		position: relative;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
		}

		&:after {
			background: $color-white;
			border-radius: 6px;
			height: 12px;
			left: 3px;
			margin-top: -6px;
			width: 12px;
		}
		&:before {
			background-color: $color-light-bg;
			border: 1px solid $color-grey;
			border-radius: 9px;
			height: 18px;
			left: 0;
			margin-top: -9px;
			width: 18px;
		}
	}

	input[type="radio"]+label:hover,
	input[type="radio"]:checked + label {
		&:after {
			background: $color-pink;
		}
	}
}	