/* ==========================================================================
	Main content
========================================================================== */

.icon-search {
	@include opacity-hover;
	display: block;
	height: 22px;
	position: relative;
	width: 22px;
	&:after, &:before {
		content: '';
		display: inline-block;
		position: absolute;
	}

	&:before {
		background-color: $color-blue;
		border: 2px solid $color-white;
		border-radius: 50%;
		height: 16px;
		left: 0;
		top: 0;
		width: 16px;
		z-index: 2;
	}
	&:after {
		background-color: $color-white;
		bottom: 0;
		height: 2px;
		right: 0;
		transform: rotate(45deg);
		transform-origin: 100%;
		width: 12px;
		z-index: 1;
	}
} 
.icon-plus {
	border: 2px solid $color-white;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	height: 22px;
	width: 22px;

	&:after, &:before {
		background-color: $color-white;
		content: '';
		display: block;
		height: 2px;
		margin-left: -5px;
		margin-top: -1px;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 10px;
	}
	&:after {
		transform: rotate(90deg);
	}
}
.icon-login {
	display: inline-block;
	height: 22px;
	position: relative;
	vertical-align: middle;
	width: 22px;
	&:after, &:before {
		border: 2px solid $color-white;
		content: '';
		display: block;
		position: absolute;
		left: 50%;
	}
	&:before {
		border: 2px solid $color-white;
		border-radius: 50%;
		height: 12px;
		margin-left: -6px;
		top: 0;
		width: 12px;
	}
	&:after {
		bottom: 0;
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		height: 12px;
		margin-left: -10px;
		width: 20px;
	}
	.is-logined & {
		&:before,&:after {
			background-color: $color-white;
		}
	}
}
.icon-toggle {
	background-color: $color-white;
	display: inline-block;
	position: relative;
	height: 3px;
	width: 28px;

	&:after, &:before {
		@include transition( 'transform' );

		background-color: $color-white;
		content: '';
		display: block;
		height: 3px;
		position: absolute;
		width: 28px;
	}

	&:before {
		top: -9px;
	}

	&:after {
		top: 9px;
	}
}
.icon-toggle-open {
	@extend .icon-toggle;

	background-color: transparent;

	&:after, &:before {
		top: 0;
	}

	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

.arrow-down {
	display: block;
	border-right: 1px solid $color-grey;
	border-bottom: 1px solid $color-grey;
	transform: rotate( 45deg );
	height: 6px;
	width: 6px;
}

.arrow-up {
	@extend .arrow-down;
	transform: rotate( 225deg );
}

.arrow-down-big {
	@include transition( 'transform' );
	display: block;
	border-right: 1px solid $color-blue;
	border-bottom: 1px solid $color-blue;
	transform: rotate( 45deg );
	height: 10px;
	width: 10px;
}
.arrow-up-big {
	@extend .arrow-down-big;
	transform: rotate( 225deg );
}
.social-appstore {
	// @include sprite-retina('social-appstore');
	@include sprite-svg('apple_store_button');
	display: inline-block;
	height: 41px;
	width: 136px;
}
.social-googleplay {
	// @include sprite-retina('social-googleplay');
	@include sprite-svg('google_play_button');
	display: inline-block;
	height: 41px;
	width: 136px;
}
.cat-icon {
	@each $icon in 'car', 'truck', 'moto', 'tire', 'disc', 'minibus', 'boat', 'garage', 'parts_cars', 'parts_truck', 'baraholka' {
		&.cat-#{$icon} {
			@include sprite-svg(cat-#{$icon});
		}	
	}
}
.icon-item {
	@each $social, $c in ('fb', $color-facebook), ('vk', $color-vk), ('yt', $color-youtube), ('od', $color-odnoklassniki), ('telegram', $color-telegram), ('viber', $color-viber) {

		&.#{$social} {
			.icon {
				@include sprite-retina('social-#{$social}');
			}

			&:hover {
				.icon { 
					@include sprite-retina('social-#{$social}-hover');
				}
			}
		}

		.small & {
			&.#{$social} {
				.icon {
					@include sprite-retina('social-#{$social}-small');
				}

				&:hover {
					.icon {
						@include sprite-retina('social-#{$social}-small-hover');
					}
				}
			}
		}

		&.with-name {
			&:hover {
				&.#{$social} {
					color: #{$c};
				}
			}
		}

		.messaging-apps-block & {
			&.with-name {
				&:hover {
					&.#{$social} {
						color: $color-white;
						background-color: #{$c};
						border-color: #{$c};
					}
				}
			}
		}
	}
}
.cat-icon {
	@each $icon in 'car', 'truck', 'moto', 'tire', 'disc', 'minibus', 'boat', 'garage', 'parts_cars'  {
		&.cat-#{$icon} {
			@include sprite-svg(cat-#{$icon});
		}	
	}
}
.cat-icon-hover {
	@each $icon in 'car', 'truck', 'moto', 'tire', 'disc', 'minibus', 'boat', 'garage', 'parts_cars'  {
		&.cat-#{$icon} {
			@include sprite-svg(cat-#{$icon}-hover);
		}	
	}
}
.icon {
	@each $icon in 'phone', 'subscribe' {
		&.icon-#{$icon} { 
			@include sprite-retina(icon-#{$icon});
		}	
	}
}

.icon-present {
	&:after {
		@include sprite-retina('icon-present');

		content: '';
		vertical-align: middle;
	}
}

@each $icon in 'favourites-add', 'favourites-remove', 'favourites-remove-white', 'ban', 'arrow-blue', 'arrow-breadcrumbs', 'arrow-next', 'arrow-next-blue', 'fire', 'fire-white', 'play', 'arrow-next', 'arrow-up', 'arrow-up-blue', 'arrow-up-grey', 'chat', 'chat-pink', 'newspaper', 'newspaper-pink', 'arrow-pink'  {
	.icon-#{$icon} {
		@include sprite-svg(#{$icon});
		display: inline-block;
	}
} 
.icon-hide {
	height: 1px;
	position: relative;
	width: 16px;
	&:after,
	&:before {
		background-color: $color-blue;
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
	}
	&:after {
		transform: rotate(45deg);
	}
	&:before {
		transform: rotate(-45deg);
	}
}
.icon-return {
	@include sprite-svg('return');
	display: inline-block;
	height: 16px;
	width: 16px;
}
.icon-return-pink {
	@include sprite-svg('return-pink');
	display: inline-block;
	height: 16px;
	width: 16px;
}
.check-mark {
	@include sprite-svg('check-mark');

	height: 14px;
	width: 14px;
}
.icon-views-gray {
	@include sprite-svg('eye-gray');

	display: inline-block;
	height: 14px;
	vertical-align: middle;
	width: 14px;
}

@each $news-icon in '4', '5', '6', '7' {
	.news-icon-#{$news-icon} {
		@include sprite-retina('news-icon-#{$news-icon}'); 
	}
} 

