/* ==========================================================================
	incom-container
========================================================================== */
$color-incom-blue: #189c9b;
.incom-container {
	background-color: $color-white;
	margin-bottom: 15px;
	
	.incom-container-inner {
		border: 1px solid $color-light-grey;
		font-size: 12px;
		text-align: center;
		padding: 3px;

		>div + div {
			margin-top: 3px;
		}

		.select-block {
			.bootstrap-select, span {
				display: inline-block;
				vertical-align: middle;
			}
			.bootstrap-select {
				border-color: $color-text;
				
				width: auto;

				.dropdown-menu, .dropdown-toggle {
					font-size: 12px;
				}

				.dropdown-menu.inner {
					width: 90px;
					> li > a {
						padding: 3px 20px 3px 10px;
					}
					li.selected a span.check-mark {
						margin-top: 0;
					}
				}

				.dropdown-toggle {
					height: 24px;
					line-height: 22px;
				}

				.filter-option {
					font-size: 12px;
					height: 22px;
					line-height: 22px;
				}

				.caret {
					@include arrow-after($color-text, 6);
				}

				&.open {
	                .caret {
	                    @include arrow-up-after($color-text, 6);
	                }
		        }

				&+span {
					margin-left: 10px;
				}
			}
		}
	}
	.title {
		color: $color-pink;
		font-weight: 700;
	}

	.grey {
		font-size: 14px;
	}

	.green {
		color: #47a22d;
		font-style: 11px;
		font-weight: 700;
	}

	.action-btn {
		@include hover-background-lighter(#53acdf);
		background-color: #53acdf;
		border: 0;
		color: $color-white;
		cursor: pointer;
		display: block;
		font-size: 11px;
		text-transform: uppercase;
		padding: 10px 5px;
		margin: 0px;
		width: 100%;
	}
}

.incom-form-top, .incom-form-bottom {
	font-size: 15px;
	padding: 15px;
	text-align: center;

	.blue {
		color: $color-incom-blue;
	}

}
.incom-form-top {
	border-bottom: 1px solid $color-incom-blue;

	.incom-logo {
		height: 35px;
		margin-bottom: 10px;
	}
}
.incom-form-bottom {
	#incom-form-sum {
		font-size: 20px;
		margin: 5px 0;
	}

	input {
		border-color: $color-incom-blue;
		margin-bottom: 10px;
		width: 300px;

		&[type=submit] {
			@include hover-background-lighter($color-incom-blue);
			background-color: $color-incom-blue;
			font-weight: 300;
			text-transform: uppercase;
		}
	}

	form {
		margin-top: 10px;
	}
}
