/* ==========================================================================
	Main content
========================================================================== */

svg {
	max-width: 100px;
	// path {
	// 	stroke: red;
	// }
}

.social-icons-block {
	margin: 0 -7px;
	line-height: 1;
	.icon-item {
		&.with-name {
			.icon {
				margin-top: -2px;
				vertical-align: middle;
			}
			&:hover {
				text-decoration: none;
			}
			
		}
	}

	&:not(.small) .icon {
		@include opacity-hover;

		background-color: $color-blue-grey;
		border-radius: 3px;
		display: inline-block;
		margin: 0 7px;

	}
	&.messaging-apps-block {
		.icon-item {
			border: 1px solid $color-dark-blue-border;
			border-radius: 3px;
			color: $color-blue;
			padding: 10px;
		}
		.icon {
			background-color: transparent;
		}
	}
}
.bold-link {
	@include  hover-lighter( $color-light-blue );

	color: $color-light-blue;
	font-weight: 700;

	&:hover {
		text-decoration: none;
	}
}
.grey-link {
	color: $color-border;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}
.section {
	@include screen( xs ) {
		.bold-link {
			float: right;
		}
	}
}
.color-pink {
	color: $color-pink;
}
.color-blue {
	color: $color-blue;
}
.bold {
	font-weight: 700;
}
.btn-border-blue {
	border: 1px solid $color-blue;
	color: $color-blue;
	padding: 5px;
	text-align: center;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-blue;
		color: $color-white;
		text-decoration: none; 
	}
}
.btn-blue {
	background-color: $color-blue;
	border: 0;
	color: $color-white;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	padding: 0 22px;

	&:hover,
	&:active,
	&:focus {
		@include hover-background-lighter($color-blue);
		color: $color-white;
	}
}
.btn-yellow {
	background-color: $color-yellow;
	border: 0;
	color: $color-text;
	cursor: pointer;
	font-size: 14px;
	padding: 10px 15px;

	&:hover,
	&:active,
	&:focus {
		@include hover-background-lighter($color-yellow);
		color: $color-text;
		text-decoration: none;
	}
}
.btn-light-blue {
	background-color: $color-light-blue;
	border: 0;
	color: $color-white;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin-top: 20px;
	padding: 10px 20px;

	&:hover,
	&:active,
	&:focus {
		@include hover-background-lighter($color-light-blue);
		color: $color-white;
		text-decoration: none; 
	}
}
.btn-border-light-blue {
	@include opacity-hover;
	border: 1px solid $color-light-blue;
	color: $color-light-blue;
	cursor: pointer;
	padding: 5px;
	text-align: center;

	&:hover,
	&:active,
	&:focus {
		color: $color-light-blue;
		text-decoration: none; 
	}
}
.btn-border-grey {
	@include opacity-hover;
	border: 1px solid $color-blue-grey;
	color: $color-blue;
	cursor: pointer;
	padding: 5px;
	text-align: center;

	&:hover,
	&:active,
	&:focus {
		color: $color-blue;
		text-decoration: none; 
	}

	&.red-text {
		color: $color-pink;

		&:hover,
		&:active,
		&:focus {
			color: $color-pink; 
		}
	}
}
.btn-border-light-grey {
	@extend .btn-border-grey;

	border-color: $color-light-grey;
}
.btn-border-pink {
	background-color: $color-white;
	border: 1px solid $color-pink;
}
.btn-pink {
	background-color: $color-pink;
	border: 0;
	color: $color-white;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	padding: 5px 15px;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-pink-light;
		color: $color-white;
		text-decoration: none;
	}
}
.btn-117 {
	border: 1px solid $color-light-grey;
	color: $color-blue;
	font-size: 21px;
	font-weight: 700;
	text-align: center;

	&:hover {
		border-color: $color-blue;
		text-decoration: none; 
	} 

	.icon {
		margin-right: 5px;
	}
}
.link-light-blue {
	color: $color-light-blue;
}
.btn-light-blue-underline {
	background: transparent;
	border: 0;
	border-bottom: 1px dotted $color-light-blue;
	color: $color-light-blue;
	height: auto;
	padding: 2px 0;

	&[disabled] {
		@include opacity(0.5);

		cursor: not-allowed;
	}
	&:hover {
		color: $color-light-blue;
	}
	
	&:not([disabled]) {
		&:hover {
			border-bottom: 0;
			text-decoration: none;
		}
	}

	
}
.icon-round {
	background-color: $color-light-blue;
	border-radius: 50%;
	color: $color-white;
	cursor: default;
	font-size: 12px;
	display: inline-block;
	line-height: 16px;
	margin-left: 5px;
	text-align: center;
	height: 16px;
	width: 16px;
}
.fz-16 {
	font-size: 16px;
}
.fw-bold {
	font-weight: 700;
}
.no-photo {
	background-color: $color-light-bg;
	height: 100%;
	min-height: 200px;
	// line-height: 200px;
	position: relative;
	text-align: center;
	width: 100%;

	&:after, &:before {
		display: inline-block;
		vertical-align: middle;
	}

	&:after {
		content: '';
		height: 100%;
		width: 0;
	}

	&:not([thumb]) {
		&:before {
			@include sprite-retina('no-photo');

			content: '';
			// margin-left: -35px;
			// margin-top: -29px;
			// left: 50%;
			// position: absolute;
			// top: 50%;
		}
	}
	&[thumb] {
		&:before {
			color: $color-grey;
			content: attr(thumb);

			font-size: 28px;
			// margin-left: -35px;
			// margin-top: -29px;
			// left: 50%;
			// position: absolute;
			// top: 50%;
		}
	}

	
}
.item-no-photo {
	.simple-item-thumb {
		position: relative;

		img {
			display: block;
		}

	}
	.no-photo {
		bottom: 0;
		min-height: initial;
		left: 0;
		position: absolute;
		top: 0;
		right: 0;
	}
}
.block-240-400 {
	// background-color: $color-yellow;
	text-align: center;
	overflow: hidden;
	&>div {
		margin: 0 auto;
	}

	@include screen(0, sm ) {
		height: $banner-height-mob-2;
		width: $banner-width-mob-2;
		// height: $banner-height-2;
		// width: $banner-width-2;
	}

	@include screen( sm ) {
		height: $banner-height-2;
		width: $banner-width-2;
	}
}
.block-300-600 {
	// background-color: $color-blue;
	text-align: center;
	overflow: hidden;

	&>div {
		margin: 0 auto;
		// display: inline-block;
	} 
	
	@include screen( 0, sm ) {
		height: $banner-height-mob-3;
		width: $banner-width-mob-3;
		// height: $banner-height-3;
		// width: $banner-width-3; 
	}
	@include screen( sm ) {
		height: $banner-height-3;
		width: $banner-width-3;
	}
}
.hide {
	display: none;
}
.white-popup-block-inner {
	padding: 30px 40px 25px;

	.popup-title {
	    text-align: center;
	    font-size: 24px;
	    line-height: 34px;
	}
	[type=submit],
	button.submit {
		@include hover-background-lighter($color-blue);

		background-color: $color-blue;
		display: block;
		font-size: 16px;
		font-weight: 300;
		height: 50px;
		line-height: 50px;
		margin-top: 20px;
		text-align: center;
		width: 100%;

		&:disabled {
			color: $color-light-grey;
			cursor: not-allowed;
		}
	}
}
.super-links {
	div + & {
		margin-top: 20px;
	}
	margin-bottom: 20px;
	.extra-links-item {
		border: 1px solid $color-light-grey;
		border-style: dotted;
		font-size: 15px;
		margin-bottom: 10px;
		text-align: center;
		>a {
			font-size: 13px;

			&:first-child {
				margin-top: 6px;
			}
			&:last-child {
				margin-bottom: 6px;
			}
		}
	}
	a {
		display: block;
		line-height: 1.2;
		padding: 6px;

		&:hover {
			@include opacity(0.8);
			text-decoration: none;
		}
	}

	.blue-link {
		color: #266fb3;
	}
	.red-link {
		color: $color-pink;
	}
}

.error-notification {
	@include transition( 'opacity' );
	@include opacity( 0 );

	background-color: rgba($color-pink, 0.8);
	bottom: 0;
	color: $color-white;
	padding: 10px 15px;
	position: fixed;
	left: 0;
	line-height: 1.2;
	max-width: 300px;
	z-index: -1;

	&.active {
		@include opacity( 1 );
		z-index: 99999999;
	}
}

.mt-standart-but-block {
	margin-top: 25px;
}

.loading-block {
	position: relative;

	&.loading-block-activate {
		.la-animation {
			height: 24px;
			left: 50%;
			margin-left: -12px;
			margin-top: -12px;
			position: absolute;
			top: 50%;
			width: 24px;
			z-index: 2;
			>div {
				height: 24px;
				width: 24px;
			}
		}
		&:after {
			background-color: rgba($color-white, 0.5);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
		}
	}

	&:not(.loading-block-activate) {
		.la-animation {
			display: none;
		}
	}
}
.js-fixed-content {
	@include transition('top');
}