/* ==========================================================================
	Owl Custom Styles
========================================================================== */
// $owl-arrow-width: 16;
// $owl-item-width: 40;
.owl-carousel {
	.owl-nav {
		.owl-prev {
			// @extend .arrow-next;
			// @include icon-arrow( $owl-arrow-width, 10, 2, $color-grey, -180deg );
			transform: rotate(180deg);
		}
		.owl-next {
			// @include icon-arrow( $owl-arrow-width, 10, 2, $color-grey );
		}
		.owl-prev, .owl-next {
			
			border: 2px solid #acacac;
			border-radius: 50%;
			position: relative;
			height: 40px;
			position: relative;
			text-align: center;
			width: 40px;
			

			&:before {
				@extend .icon-arrow-next;

				content: '';
				height: 16.56px;
				left: 50%;
				margin-left: -8px;
				margin-top: -8.28px;
				position: absolute;
				top: 50%;
				width: 16px;
			}

			// &:before {
			// 	left: 50%;
			// 	margin-left: -#{$owl-arrow-width/2}px;
			// }
			// &:after {
			// 	right: #{$owl-item-width/2 - $owl-arrow-width/2}px;;
			// }
			&:hover {
				@include opacity(0.6);
			}
		}
	}
}