/* ==========================================================================
	404 page
========================================================================== */
.page-404, .product-404 {
	.section {
		margin-top: 40px;
		margin-bottom: 0;

		h2, .title-h2 {
			font-size: 18px;
		}

		&+.section {
			margin-top: 20px;
		}
	}
}
body.page-404 {
	h1, .title-h1 {
		margin-top: 60px;
	}
	#content {
		background-image: url( '../img/page-404-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
}
