/* ==========================================================================
	Pagination
========================================================================== */
.pagination {
	margin: 30px 0;

	a {
		border: 1px solid $color-light-grey;
		color: $color-light-blue;
		display: block;
		height: 42px;
		line-height: 40px;

		&:hover {
			@include opacity( 0.8 );
			text-decoration: none;
		}
	}

	.icon {
		height: 14px;
		vertical-align: middle;
		width: 22.5px;
	}

	.prev {
		float: left;
		width: 204px;

		.icon {
			transform: rotate(180deg);
			margin-right: 5px;
		}
	}

	.next {
		margin-left: 224px;
		text-align: center;

		.icon {
			margin-left: 5px;
		}
	}
}