/* ==========================================================================
	Popup Custom Styles
========================================================================== */

.white-popup-block {
	background-color: $color-white;
	border: 1px solid $color-grey;
	margin: 0 auto;
	max-width: 460px;
	position: relative;
}

.mfp-close-btn-in .mfp-close {
	color: $color-white;
	right: -44px;
	top: -44px;
}