/* ==========================================================================
	Popup tabs
========================================================================== */
.popup-offers.white-popup-block {
	max-width: 700px;
}
.tabs-nav {
	@include no-lst;
	display: table;
	width: 100%;
	li { 
		display: table-cell;
		line-height: 1.1;
		padding: 10px 5px;
		text-align: center;

		&:not(:first-child) {
			border-left: 1px solid $color-grey;
		}

		&:not(.active) {
			background-color: $color-light-bg;
			border-bottom: 1px solid $color-grey;
			cursor: pointer;
		}
	}
	.title {
		color: $color-blue;
		font-size: 18px;
		margin-bottom: 6px;

		@include screen( xs ) {
			span {
				margin-right: 5px;
			}
		}
	}
	.icon-arrow-pink {
		height: 18px;
		width: 16.2px;
	}
	.icon-fire {
		height: 18px;
		width: 18px;
	}
	.icon-newspaper-pink {
		height: 18px;
		width: 20.21px;
	}
	.desc {
		color: rgba($color-blue, 0.85);
		font-size: 14px;
	}
	@include screen( 0, xs ) {
		.title {
			font-size: 0;
		}
		.desc {
			font-size: 12px;

			b {
				font-size: 14px;
				display: block;
			}
		}
	}

}
.tabs-content {
	min-height: 470px;
	padding: 10px;
	position: relative;
	@include screen( xs ) {
		min-height: 400px;
		padding: 20px 40px 40px;
	}
	.tab-pane {
		
		text-align: center;
		&:not(.active) {
			display: none;
		}

		.title {
			color: $color-blue;
			font-size: 24px;
			font-weight: 700;
			

			@include screen( xs ) {
				margin-bottom: 8px;
			}
		}
		.desc {
			line-height: 1.3;
			font-size: 12px;

			@include screen( 0, xs ) {
				margin-top: 0;
			}

			@include screen( xs ) {
				font-size: 14px;
			}
			

			&:not(.t-center) {
				text-align: left;
			}
		}

		.text-red {
			color: $color-pink; 
			font-size: 18px;

			@include screen( xs ) {
				font-size: 24px;
			}
		}

		.text-light {
			color: $color-dark-grey;
			font-size: 15px;

			@include screen( 0, xs ) {
				font-size: 12px;
			}
		}

		>div + div {
			margin-top: 10px;
		}

		.mfp-close {
			@include screen(0,  xs ) {
				display: none;
			}
		}

		.columns {
			@include screen(0,  xs ) {
				>div {
					&:nth-child(2n) {
						margin-top: 10px;
					}
				}
				
			}
			@include screen( xs ) {
				>div {
					display: inline-block;
					vertical-align: middle;
					width: 45%;

					&:nth-child(2n+1) {
						text-align: right;
					}

					&:nth-child(2n) {
						margin-left: 10%;
						text-align: left;
					}
				}
			}
		}

		.bootstrap-select,
		.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
			.dropdown-toggle {
				font-size: 18px;

				.caret {
					border-color: $color-text;
				}
			}

			@include screen( xs ) {
				display: inline-block;
				min-width: 156px;
				width: auto;
			}
		}

		.custom-radio {
			label {
				display: block;
				font-size: 16px;
				text-align: left;
				// padding-left: 32px;
				position: relative;
				.desc {
					color: $color-blue;
					display: block;
				}

				.label-icon,
				.label-content {
					display: inline-block;
					vertical-align: middle;
				}

				.label-icon {
					left: 32px;
					margin-top: -17px;
					position: absolute;
					top: 50%;
				}

				.label-content {
					padding-left: 77px;
				}
			}
			input[type="radio"]+label:hover,
			input[type="radio"]:checked + label {
				.desc {
					color: $color-pink;
				}
			}

			>div {
				margin-bottom: 10px;
			}

			@include screen( xs ) {
				>div {
					vertical-align: top;
					
				}
			}
		}

		.buttons {
			button {
				// cursor: pointer;
				height: auto;
				font-size: 16px;
				font-weight: 300;
				display: inline-block;
				padding: 12px 6px;
				text-align: center;
				width: 100%;

				&[disabled] {
					
				}
				
			}

			// @include screen( 0, xs ) {
			// 	button { 
			// 		margin-bottom: 10px;
			// 	}
			// }
		}

	}

	html.csscolumns & {
		@include screen( xs ) {
			.tab-pane .columns.custom-radio {
				column-count: 2;
				-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    		-moz-column-count: 2; /* Firefox */

	    		>div {
					display: block;
					margin-left: 0;
					width: 100%;
				}
	    	}
		}
	}

	@include screen( 0, xs ) {
		padding-bottom: 100px;

		.buttons {
			bottom: 10px;
			left: 10px;
			right: 10px;
			position: absolute;
		}
	}


	@include screen( xs ) {
		padding-bottom: 80px;

		.buttons {
			bottom: 40px;
			left: 40px;
			right: 40px;
			position: absolute;
		}
	}

}