/* ==========================================================================
	Social share block
========================================================================== */
.jssocials-shares {
	margin: 0;
	.jssocials-share-odnaklassniki {
		background-color: $color-odnoklassniki;
	}
	.jssocials-share {
		margin-top: 0;
		margin-right: 10px;

		@include screen(0, $mobile-start ) {
			margin-bottom: 10px;
		}
	}
}
@each $icon in 'vkontakte', 'twitter', 'odnaklassniki', 'facebook' {
	.jssocials-share-#{$icon} .jssocials-share-logo {
		@include sprite-svg(social-#{$icon});

		display: inline-block;
		height: 25px;
		width: 25px;
	}
}