/* ==========================================================================
	First Visit Tips 
========================================================================== */
.popup-block {
	background-color: $color-white;
	display: none;
	max-width: 412px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	&.active { 
		display: block;
	}
}
.tips {
	// @extend .owl-carousel;
	// display: none;
	position: relative;
	visibility: hidden;

	&.active {
		display: inline-block;
		position: fixed;
		visibility: visible;
		z-index: 200;
	}

	#target-arrow {
		&.down {
			@include triangle( 'up', $color-white, 10px );

			position: fixed;
		}
		&.up {
			@include triangle( 'down', $color-white, 10px );

			position: fixed;
		}
	}
	
	.tips-item {
		background-color: $color-white;
		display: inline-block;
		max-width: 412px;
		min-width: 300px;
		position: absolute;
		visibility: hidden;
		z-index: 1;

		&.active {
			position: relative;
			visibility: visible;
			z-index: 2; 
		}
	}
	.tips-item-inner {
		padding: 25px 20px 50px 20px;
	}
	.title {
		font-size: 24px;
		margin-bottom: 5px;
	}
	.special-tip {
		.tips-item-inner {
			padding: 40px 50px 50px 40px;
		}
		// position: relative;

		&:after {
			// @include sprite-retina('special-tip-baloons');
			// 
			@include sprite-svg('special-tip-baloons');

			content: '';
			display: block;
			height: 85.62px;
			position: absolute;
			top: 20px;
			right: 20px; 
			width: 82px;

		}
		
	}

	.nav {
		margin-top: 20px;

		>* {
			display: inline-block;
			cursor: pointer;
			padding: 12px 20px;

			&:nth-child(2) {
				float: right;
			}
		}
		
		.btn-blue {

		}

		.btn-dismiss {
			color: $color-dark-grey;

			&:hover {
				@include opacity(0.8);
			}
		}

	}
	.owl-dots {
		bottom: 10px;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 101;
		.owl-dot {
			cursor: pointer;
			display: inline-block;
			margin: 0 2px;
			line-height: 1;
			padding: 3px;
			span {
				border: 1px solid $color-light-grey;
				border-radius: 50%;
				display: inline-block;
				height: 10px;
				width: 10px;
			}

			&.active span {
				border-color: $color-pink;
				background-color: $color-pink;
			}
		}
	}
	
}
body.js-tips-active {
	overflow: hidden;
	position: fixed;
	&:after {
		background-color: rgba($color-black, 0.5);
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		position: fixed;
		top: 0px;
		right: 0;
		z-index: 105;
	}
	// .js-tips-target {
	// 	&.target-active {
	// 		position: fixed;
	// 		pointer-events: none;
	// 		z-index: 6;
	// 	}
	// }
}
