<a href="http://renault.by/corporate/credit3.html?utm_source=abw&utm_medium=branding&utm_campaign=finance122" class="branding-link" target="_blank"></a>
<div class="branding-header" style="background-image: url({$current_www}/branding/2/branding-header.png)"></div>