/* ==========================================================================
Single Add Page for dekstop
========================================================================== */
.single-page-dekstop-content {
	.product-data {
		// border: 1px solid $color-light-grey;
		// border-bottom: 0;
		display: table;
		
		table-layout: fixed;
		max-width: 100%;
		
		&+.js-fixed-content {
			padding-top: 0;
		}

		.product-data-item {
			
			
			display: table-row;

			span {
				display: table-cell;
				padding-bottom: 5px;
				word-wrap: break-word;

				&:first-child {
					border-left: 1px solid $color-light-grey;
					padding-left: 12px;
				}
				&:last-child {
					border-right: 1px solid $color-light-grey;
					padding-right: 12px;
				}
			}

			&:first-child span {
				border-top: 1px solid $color-light-grey;
				padding-top: 10px;
			}
			&:last-child span {
				padding-bottom: 10px;
			}
		}
	}

	@include screen( md ) {
		.product-buttons {
			.btn-border-grey {
				margin-left: 220px;
			}
			.social-block {
				float: left;
				width: 220px;
			}
		}
	}
}
.single-product-panel.dekstop {
	@include screen( 0, md ) {
		.data {
			font-size: 12px;
		}
		.price-usd {
			font-size: 14px;
		}
	}
	@include screen( 0, sm ) {
		.right-sidebar {
			margin-top: 8px;
		}

		.left-sidebar {
			display: block;
		}
		.right-sidebar {
			float: none;
		}
	}
	@include screen( 0, sm ) {
		.right-sidebar {
			margin-top: 0;
			margin-bottom: 12px;
		}
		.main-content {
			float: right;
		}

	}

}

body.body-dekstop {
	.owner-data {
		.owner-user + .owner-number {
			border-top: 0;
			// margin-top: 0;

			.btn-chat {
				top: -21px;
			}
		}
		.owner-number {
			// margin-top: 10px;
		}
		.btn-chat {
			right: 10px;
			top: 8px;
		}

		&.is-mailed {
			.owner-user {
				padding-right: 56px;
			}
			.owner-number {
				padding-top: 20px;
			}
		}
	}
}