/* ==========================================================================
	Single Page Layout
========================================================================== */

.single-page-dekstop-content {
	// @include screen( md ) {
		display: block;
		padding-left: $banner-width-2;
		padding-right: $banner-width-3;
		margin-bottom: 20px;

		.left-sidebar {
			width: $banner-width-2;
			min-width: $banner-width-2;

			>* {
				width: $banner-width-2;
			}
		}
		.right-sidebar {
			width: $banner-width-3;
			min-width: $banner-width-3;

			>* {
				width: $banner-width-3;
			}
		}
		.main-content {
			padding: 0 24px;
		}

		.left-sidebar {
			float: right;
			margin-left: -$banner-width-2;
		}
		.right-sidebar {
			float: right;
			margin-right: -$banner-width-3;
		}
		.main-content {
			float: right;
			width: 100%;
		}
	// }
}

