/* ==========================================================================
Single Add Page
========================================================================== */
.single-product-panel {
	background-color: $color-light-bg;
	margin-bottom: 12px;
	padding-top: 8px;
	
	@include screen( xs ) {
		.panel-item {
			display: inline-block;
			margin-bottom: 8px;
			vertical-align: middle;
		}
	}


	.data {
		color: $color-dark-grey;
		line-height: 14px;

		>span {
			display: inline-block;
			// vertical-align: middle;
			&+span {
				margin-left: 12px;
			}
		}

		.views {
			&.hide {
				display: none;
			}
		}
	}

	.icon-views-gray {
		margin-right: 3px;
		vertical-align: top;
	}
	
	.main-content {
		padding-left: 24px;
		padding-right: 24px;
		// text-align: right;
		// 
		.control-button {
			float: right;
		}
	}

	body.body-dekstop & {
		align-items: center;
		
		display: flex;
		flex-wrap: wrap;
		.left-sidebar {
			order: 1;
		}
		.main-content {
			flex: 1 auto;
			order: 2;
			
		}
		.right-sidebar {
			order: 3;
			// text-align: right;
		}

		html.no-flexbox & {
			.left-sidebar {
				float: left;
			}
			.main-content {
				float: right;
			}
			.right-sidebar {
				float: right;
			}
		}
		.left-sidebar {
			min-width: $banner-width-2;
			padding-left: 14px;
		}
		.right-sidebar {
			float: right;
			padding-right: 14px;
			width: $banner-width-3;
		}
	}

	html.no-flexbox body.body-dekstop & {
		display: block;
	}

	body.body-mobile & {
		margin-left: -$page-padding-xs;
		margin-right: -$page-padding-xs;
		padding-left: $page-padding-xs;
		padding-right: $page-padding-xs;

		.left-sidebar {
			padding-left: 0;
		}

		.right-sidebar {
			padding-right: 0;
		}

		.main-content {
			display: block;
			padding-left: 0;
			padding-right: 0;
		}
	}




}


.control-button {
	@include opacity-hover;

	cursor: pointer;
	display: inline-block;
	height: 42px;
	line-height: 40px;
	margin-left: 10px;
	text-align: center;
	padding: 0;
	vertical-align: middle;
	width: 42px;

	.icon {
		display: inline-block;
		vertical-align: middle;
	}

	&.favourites, &.ban {
		border: 1px solid $color-light-grey;
		background-color: $color-white;
	}

	&.favourites, &.ban, &.rise-up {
		.icon {
			height: 22px;
			width: 23.375px;
		}
	}

	&.rise-up {
		background-color: $color-yellow;

		.icon {
			// @include icon-arrow( 20, 12, 6, $color-blue, -90deg );
			// margin-top: 4px;
			// width: ;
		}
	}

	&.favourites {
		.icon-favourites {
			@extend .icon-favourites-add;
		}

		&.active .icon-favourites {
			@extend .icon-favourites-remove;
		}

		&[disabled] {
			@include opacity( 0.3 );

			cursor: not-allowed;
		}
	}
} 
div +.js-fixed-content {
	padding-top: 40px;
}
.owner-data {
	background-color: $color-white;

	.owner-user, 
	.owner-number {
		padding: 10px;
	}

	.owner-user {
		background-color: $color-blue;
		color: $color-white;
	}

	.owner-number {
		border: 1px solid $color-light-grey;
		position: relative;
	}

	.btn-chat {
		@include background-hover($color-pink); 
		background-color: $color-pink;
		// box-shadow: 0px 0px 2px $color-dark-grey;
		border: 0;
		border-radius: 50%;
		cursor: pointer;
		height: 42px;
		position: absolute;
		text-align: center;
		width: 42px;

		>span {
			height: 20px;
			vertical-align: middle;
			width: 20px;
		}
	}

	
	.name {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 2px;
	}

	.place {
		font-size: 12px;
		line-height: 1.4;
	}

	.mobile {
		font-size: 18px;
	}

	.owner-info {
		font-size: 12px;
		line-height: 1.2;
		color: $color-dark-grey;
		margin-bottom: 10px;
	}

	.show-phone {
		font-size: 18px;

		span {
			border-bottom: 1px solid $color-dark-grey;
			color: $color-dark-grey;
			font-size: 14px;
			border-bottom-style: dotted;

			&:hover {
				border-bottom: 0;
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}

	.error-message {
		font-size: 14px;
		line-height: 1.3;
	}
	.user-buttons {
		display: none;
		button {
			background-color: transparent;
			border: 0;
			display: inline-block;
			color: $color-pink;
			cursor: pointer;
			font-size: 12px;
			padding: 10px 3px;
			width: auto;
			&:nth-child(2) {
				margin-right: 5px;
			}
		}
		.js-ajax-button {
			display: none;
		}
	}

}
.product-data {
	.label {
		color: $color-dark-grey;
		font-size: 14px;
		padding-right: 5px;
	}
}
.single-product-page {
	.section {
		margin-bottom: 40px;
	}
	.price-byn {
		color: $color-black;
		font-size: 24px;
		font-weight: 700;

		&+.price-usd {
			margin-left: 6px;
		}
	}
	.price-usd {
		color: $color-dark-grey;
		font-size: 16px;
	} 
	.product-main-data {
		background-color: $color-light-bg;
		color: #777;
		font-size: 15px;
		line-height: 1.4;
		padding: 8px 10px;

		.title {
			color: $color-text;
			font-size: 18px;
			font-weight: 700;
		}
		.price-byn {
			color: $color-text;
			font-size: 20px;
			font-weight: 700;
		}
		.price-usd {
			color: #777;
			font-size: 14px;
			margin-left: 6px;
		}
		.price {
			margin-top: 5px;
		}

		@include screen( xs ) {
			display: table;
			width: 100%;
			.price, .desc {
				display: table-cell;
				vertical-align: middle;
			}
			.price {
				margin-top: 0;
				min-width: 160px;
				// text-align: right;
				// width: 40%;
			}
			.price-byn,
			.price-usd {
				display: block;
			}
			.desc {
				// width: 60%;
			}
			.price-inner {
				float: right;
			}
		}
	}
	.product-desc,
	.product-main-data,
	.product-options {
		margin-bottom: 20px;
	}
	.product-options {
		@extend .clearfix;

		.title {
			font-weight: 700;
			margin-bottom: 3px;
		}

		ul {
			@include no-lst;
			li {
				&:before {
					background-color: $color-grey;
					border-radius: 50%;
					content: '';
					display: inline-block;
					height: 6px;
					margin-right: 16px;
					vertical-align: middle;
					width: 6px;
				}
			}
		}
		@include screen( xs ) {
			ul {
				column-count: 2;
				-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    		-moz-column-count: 2; /* Firefox */
			}
		}
		
	}
	@include screen( xs ) {
		html.no-csscolumns & {
			.product-options {
				ul {
					li {
						float: left;
						display: inline-block;
						width: 50%;
					}
				}
			}
		}
	}

	.product-buttons {
		.btn-border-grey {
			display: block;
			font-size: 14px;
			font-weight: 700;
			padding: 10px 21px;
		}
	}

	.block-240-400, .block-300-600 {
		height: auto;
		display: block;
		margin: 0 auto;
	}

	.extra-links {
		margin-top: 20px;
		.extra-links-item {
			margin-bottom: 10px;

			a {
				font-size: 18px;
			}
		}
	}
	.product-autohouse {
		margin-bottom: 15px;
		.autohouse-logo {
			float: left;
			margin-right: 14px;
			max-width: 140px;
		}
		.autohouse-data {
			line-height: 1.4;
			.title, .title a {
				color: $color-light-blue;
				font-size: 14px;
				font-weight: 700;
			}
			.data {
				color: $color-dark-grey;
				font-size: 14px;

				span {
					font-size: 12px;
				}

				a {
					color: $color-light-blue;
				}
				>* {
					@include screen( 0, sm ) {
						display: block;
					}
				}
			}
		}
		@include screen( 0, sm ) {
			margin-bottom: 8px;
		}
	}
	.action-buttons {
		display: inline-block;
		// height: 40px;
		position: relative;
		vertical-align: middle;
		// width: 185px;
		
		@include screen( sm ) {
			margin-right: 10px;
		}

		button {
			display: block;
			height: 42px;
			padding: 10px;
			text-align: left;
			width: 100%;

			&[disabled] {
				@include opacity(0.5);

				cursor: not-allowed;
			}

			.icon-fire {
				margin-top: -4px;		
				vertical-align: middle;
			}

			&:not(.first) {
				border-top: 0;
				// left: 0;
				// position: absolute;
			}

			&.first {
				font-weight: 700;
			}

		}
		.icon-fire {
			height: 16px;
			margin-right: 6px;
			width: 16px;
		}
		// .action-buttons-menu {
		// 	background-color: $color-white;
		// 	position: absolute;
		// 	height: 0;
		// 	left: 0;
		// 	right: 0;
		// 	overflow: hidden;
		// 	top: 42px;
		// 	z-index: 5;
		// }
	}
}
.auto-onorder {
	background-color: $color-sky-blue;
	color: $color-white;
	display: inline-block;
	font-size: 13px;
	font-weight: 300;
	padding: 3px 7px;
	vertical-align: top;
}

.product-header {
	@include screen( 0, xs ) {
		margin-bottom: 10px;

		.title-h1 {
			margin-bottom: 8px;
		}
	}
	@include screen( xs ) {
		margin-bottom: 20px;
		.product-header-title {
			padding-right: $banner-width-3;

			.product-autohouse {
				float: right;
				margin-right: -$banner-width-3; 
				width: $banner-width-3; 
			}

			.auto-onorder {
				float: left;
			}

			.title-h1 {
				float: left;
				margin-bottom: 0;
				width: 100%;
			}
		}
		.title-h1 {
			margin-bottom: 10px;
		}

		.auto-onorder {
			margin-top: 8px;
		}
	}
	body.body-mobile & {
		margin-bottom: 10px;
	}
}
.admin-buttons {
	display: inline-block;
	height: 42px;
	position: relative;
	vertical-align: middle;
	z-index: 5;

	button, a {
		@include hover-lighter($color-text);

		background-color: $color-white;
		border: 1px solid $color-light-grey;
		color: $color-text;
		cursor: pointer;
		display: block;
		height: 42px;
		padding: 10px;
		text-align: left;
		width: 100%;

		&:hover {
			text-decoration: none;
		}

		&:not(.first):not(.show) {
			border-top: 0;
		}
		&.first {
			@include hover-lighter($color-blue);

			color: $color-blue;
			font-weight: 700;
			padding-right: 40px;
			position: relative;
			&:before {
				@extend .arrow-down-big;

				border-color: $color-blue;
				content: '';
				height: 8px;
				right: 10px;
				margin-top: -5.5px;
				pointer-events: none;
				position: absolute;
				top: 50%;
				width: 8px;
				z-index: 1;
			}

			&.open {
				&:before {
					margin-top: 0;
					transform: rotate( 225deg );
				}
			}
		}
	}
	&:not(.open) {
		button:not(.first),
		a:not(.first):not(.show),
		a:not(.show) {
			display: none;
		}
	}
}
.zero-btn {
	display: inline-block;
	margin-left: 12px;
}
.action-buttons-menu {
	@include transition('opacity', .4s);
	left: 0;
	position: fixed;
	margin-top: -60px;
	top: 50%;
	z-index: 99;

	&:not(.show) {
		@include opacity(0);
		pointer-events: none;
		z-index: -1;
	}

	button {
		border-left: 0;
		display: block;
		padding: 0;
		height: 40px;
		width: 40px;

		>span {
			vertical-align: middle;
		}

		&:hover {
			>span {
				@include opacity(0.8);
			}
		}

		&:not(:first-child) {
			border-top: 0;
		}
		&[disabled] {
			>span {
				@include opacity(0.5);
			}

    		cursor: not-allowed;
		}
	} 

	.icon-arrow-pink {
		height: 22px;
		width: 20.35px;
	}
	.icon-fire {
		height: 22px;
		width: 22px;
	}
	.icon-newspaper-pink {
		height: 22px;
		width: 24.695px;
	}
}
.archive-page-quick-links {
	@include screen( 0, $profuct-filter-mobile-point ) {
		
	}
	@include screen( $profuct-full-mobile-point ) {
		display: table;
		width: 100%;
		.item {
			display: table-cell;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.2;
			margin: 0;
			padding: 8px 0;
			vertical-align: middle;
			text-align: center;
			width: 50%;

			// &:nth-child(2n+1) {
			// 	padding-left: 30px;
			// }
			// &:nth-child(2n) {
			// 	padding-right: 30px;
			// 	text-align: center;
			// }

			&.active {
				background-color: $color-light-bg;
			}
		}
		>a {
			color: $color-light-grey;

			&:hover {
				color: $color-text;
				text-decoration: none;
			}
		}
 
	}
}