/* ==========================================================================
Single Add Page for Mobile
========================================================================== */
.single-product-buttons-mobile {
	margin-bottom: 15px;

	@include screen( 0, xs ) {
		.action-buttons, .admin-buttons {
			display: block;
		}
		.admin-buttons {
			margin-top: 10px;
			margin-right: 80px;
			// margin-right: 100px;
		}
		
		.action-buttons {
			margin-right: 80px;
		}

		.is-owner & {
			.action-buttons {
				margin-right: 0px;
			}
		}
	}

}
.single-page-mobile-content {
	margin-bottom: 40px;
	.before-content {
		margin: 20px 0;
		>* {
			margin-bottom: 20px;
		}
		
	}
	.product-data {
		.label {
			display: inline-block;
			width: 130px;
		}
	}

	@include screen( 0, xs ) {
		.before-content {
			margin: 20px 0 0;
			>* {
				margin-bottom: 20px;
			}
		}
	}
			
	@include screen( xs ) {
		.before-content {
			>* {
				float: left;
				width: 50%;
			}
		}
		.product-data {
			column-count: 2;
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
    		-moz-column-count: 2; /* Firefox */
		}
		html.no-csscolumns & {
			.product-data {
				.product-data-item {
					float: left;
					display: inline-block;
					width: 50%;
				}
			}
		}
		.product-buttons {
			.btn-border-grey {
				margin-left: 220px;
			}
			.social-block {
				float: left;
				width: 220px;
			}
		}
	}
	
}

.single-product-panel.mobile {

	.left-sidebar,
	.main-content {
		margin: 8px 0;
	}

	@include screen( 0, xs ) {
		position: relative;
		.data {
			font-size: 12px;
			span + span {
				margin-left: 5px;
			}
		}
		.control-button {
			float: none;
			margin-left: 0;
			position: absolute;
			top: -57px;

			&.ban {
				right: 10px;
			}
			&.favourites {
				right: 58px;
			}
		}
	}

	@include screen( xs ) {
		.main-content {
			float: right;

			>* {
				height: 42px;
				line-height: 42px;
			}
			.icon-views-gray {
				vertical-align: middle;
			}
		}
		.zero-btn {
			margin-right: 20px;
		}
	}
}

body.body-mobile {
	.owner-data {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 99999;

		&:not(.is-mailed) {
			.owner-number {
				padding-bottom: 30px;
			}
		}
	}

	.owner-user, 
	.owner-number {
		text-align: center;
	}

	.user-buttons {
		button {
			padding: 5px;
		}
	}

	.owner-info {
	    position: absolute;
	    bottom: 0;
	    width: 100%;
		// display: none;
	}

	@include screen( 0, xs ) {
		.owner-user {
			display: none;
		}

		// .owner-number {
		// 	background-color: $color-pink;
		// 	border: 0;
		// 	padding: 10px 5px;

		// 	.mobile {
		// 		color: $color-white;
		// 	}

		// 	.show-phone {
		// 		span {
		// 			color: $color-white;
		// 		}
		// 	}

		// 	.user-buttons {
		// 		button {
		// 			color: $color-white;
		// 		}
		// 	}
		// }

		.btn-chat {
			right: 10px;
			top: -21px;
		}
	}
	
	
	@include screen( xs ) {
		.owner-data {
			display: table;
			.owner-number {
				border-left: 0;
			}

			.owner-user, 
			.owner-number {
				display: table-cell;
				padding: 5px;
				vertical-align: middle;
				width: 50%;
			}

			.owner-number {
				border-left: 0;
			}

			.mobile {
				>div {
					display: inline-block;
					&:nth-child(2) {
						margin-left: 15px;
					}
				}
			}

			.btn-chat {
				left: -21px;
				top: 50%;
				margin-top: -21px;
			}
		}
	}
}