/* ==========================================================================
Product Slider
========================================================================== */
.product-slider {
	
	@include screen( 0, sm ) {
		.thumb-slider {
			display: none;
		}
	}
	.item-img {
		cursor: pointer;

		img {
			display: block;
			margin: 0 auto;
			max-height: 500px;
			width: auto;
		}
	}

	.thumb-slider {
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		margin-left: 30px;
		margin-right: 30px;
		// padding: 10px 35px;
		// 
		.item-no-photo {
			position: relative;
		}

		.item-thumb, .thumb-video {
			padding-left: 5px;
			padding-right: 5px;

			.item-thumb-inner {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
	}

	[data-type=thumb] {
		// padding-left: 35px;
		// padding-right: 35px;
		position: relative;

		.owl-item {
			cursor: pointer;

			&.thumb-activated,
			&:hover {
				@include opacity( 0.4 );
			}
		}
	}

	&.product-slider-with-video {
		.thumb-video {
			// align-items: center;
			bottom: 10px;
			cursor: pointer;
			// display: flex;
			position: absolute;
			right: 0px;
			top: 10px;
			z-index: 2;

			&.thumb-activated,
			&:hover {
				@include opacity( 0.4 );
			}

			.icon-play {
				@include sprite-svg('play');

				display: block;
				height: 40px;
				margin-left: -20px;
				margin-top: -20px;
				left: 50%;
				top: 50%;
				position: absolute;
				width: 40px;
			}

			.item-thumb-inner {
				bottom: 0;
				left: 5px;
				position: absolute;
				top: 0;
				right: 5px;
			}


			@include screen( sm, md ) {
				width: 20%;
			}

			@include screen( md, lg ) {
				width: 25%;
			}
			
			@include screen( lg ) {
				width: 20%;
			}

		}
		.thumb-slider-wrapper  {
			// .owl-stage-outer {
				@include screen( sm, md ) {
					margin-right: 20%;
				}

				@include screen( md, lg ) {
					margin-right: 25%;
				}
				
				@include screen( lg ) {
					margin-right: 20%;
				}
			// }
		}
	}

	.owl-dots {
		margin-bottom: 10px;
		text-align: center;

		.owl-dot {
			cursor: pointer;
			display: inline-block;
			margin: 0 2px;
			line-height: 1;
			padding: 3px;
			span {
				border: 1px solid $color-light-grey;
				border-radius: 50%;
				display: inline-block;
				height: 10px;
				width: 10px;
			}

			&.active span {
				border-color: $color-pink;
				background-color: $color-pink;
			}
		}
	}

	.product-slider-main-content.microleasing-activated {
		.owl-carousel, .slider-microleasing {
			background-color: $color-white;
		}
	}

	&.loading {
		.thumb-slider, .slider-microleasing {
			@include opacity(0);
			padding: 0;
		}
		.slider-microleasing {
			height: 0;
			overflow: hidden;
		}
	}
	&:not(.loading) {
		// .loading-block {
		// 	display: none;
		// }
		// .la-ball-clip-rotate {
		// 	display: none;
		// }

		$microleasing-gradient: 90deg, #008000 33.3333%, #d8d8d8 0, #d8d8d8 66.6666%, #ff0000 0;
		.product-slider-main-content.microleasing-activated {
			background: #ff0000;
			background: -moz-linear-gradient($microleasing-gradient);
			background: -webkit-gradient(linear, $microleasing-gradient);
			background: -webkit-linear-gradient($microleasing-gradient);
			background: -o-linear-gradient($microleasing-gradient);
			background: -ms-linear-gradient($microleasing-gradient);
			background: linear-gradient($microleasing-gradient);
			padding: 3px;
		}
	}

	.slider-microleasing {
		text-align: center;

		a {
			display: block;
			padding: 5px 0;
		}
	}
}
.product-slider, .popup-slider {
	.item-img {
		max-width: 1200px;
	}
	.item-video {
		max-width: 1200px;

		position: relative;
		.owl-video-wrapper {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;

			iframe {
				height: 100% !important;
				width: 100% !important;
			}
		}
		.owl-video-play-icon {
			@include sprite-svg('play');
		}
	}

	.owl-prev, .owl-next,
	.owl-nav .owl-prev, .owl-nav .owl-next {
		border: 0;
		border-radius: 0;
		cursor: pointer;
		line-height: 34px;
		margin-top: -17px;
		height: 34px;
		position: absolute;
		text-align: center;
		transform: none;
		top: 50%;
		width: 34px;

		&:hover {
			@include opacity( 0.5 );
		}

		&:before {
			display: none;
		}
		&:after {
			border-top: 2px solid $color-border;
			border-left: 2px solid $color-border;
			content: '';
			display: inline-block;
			height: 14px;
			
			
			vertical-align: middle;
			width: 14px;
		}
	}
	.owl-prev {
		left: -35px;
		&:after {
			transform: rotate(-45deg);
		}
	}
	.owl-next {
		right: -35px;
		&:after {
			transform: rotate(135deg);
		}
	}

}
.popup-slider {
	span {
		color: $color-white;
	}
	// display: inline-block;
	padding: 0 40px;
	// height: 100%;
	max-height: 100vh;
	width: 100%;
	max-width: 1200px;

	.owl-nav {
		.owl-prev, .owl-next {
			height: 100%;
			margin-top: 0;
			top: 0;

			&:after {
				margin-top: -17px;
				position: absolute;
				top: 50%;
			}
		}

		.owl-next {
			&:after {
				right: 5px;
			} 
		}
		.owl-prev {
			&:after {
				left: 5px;
			}
		}
	}
	// left: 0;
	// position: fixed;
	// top: 0;
	// z-index: 1000;

	.owl-carousel {
		width: auto;
		// max-width: 1200px;
		// width: 100%;
	// 	max-width: 100%;

	// 	.owl-item {
	// 		max-height: 100%;
	// 		max-width: 100%;
	// 	}
	}
	.item-img, .item-video {
		padding-bottom: 28px;
	}

	// .owl-video-wrapper {
	// 	bottom: 28px !important;
	// }
	.desc {
		color: $color-white;
		font-size: 18px;
		height: 28px;
		text-align: center;
		margin-bottom: -28px;
		padding: 4px 0;
	}

	.item-video {
		margin-bottom: 28px;
		padding-bottom: 0;

		.desc {
			bottom: -28px;
			left: 0;
			right: 0;
			margin-bottom: 0;
			position: absolute;
		}
	}

}
.product-slider-no-photo {
	position: relative; 
}
.loading-block {
	// background-color: $color-light-bg; 
	
	position: relative;

	.main {
		// max-height: 500px;

		img {
			display: block;
			max-height: 500px;
			margin: 0 auto;
			width: auto;
		}
	}

	.thumb {
	    margin-right: 30px;
	    margin-left: 30px;
	    padding-top: 10px;
	    padding-bottom: 10px;
		.item {
			display: inline-block;
			padding: 0 5px;

			.item-inner {
				background-color: $color-light-bg; 
				height: 66px;
				line-height: 66px;
				position: relative;
				text-align: center;
			}
		}

		.la-ball-clip-rotate {
			left: 50%;
			margin-left: -16px;
			margin-top: -16px;
			position: absolute;
			top: 50%;
			z-index: 100;
		}
	}
}



