/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$conact-form-error: (
  name: 'conact-form-error',
  x: 377px,
  y: 182px,
  offset_x: -377px,
  offset_y: -182px,
  width: 16px,
  height: 19px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$front-services-arrow: (
  name: 'front-services-arrow',
  x: 275px,
  y: 162px,
  offset_x: -275px,
  offset_y: -162px,
  width: 12px,
  height: 22px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$header-nav-arrow: (
  name: 'header-nav-arrow',
  x: 419px,
  y: 386px,
  offset_x: -419px,
  offset_y: -386px,
  width: 5px,
  height: 9px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-dribbble-gray: (
  name: 'icon-dribbble-gray',
  x: 398px,
  y: 168px,
  offset_x: -398px,
  offset_y: -168px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-dribbble: (
  name: 'icon-dribbble',
  x: 398px,
  y: 280px,
  offset_x: -398px,
  offset_y: -280px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-facebook-blue: (
  name: 'icon-facebook-blue',
  x: 398px,
  y: 308px,
  offset_x: -398px,
  offset_y: -308px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-facebook-gray: (
  name: 'icon-facebook-gray',
  x: 398px,
  y: 140px,
  offset_x: -398px,
  offset_y: -140px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-google-gray: (
  name: 'icon-google-gray',
  x: 398px,
  y: 28px,
  offset_x: -398px,
  offset_y: -28px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-google-red: (
  name: 'icon-google-red',
  x: 398px,
  y: 0px,
  offset_x: -398px,
  offset_y: 0px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-linkedin-gray: (
  name: 'icon-linkedin-gray',
  x: 398px,
  y: 196px,
  offset_x: -398px,
  offset_y: -196px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-linkedin-red: (
  name: 'icon-linkedin-red',
  x: 398px,
  y: 224px,
  offset_x: -398px,
  offset_y: -224px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg1: (
  name: 'icon-small-svg1',
  x: 160px,
  y: 371px,
  offset_x: -160px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg10: (
  name: 'icon-small-svg10',
  x: 128px,
  y: 371px,
  offset_x: -128px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg11: (
  name: 'icon-small-svg11',
  x: 96px,
  y: 371px,
  offset_x: -96px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg12: (
  name: 'icon-small-svg12',
  x: 64px,
  y: 371px,
  offset_x: -64px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg13: (
  name: 'icon-small-svg13',
  x: 232px,
  y: 263px,
  offset_x: -232px,
  offset_y: -263px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg14: (
  name: 'icon-small-svg14',
  x: 352px,
  y: 339px,
  offset_x: -352px,
  offset_y: -339px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg15: (
  name: 'icon-small-svg15',
  x: 398px,
  y: 386px,
  offset_x: -398px,
  offset_y: -386px,
  width: 19px,
  height: 10px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg16: (
  name: 'icon-small-svg16',
  x: 320px,
  y: 339px,
  offset_x: -320px,
  offset_y: -339px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg17: (
  name: 'icon-small-svg17',
  x: 360px,
  y: 263px,
  offset_x: -360px,
  offset_y: -263px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg18: (
  name: 'icon-small-svg18',
  x: 0px,
  y: 339px,
  offset_x: 0px,
  offset_y: -339px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg19: (
  name: 'icon-small-svg19',
  x: 224px,
  y: 371px,
  offset_x: -224px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg2: (
  name: 'icon-small-svg2',
  x: 64px,
  y: 339px,
  offset_x: -64px,
  offset_y: -339px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg20: (
  name: 'icon-small-svg20',
  x: 96px,
  y: 339px,
  offset_x: -96px,
  offset_y: -339px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg21: (
  name: 'icon-small-svg21',
  x: 256px,
  y: 371px,
  offset_x: -256px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg22: (
  name: 'icon-small-svg22',
  x: 192px,
  y: 371px,
  offset_x: -192px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg23: (
  name: 'icon-small-svg23',
  x: 160px,
  y: 339px,
  offset_x: -160px,
  offset_y: -339px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg24: (
  name: 'icon-small-svg24',
  x: 128px,
  y: 339px,
  offset_x: -128px,
  offset_y: -339px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg25: (
  name: 'icon-small-svg25',
  x: 32px,
  y: 339px,
  offset_x: -32px,
  offset_y: -339px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg26: (
  name: 'icon-small-svg26',
  x: 256px,
  y: 339px,
  offset_x: -256px,
  offset_y: -339px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg27: (
  name: 'icon-small-svg27',
  x: 288px,
  y: 339px,
  offset_x: -288px,
  offset_y: -339px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg28: (
  name: 'icon-small-svg28',
  x: 192px,
  y: 339px,
  offset_x: -192px,
  offset_y: -339px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg29: (
  name: 'icon-small-svg29',
  x: 264px,
  y: 263px,
  offset_x: -264px,
  offset_y: -263px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg3: (
  name: 'icon-small-svg3',
  x: 0px,
  y: 371px,
  offset_x: 0px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg30: (
  name: 'icon-small-svg30',
  x: 32px,
  y: 371px,
  offset_x: -32px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg31: (
  name: 'icon-small-svg31',
  x: 136px,
  y: 263px,
  offset_x: -136px,
  offset_y: -263px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg32: (
  name: 'icon-small-svg32',
  x: 168px,
  y: 263px,
  offset_x: -168px,
  offset_y: -263px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg33: (
  name: 'icon-small-svg33',
  x: 174px,
  y: 122px,
  offset_x: -174px,
  offset_y: -122px,
  width: 15px,
  height: 16px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg4: (
  name: 'icon-small-svg4',
  x: 377px,
  y: 222px,
  offset_x: -377px,
  offset_y: -222px,
  width: 19px,
  height: 15px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg5: (
  name: 'icon-small-svg5',
  x: 296px,
  y: 263px,
  offset_x: -296px,
  offset_y: -263px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg6: (
  name: 'icon-small-svg6',
  x: 200px,
  y: 263px,
  offset_x: -200px,
  offset_y: -263px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg7: (
  name: 'icon-small-svg7',
  x: 377px,
  y: 164px,
  offset_x: -377px,
  offset_y: -164px,
  width: 19px,
  height: 15px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg8: (
  name: 'icon-small-svg8',
  x: 288px,
  y: 371px,
  offset_x: -288px,
  offset_y: -371px,
  width: 30px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-small-svg9: (
  name: 'icon-small-svg9',
  x: 328px,
  y: 263px,
  offset_x: -328px,
  offset_y: -263px,
  width: 30px,
  height: 30px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-twitter-blue: (
  name: 'icon-twitter-blue',
  x: 398px,
  y: 252px,
  offset_x: -398px,
  offset_y: -252px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon-twitter-gray: (
  name: 'icon-twitter-gray',
  x: 398px,
  y: 56px,
  offset_x: -398px,
  offset_y: -56px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_blog-facebook-gray: (
  name: 'icon_blog-facebook-gray',
  x: 398px,
  y: 84px,
  offset_x: -398px,
  offset_y: -84px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_blog-google-gray: (
  name: 'icon_blog-google-gray',
  x: 398px,
  y: 112px,
  offset_x: -398px,
  offset_y: -112px,
  width: 26px,
  height: 26px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_blog-twitter-gray: (
  name: 'icon_blog-twitter-gray',
  x: 0px,
  y: 0px,
  offset_x: 0px,
  offset_y: 0px,
  width: 172px,
  height: 139px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_clip: (
  name: 'icon_clip',
  x: 398px,
  y: 363px,
  offset_x: -398px,
  offset_y: -363px,
  width: 23px,
  height: 21px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_cloud: (
  name: 'icon_cloud',
  x: 224px,
  y: 339px,
  offset_x: -224px,
  offset_y: -339px,
  width: 30px,
  height: 27px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_eye: (
  name: 'icon_eye',
  x: 136px,
  y: 295px,
  offset_x: -136px,
  offset_y: -295px,
  width: 35px,
  height: 22px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_only-facebook-white: (
  name: 'icon_only-facebook-white',
  x: 275px,
  y: 186px,
  offset_x: -275px,
  offset_y: -186px,
  width: 11px,
  height: 23px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_only-google_plus-white: (
  name: 'icon_only-google_plus-white',
  x: 320px,
  y: 371px,
  offset_x: -320px,
  offset_y: -371px,
  width: 21px,
  height: 20px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_only-pinterest-white: (
  name: 'icon_only-pinterest-white',
  x: 275px,
  y: 141px,
  offset_x: -275px,
  offset_y: -141px,
  width: 14px,
  height: 19px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_only-twitter-white: (
  name: 'icon_only-twitter-white',
  x: 173px,
  y: 295px,
  offset_x: -173px,
  offset_y: -295px,
  width: 23px,
  height: 19px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$icon_project-site-link: (
  name: 'icon_project-site-link',
  x: 377px,
  y: 203px,
  offset_x: -377px,
  offset_y: -203px,
  width: 17px,
  height: 17px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$magnific-popup-arrow-next: (
  name: 'magnific-popup-arrow-next',
  x: 296px,
  y: 102px,
  offset_x: -296px,
  offset_y: -102px,
  width: 79px,
  height: 78px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$magnific-popup-arrow-prev: (
  name: 'magnific-popup-arrow-prev',
  x: 296px,
  y: 182px,
  offset_x: -296px,
  offset_y: -182px,
  width: 79px,
  height: 78px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$magnific-popup-close: (
  name: 'magnific-popup-close',
  x: 398px,
  y: 336px,
  offset_x: -398px,
  offset_y: -336px,
  width: 26px,
  height: 25px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$project-next-arrow-large: (
  name: 'project-next-arrow-large',
  x: 244px,
  y: 141px,
  offset_x: -244px,
  offset_y: -141px,
  width: 29px,
  height: 105px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$project-popup-arrow-next-small: (
  name: 'project-popup-arrow-next-small',
  x: 377px,
  y: 102px,
  offset_x: -377px,
  offset_y: -102px,
  width: 15px,
  height: 29px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$project-popup-arrow-next: (
  name: 'project-popup-arrow-next',
  x: 76px,
  y: 263px,
  offset_x: -76px,
  offset_y: -263px,
  width: 28px,
  height: 55px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$project-popup-arrow-prev-small: (
  name: 'project-popup-arrow-prev-small',
  x: 377px,
  y: 133px,
  offset_x: -377px,
  offset_y: -133px,
  width: 15px,
  height: 29px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$project-popup-arrow-prev: (
  name: 'project-popup-arrow-prev',
  x: 106px,
  y: 263px,
  offset_x: -106px,
  offset_y: -263px,
  width: 28px,
  height: 55px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$team-frame-white: (
  name: 'team-frame-white',
  x: 296px,
  y: 0px,
  offset_x: -296px,
  offset_y: 0px,
  width: 100px,
  height: 100px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$testimonial-frame-blue-2: (
  name: 'testimonial-frame-blue-2',
  x: 0px,
  y: 141px,
  offset_x: 0px,
  offset_y: -141px,
  width: 120px,
  height: 120px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$testimonial-frame-blue: (
  name: 'testimonial-frame-blue',
  x: 122px,
  y: 141px,
  offset_x: -122px,
  offset_y: -141px,
  width: 120px,
  height: 120px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$testimonial-frame-small-white: (
  name: 'testimonial-frame-small-white',
  x: 0px,
  y: 263px,
  offset_x: 0px,
  offset_y: -263px,
  width: 74px,
  height: 74px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$testimonial-frame-white: (
  name: 'testimonial-frame-white',
  x: 174px,
  y: 0px,
  offset_x: -174px,
  offset_y: 0px,
  width: 120px,
  height: 120px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$testtimonil-text-treangle: (
  name: 'testtimonil-text-treangle',
  x: 377px,
  y: 239px,
  offset_x: -377px,
  offset_y: -239px,
  width: 16px,
  height: 17px,
  total_width: 424px,
  total_height: 396px,
  image: '../images/sprites/svg2png.png'
);
$svg-to-png: (
  width: 424px,
  height: 396px,
  image: '../images/sprites/svg2png.png',
  sprites: $conact-form-error $front-services-arrow $header-nav-arrow $icon-dribbble-gray $icon-dribbble $icon-facebook-blue $icon-facebook-gray $icon-google-gray $icon-google-red $icon-linkedin-gray $icon-linkedin-red $icon-small-svg1 $icon-small-svg10 $icon-small-svg11 $icon-small-svg12 $icon-small-svg13 $icon-small-svg14 $icon-small-svg15 $icon-small-svg16 $icon-small-svg17 $icon-small-svg18 $icon-small-svg19 $icon-small-svg2 $icon-small-svg20 $icon-small-svg21 $icon-small-svg22 $icon-small-svg23 $icon-small-svg24 $icon-small-svg25 $icon-small-svg26 $icon-small-svg27 $icon-small-svg28 $icon-small-svg29 $icon-small-svg3 $icon-small-svg30 $icon-small-svg31 $icon-small-svg32 $icon-small-svg33 $icon-small-svg4 $icon-small-svg5 $icon-small-svg6 $icon-small-svg7 $icon-small-svg8 $icon-small-svg9 $icon-twitter-blue $icon-twitter-gray $icon_blog-facebook-gray $icon_blog-google-gray $icon_blog-twitter-gray $icon_clip $icon_cloud $icon_eye $icon_only-facebook-white $icon_only-google_plus-white $icon_only-pinterest-white $icon_only-twitter-white $icon_project-site-link $magnific-popup-arrow-next $magnific-popup-arrow-prev $magnific-popup-close $project-next-arrow-large $project-popup-arrow-next-small $project-popup-arrow-next $project-popup-arrow-prev-small $project-popup-arrow-prev $team-frame-white $testimonial-frame-blue-2 $testimonial-frame-blue $testimonial-frame-small-white $testimonial-frame-white $testtimonil-text-treangle
);

