.product-full.item-with-checkbox {
	animation-duration: 0.4s;
	margin-left: 30px;
	margin-right: 0;

	.favorites-checkbox {
		position: absolute;
		left: -30px;
		top: $product-padding;

		@include screen( 0, $profuct-full-mobile-point ) {
			top: $product-padding-xs;
		}
	}

	
}
.favorites-panel {
	border-bottom: 1px solid $color-grey;
	margin-top: 5px;
	padding-left: 40px;
	padding-bottom: 25px;
	position: relative;

	.checkbox {
		left: 0;
		position: absolute;
		top: 7.5px;

		&+label {
			margin-left: 0;
		}
	}
	.btn-light-blue {
		margin: 0 0 0 20px;
	}

	&+.prosucts-list {
		margin-top: 0;
	}

	@include screen( 0, $profuct-full-mobile-point ) {
		padding-bottom: 15px;
	}

}
.archive-products .main-content .favorites-panel .bootstrap-select {
	width: auto;
}