/* ==========================================================================
	Adds Archive Filter Form Styles
========================================================================== */
$profuct-filter-mobile-point: xs;
.products-filter-form, .products-buy-filter {
	background-color: $color-light-bg;

	@include screen( 0, $profuct-filter-mobile-point ) {
		padding: 15px 15px 5px;
	}

	@include screen( $profuct-filter-mobile-point ) {
		padding: 20px 30px 20px;
	}
}
.products-filter-form {

	.box-wrapper {
		margin-bottom: 10px;

		>*:not([type=checkbox]):not([type=submit]):not(.box-inner-wrapper):not(label):not(a) {
			width: 100%;
		}
	}
	.checkbox {
		@extend .clearfix;
		height: 34px;
		position: relative;
		 
		input[type=checkbox] {
			position: absolute;
			margin-top: -10px;
			top: 50%;
		}

		label {
			height: 100%;
			position: relative;

			span, &:before {
				display: inline-block;
				vertical-align: middle;
			}

			&:before {
				content: '';
				height: 100%;
				width: 0;
			}

			span {
				
				
				
			}
			// display: inline-block;
			// 
		}
	}
	label {
		display: block;
		line-height: 1.1;
	}
	.box-inner-wrapper {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		>* {
			width: 100%;
		}
		&:nth-child(2n+1) {
			position: relative;
			button, input {
				border-right: 0;
			}
			&:after {
				background-color: $color-light;
				content: '';
				display: block;
				height: 70%;
				width: 1px;
				position: absolute;
				right: 0;
				top: 15%;
				z-index: 1;
			}
		}
		&:nth-child(2n) {
			button, input {
				border-left: 0;
			}
		}
	}
		
	.form-inner {
		.box-wrapper {
			&.hide {
				display: none;
			}
		}
		@include screen( $profuct-filter-mobile-point ) {
			margin: 0 -15px;
			.box-wrapper {
				display: inline-block;
				padding: 0 15px;
				vertical-align: top;
				width: 33.3333%;
			}
		}
	}
	.form-bottom {
		margin-top: 20px;

		a {
			margin-top: 10px;
		}
		input[type=submit] {
			float: right;
		}
	}
	.clean {
		font-weight: 700; 

		&:not(.btn-border-light-blue) {
			// font-weight: 700;
			margin-bottom: 5px;
		}

		&.btn-border-light-blue {

		}
	}
	input[type=submit] {
		font-size: 14px;
		padding: 14px;
		height: auto;

		width: auto;
	}
	
	a {
		color: $color-light-blue;
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
	}
	.show-more {
		position: relative;
		padding-right: 30px;

		&:after {
			@include arrow-after($color-light-blue, 8);

			content: '';
		}

		&.open {
			&:after {
				@include arrow-up-after($color-light-blue, 8);
			}
		}
	}
}
.products-filter-options {
	margin: 24px 0 14px;
	.box-wrapper {
		margin-bottom: 10px;
		&:not(.show-mobile) {
			max-width: 100%;
		}
                .arr-down,.arr-up{
                    text-decoration: underline;
                }
        }
	.carousel-options {
		button {
			border: 0;
			cursor: pointer;
			padding: 0 6px;
		}		
	}
        span {
                color: $color-light-blue;
                margin: 0px 12px;
                &:hover{
                    cursor: pointer;
                }                
        }
        p{
            margin-bottom:0px;
        }
	@include screen( 0, sm ) {
		.box-wrapper {
			&.hide-mobile {
				display: none;
			}
		}
	}
	@include screen( xs, sm ) {
		.box-wrapper {
			&:not(.show-mobile) {
				max-width: 195px;
			}
		}
	}
	@include screen( sm ) {
		.products-filter-options-inner {
			margin: 0 -10px;
		}
		.box-wrapper {
			display: inline-block;
			max-width: 195px;
			padding: 0 10px;
			/*width: 33.3333%;*/
			&.show-mobile {
				display: none;
			}
		}
	}
}
.arr-up{
    &:after{
        display: inline-block;
        content: '\00A0\2191';
        position: relative;
        font-weight: bold;
        margin-right: 0px;
    }
}
.arr-down{
    &:after{
        display: inline-block;
        content: '\00A0\2193';
        position: relative;
        margin-right: 0px;
        font-weight: bold;
    }
}
.products-buy-filter {
	border: 0;
	margin: 0;

	.return {
		color: $color-light-blue;
		display: inline-block;
		font-size: 14px;
		line-height: 1;
		margin-top: 20px;
	}
}
