/* ==========================================================================
	Adds Archive Listing
========================================================================== */
$profuct-full-mobile-point: sm;
$profuct-full-pl: 230px;

.prosucts-list {
	margin-top: 20px;
}
$product-padding: 18px;
$product-padding-xs: 12px;
.listing-addition {
	margin-top: 1px;
	position: relative;

	>div[id] {
		margin-left: 0;
		margin-right: 0;
		text-align: center;

		&:before {
			background-color: $color-light;
			content: '';
			left: 0;
			right: 0; 
			height: 1px;
			position: absolute;
			width: 100%;
		}

		@include screen( 0, $profuct-full-mobile-point ) {
			margin-bottom: $product-padding-xs;
			margin-top: $product-padding-xs;
		}

		@include screen( $profuct-full-mobile-point ) {
			margin-bottom: $product-padding;
			margin-top: $product-padding;
		}
	}
	&:not(:first-child) {
		>div[id] {
			&:before {
				@include screen( 0, $profuct-full-mobile-point ) {
					top: -12px;
				}

				@include screen( $profuct-full-mobile-point ) {
					top: -18px;
				}
			}
		}
	}
	&:first-child {
		+ .product-full .product-full-inner {
			border-top: 0;
		}
		+ .site-highlight:not([set-hide="1"]), + .newspaper-highlight:not([set-hide="1"]) {
			margin-top: -1px;
		}
		>div[id] {
			&:before {
				@include screen( 0, $profuct-full-mobile-point ) {
					bottom: -12px;
				}

				@include screen( $profuct-full-mobile-point ) {
					bottom: -18px;
				}
			}
		}
	}
}

.product-full {
	margin-left: -$page-padding-xs;
	margin-right: -$page-padding-xs;
	padding-left: $page-padding-xs;
	padding-right: $page-padding-xs;
	position: relative;

	.main-link {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 5;

	}

	&:last-child .product-full-inner {
		border-bottom: 1px solid $color-light;
	}

	.product-full-inner {
		border-top: 1px solid $color-light;
		position: relative;

		@include screen( 0, $profuct-full-mobile-point ) {
			min-height: 84px + 2*$product-padding-xs;
			padding-bottom: $product-padding-xs;
			padding-top: $product-padding-xs;
		}
		@include screen( $profuct-full-mobile-point ) {
			min-height: 140px + 2*$product-padding;
			padding-bottom: 65px;
			padding-top: $product-padding;

			&.product-thumb-big {
				min-height: 212px + 2*$product-padding;

				.product-thumb {
					height: 212px;
				}
			}
			// padding-bottom: 45px;
		}
	}

	.data-first, .data-second {
		font-size: 16px;

		@include screen( $profuct-full-mobile-point ) {
			line-height: 1.2;
		}
	}

	.title {
		@include screen( 0, $profuct-full-mobile-point ) {
			margin-bottom: 2px;
		}
	}
	.control-buttons {
		position: absolute;
		right: 0;
		z-index: 6;

		.control-button {
			border: 1px solid $color-light-grey;
			display: block;
			height: 30px;
			line-height: 28px;
			margin: 6px 0 0;
			width: 30px;

			&:first-child {
				margin-top: 0px;
			}

			&.favourites .icon, &.newspaper .icon {
				display: inline-block;
				height: 16px;
				width: 16px;
			}

			&.vip, &.newspaper {
				border: 0;
			}

			&.vip {
				background-color: $color-blue;
				color: $color-yellow;
				font-size: 13px;
				font-weight: 700;
			}
			&.newspaper {
				background-color: $color-yellow;
			}
			&:not(.vip):not(.newspaper) {
				background-color: transparent;
			}
		}

		@include screen( 0, $profuct-full-mobile-point ) {
			top: $product-padding-xs;
		}
		@include screen( $profuct-full-mobile-point ) {
			top: $product-padding;
		}


	}

	body.login-menu-active & {
		.control-button {
			pointer-events: none;
		}
	}

	.product-full-content {
		@include screen( $profuct-full-mobile-point ) {
			padding-left: $profuct-full-pl;
			padding-right: 40px;
		}
	}

	.product-thumb {
		img {
			display: block;
		}
		.thumbs-block {
			.thumb {
				display: inline-block;
				&:nth-child(2) {
					float: right;
				}
			}
		}
		.auto-onorder {
			background-color: rgba($color-blue, 0.8);
			left: 0;
			// line-height: 1;
			margin-left: 0;
			position: absolute;
			top: 0;
			z-index: 1;
		}
		@include screen( 0, $profuct-full-mobile-point ) {
			float: left;
			height: 84px;
			position: relative;
			width: 122px;
			.thumbs-block {
				margin-top: 4px;

				.thumb {
					height: 40.8px;
					width: 60px;
				}
			}
		}
		@include screen( $profuct-full-mobile-point ) {
			height: 140px;
			width: 204px;

			left: 0;
			position: absolute;
			top: $product-padding;

			.no-photo {
				height: 140px;
			}

			.thumbs-block {
				margin-top: 6px;

				.thumb {
					height: 68px;
					width: 100px;
				}
			}
		}
		
		
	}
	.location-data {
		@include screen( 0, $profuct-full-mobile-point ) {
			margin-bottom: 5px;
		}
		@include screen( $profuct-full-mobile-point ) {
			bottom: $product-padding;
			left: $profuct-full-pl;
			position: absolute;
		}
	}
	.autohouse {
		position: relative;
		z-index: 11;

		img {
			display: inline-block;
			max-height: 38px;
		}
		@include screen( $profuct-full-mobile-point ) {
			margin-bottom: 2px;
		}
	}
	.autohouse, .autohouse a {
		color: $color-light-blue;
		font-size: 14px;
	}
	.location {
		@include screen( 0, $profuct-full-mobile-point ) {
			color: $color-dark-grey;
			font-size: 11px;
		}
		@include screen( $profuct-full-mobile-point ) {
			font-size: 14px;
		}
	}
	.data-first {
		@include screen( 0, $profuct-full-mobile-point ) {
			margin-right: 35px;
		}
		@include screen( $profuct-full-mobile-point ) {
			display: inline-block;
			padding-right: 18px;
			vertical-align: top;
			width: 55%;
		}
	}
	.data-second {
		.data-second-item div {
			// display: inline-block;
			line-height: 1.2;

			* {
				line-height: 1.2;
			}
		}
		@include screen( 0, $profuct-full-mobile-point ) {
			margin-top: 15px;
			position: relative;
			.data-second-item {
				font-size: 16px;
				// line-height: 1;
				margin-left: 132px;

				// &:not(.data-mileage) {
				// 	margin-bottom: 9px;
				// }
			}
			
		}
		@include screen( $profuct-full-mobile-point ) {
			display: inline-block;
			vertical-align: top;
			width: 45%;

			.data-second-item {
				display: inline-block;
				vertical-align: top;

				// div:first-child {
				// 	font-weight: 700;
				// }
			}
		}
	}
	.data-price {
		.data-price-byn {
			font-weight: 700;
		}
		.data-price-usd {
			color: $color-dark-grey;
		}
		.icon {
			margin-left: -14px;
			vertical-align: middle;
			transform: rotate(-90deg);
			height: 14px;
			width: 14px;
            position: relative;
            z-index: 5;
		}
		

		@include screen( 0, $profuct-full-mobile-point ) {
			.data-price-byn {
				margin-bottom: 5px;
			}
			.data-price-usd {
				font-size: 11px;
			}
		}
		@include screen( $profuct-full-mobile-point ) {
			width: 70%;

			// .data-price-usd {
			// 	margin-top: 8px;
			// }
		}
	}
	.data-year {
		
		@include screen( 0, $profuct-full-mobile-point ) {
			
		}
		@include screen( $profuct-full-mobile-point ) {
			width: 30%;
		}
	}

	.icon-overtaking {
		@include icon-arrow( 10, 4, 1, $color-dark-grey, -90deg );

		margin-left: 3px;
	}
	.data-time {
		color: $color-dark-grey;
		position: absolute;
		right: 0;

		span {
			display: inline-block;
			vertical-align: middle;
		}
		&:not(.is-overtaking) {
			.icon {
				display: none;
			}
		}
		&.is-overtaking {
			background-color: $color-yellow;
			color: $color-text;
			line-height: 1;
			padding: 3px 6px;
			
			.icon {
				margin-right: 3px;
				height: 10px;
			    width: 10px;
			}
    
		}
		@include screen( 0, $profuct-full-mobile-point ) {
			bottom: $product-padding-xs;
			font-size: 11px;
		}
		@include screen( $profuct-full-mobile-point ) {
			bottom: $product-padding;
			font-size: 14px;
		}
	} 


	.excerpt {
		font-size: 14px;
		line-height: 1.4;

		@include screen( 0, $profuct-full-mobile-point ) {
			margin-top: 10px;
		}
		@include screen( $profuct-full-mobile-point ) {
			// margin-bottom: 20px;
			margin-top: 28px;
		}
	}
	&.site-highlight:not([set-hide="1"]) {
		background-color: #fff2bf;

		.data-time {
			color: $color-text;
		}

		.product-full-inner {
			border: 0;
		}

		&:hover {
			background-color: #ffefb2;
		}
		
	}
	&.newspaper-highlight:not([set-hide="1"]) {
		border: 2px solid $color-yellow;
		padding-left: $page-padding-xs - 2px;
		padding-right: $page-padding-xs - 2px;

		&:hover {
			background-color: #fffae5;
		}
	}
	&.site-highlight:not([set-hide="1"]), &.newspaper-highlight:not([set-hide="1"]) {
		+.product-full:not(.site-highlight):not(.newspaper-highlight) {
			.product-full-inner {
				border-top: 0;
			}
		}
		+.listing-addition {
			>div[id]:before {
				display: none;
			}
		}
		+.site-highlight:not([set-hide="1"]), &+.newspaper-highlight:not([set-hide="1"]) {
			margin-top: 1px;
		}
	}
	&.price-selected { 
		.data-price {
			
		}
		.data-price-byn {
			margin-bottom: 0;
			
			>span {
				background: $color-yellow;
				cursor: pointer;
				padding: 4px;
				position: relative;
				z-index: 11;
				position: relative;
			}
		}
	}

	&:not([set-hide="1"]) {
		&:hover {
			&:not(.site-highlight):not(.newspaper-highlight) {
				background-color: rgba($color-light-bg, 0.5);
			}

			.title, .data-price div:first-child:not(.control-button-tip):not(.tip-title):not(.control-button-tip-inner), .data-year div:first-child {
				color: $color-light-blue;
			}
		}
	}

	.title, .data-price div:first-child:not(.control-button-tip-inner), .data-year div:first-child {
		font-weight: 700;
		margin-bottom: 8px;
	}
	.icon-hide {
		@include transition('background');
		background: none;
	}
	&[set-hide="1"] {
		color: $color-dark-grey;
		
		.product-full-inner {
			min-height: initial;
		}

		.autohouse, .autohouse a {
			color: $color-dark-grey;
		}
		.product-thumb {
			display: none;
		}
		
		
		
		.control-button:not(.hide), .description, .excerpt, .data-time {
			display: none;
		}
		.control-button {
			margin-top: 0;
			.icon-hide {
				@extend .icon-return;

				&:after, &:before {
					display: none;
				}
			}
		}

		@include screen( 0, $profuct-full-mobile-point ) {
			.data-second {
				display: none;
			}
		}

		@include screen( $profuct-full-mobile-point ) {
			.data-first {
				float: left;
				margin-left: -$profuct-full-pl;
				// width: $profuct-full-pl;
			}
			.location-data {
				left: 0;
				position: static;
			}
			.data-second {
				float: right;
				// padding-left: 55%;
				// width: 100%;
			}
			.product-full .data-first, .product-full .data-second {
				line-height: 1.5;
			}
		}
	}
}	
.control-button-tip, .data-price .control-button-tip {
	@include transition('all', .15s, 'cubic-bezier(0.84, 0.35, 0.56, 1.1)'); 
	color: $color-text;
	font-size: 14px;
	font-weight: 300;


	.control-button-tip-inner {
		border: 1px solid $color-light-grey;
		background-color: $color-white;
		margin: 0;
		padding: 15px;
		position: relative;
		z-index: 1;
	}

	.tip-title {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.3;
		margin-bottom: 10px;
	}

	.action {
		display: inline-block;
		margin-top: 15px;
	}

	// @include screen( $profuct-full-mobile-point ) {
		min-width: 350px;
		padding-bottom: 10px;
		position: absolute;
		right: 0;
		bottom: 100%;
		z-index: 12;

		&:after {
			bottom: 5px;
			border-left: 1px solid $color-light-grey; 
			border-top: 1px solid $color-light-grey; 
			background-color: $color-white;
			content: '';
			display: block;
			position: absolute;
			transform: rotate(-135deg);
			right: 10px;
			height: 10px;
			width: 10px;
			z-index: 2;
		}

		&:not(.shown) {
			@include opacity(0);
			pointer-events: none;
			visibility: hidden;
			bottom: 115%;
			z-index: -9999;
		}
	// }
}

.data-price .control-button-tip {
	@include screen( $profuct-full-mobile-point ) {
		width: 300px;
	}
}
.prosucts-list-ah{
    margin-top: 0px;
    padding: 0 10px;
    .product-full{
        padding-bottom: 20px;
    }
    .product-full-inner{
        p{
            margin: 0px;
        }
        a{
            color: $color-light-blue;
        }
        .ah-logo {
            width: 150px;
            float: left;                
        }
        .ah-full-content {
            width: calc(100% - 150px);
            float: left;
            padding-left: 20px;
        }
        .ah-main-title {
            font-weight: bold;
            color: $color-text;
            margin-bottom: 5px;
            span {
                margin-left: 10px;
                color: $color-dark-grey;
                font-weight: normal;    
            }
        }
        .ah-main-line
            span {
                color: $color-text;
                font-weight: bold;
                width: 100px;
                display: inline-block;
            }
        .ah-main-info{
            margin-bottom: 10px;
            a{
                z-index: 11;
                position: relative;
            }
        }
        .ah-main-description{
            p{
                &:last-child{
                    color: $color-dark-grey;
                }
                &:first-child{
                    height: 24px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
.title-ah-ad{
    div{
        &:first-child{
            width: 50%;
            text-align: center;
            font-weight: bold;
            color: $color-text;
            background: $color-light-bg;
            font-size: 16px;
            padding: 10px;
            float: left;
            display: inline-block;
        }
        &:last-child{
            width: 50%;
            text-align: center;
            font-weight: normal;
            color: $color-light-blue;
            background: white;
            font-size: 16px;
            padding: 10px;
            display: inline-block;
        }
    }
}
