/* ==========================================================================
	Adds Archive Common Styles
========================================================================== */
.archive-products {
	// @include screen( 0, $mobile-start ) {
	// 	.right-sidebar {
	// 		display: none;
	// 	}
	// }
	// @include screen( $mobile-start ) {
		.main-content {
			float: left;
			margin-right: - $banner-width-3;
			padding-right: $banner-width-3 + 20px;
			width: 100%;
		}
		.right-sidebar {
			float: right;
			text-align: center;
			width: $banner-width-3;

			.block-240-400, .block-300-600 {
				display: inline-block;
				height: auto;
				padding-bottom: 30px;
			}
			.js-fixed-content {
				padding-top: 0;
			}
			// .block-300-600 {
			// 	margin-top: 30px;
			// }
		}
	// }

	.title-h1 {
		font-size: 18px;
	}
	
}
.product-models {
	border: 1px solid $color-border;
	margin: 20px 0;
	padding: 10px 18px; 

	.filter-marka {
		.filter-marka-item {
			@include screen( 0, xs ) {
				width: 50%;
			}
			@include screen( xs, sm ) {
				width: 33.3333%;
			}
			@include screen( sm, md ) {
				width: 25%;
			}
			@include screen( md, lg ) {
				width: 20%;
			}
			@include screen( lg ) {
				width: 16.6666%;
			}
		}
		html.csscolumns & {
			.filter-marka-item {
				float: none;
				width: auto;
			} 

			@include screen( 0, xs ) {
				column-count: 2;
				-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    		-moz-column-count: 2; /* Firefox */
			}
			@include screen( xs, sm ) {
				column-count: 3;
				-webkit-column-count: 3; /* Chrome, Safari, Opera */
	    		-moz-column-count: 3; /* Firefox */
			}
			@include screen( sm, md ) {
				column-count: 4;
				-webkit-column-count: 4; /* Chrome, Safari, Opera */
	    		-moz-column-count: 4; /* Firefox */
			}
			@include screen( md, lg ) {
				column-count: 5;
				-webkit-column-count: 5; /* Chrome, Safari, Opera */
	    		-moz-column-count: 5; /* Firefox */
			}
			@include screen( lg ) {
				column-count: 6;
				-webkit-column-count: 6; /* Chrome, Safari, Opera */
	    		-moz-column-count: 6; /* Firefox */
			}
		}
	}


}
.btn-to-notebook {
	animation-duration: 0.4s;
	box-shadow: 0 0 6px rgba($color-text, 0.5);

	bottom: 0;
	padding: 0;
	position: fixed;
	right: 0;
	z-index: 20;

	&:not(.shown) {
		display: none;
	}
	>span, >a {
		@extend .btn-pink;

		padding: 0;
	}
	a, a:hover {
		color: $color-white;
		text-decoration: none;
	}
	span, a {
		display: inline-block;
		vertical-align: middle;
	}
	.message {
		font-size: 16px;
		padding-left: 8px;
		padding-right: 25px;
	}
	.icon-favourites {
		@extend .icon-favourites-remove-white;
		height: 16px;
		margin-top: -4px;
		width: 16px;
	}
	.favourites,
	.close {
		line-height: 40px;
		height: 40px;
		text-align: center;
		
	}
	.favourites {
		padding-left: 10px;
	}
	.close {
		box-shadow: -1px 0 1px rgba($color-text, 0.3);
		width: 34px;
	}
	.icon-hide {
		&:after, &:before {
			background-color: $color-white;
		}
	}
}