<header class="site-header" id="site-header">
	<div class="site-header-inner clearfix">
		<div class="logo"><a href="{$static_www}"><img src="{$static_www}/new/des/img/logo.png" alt=""></a></div>
		{include file='/home/abd/public_html/new/templates/section/header1251/menu.tpl'}
		<div class="navigation">
			<a href="{if $smarty.session.login}{$link.profile.link}{else}#form-login{/if}" class="login{if $smarty.session.login} is-logined js-login-btn{else} js-popup-with-form{/if}"><span class="icon-login"></span></a>{*
			*}<a href="{$link.add.link}" class="add-product"><span class="icon-plus"></span>{$link.add.name}</a>{*
			*}<div class="header-search" id="js-header-search"><span class="icon-search"></span></div>{*
			*}<div class="header-navigation-toggler" id="js-header-navigation-toggler"><span class="icon-toggle"></span></div>
		</div>
		{include file='/home/abd/public_html/new/templates/section/header1251/search.tpl'}
	</div>
	{include file='/home/abd/public_html/new/templates/section/header1251/menu-login.tpl'}
</header>
{include file='/home/abd/public_html/new/templates/section/header1251/form-login.tpl'}