/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$icon-rocket: (
  name: 'icon-rocket',
  x: 100px,
  y: 31px,
  offset-x: -100px,
  offset-y: -31px,
  width: 55px,
  height: 55px,
  total-width: 315px,
  total-height: 106px,
  image: '../images/sprites/common.png'
);
$logo-black: (
  name: 'logo-black',
  x: 100px,
  y: 0px,
  offset-x: -100px,
  offset-y: 0px,
  width: 215px,
  height: 29px,
  total-width: 315px,
  total-height: 106px,
  image: '../images/sprites/common.png'
);
$wp-hosting-testimonial-img-frame: (
  name: 'wp-hosting-testimonial-img-frame',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 98px,
  height: 106px,
  total-width: 315px,
  total-height: 106px,
  image: '../images/sprites/common.png'
);
$common: (
  width: 315px,
  height: 106px,
  image: '../images/sprites/common.png',
  sprites: ($icon-rocket, $logo-black, $wp-hosting-testimonial-img-frame, )
);


