// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: map-get($icon-home, 'width');
// }
//
// At the bottom of this section, we provide information about the spritesheet itself
$a100: (
  name: 'a100',
  x: 548px,
  y: 665px,
  offset-x: -548px,
  offset-y: -665px,
  width: 173px,
  height: 34px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-boat-active: (
  name: 'icon-boat-active',
  x: 172px,
  y: 953px,
  offset-x: -172px,
  offset-y: -953px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-boat-big-active: (
  name: 'icon-boat-big-active',
  x: 0px,
  y: 399px,
  offset-x: 0px,
  offset-y: -399px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-boat-big: (
  name: 'icon-boat-big',
  x: 0px,
  y: 133px,
  offset-x: 0px,
  offset-y: -133px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-boat: (
  name: 'icon-boat',
  x: 0px,
  y: 866px,
  offset-x: 0px,
  offset-y: -866px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-car-active: (
  name: 'icon-car-active',
  x: 860px,
  y: 953px,
  offset-x: -860px,
  offset-y: -953px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-car-big-active: (
  name: 'icon-car-big-active',
  x: 263px,
  y: 266px,
  offset-x: -263px,
  offset-y: -266px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-car-big: (
  name: 'icon-car-big',
  x: 526px,
  y: 0px,
  offset-x: -526px,
  offset-y: 0px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-car: (
  name: 'icon-car',
  x: 344px,
  y: 953px,
  offset-x: -344px,
  offset-y: -953px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-disc-active: (
  name: 'icon-disc-active',
  x: 688px,
  y: 866px,
  offset-x: -688px,
  offset-y: -866px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-disc-big-active: (
  name: 'icon-disc-big-active',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-disc-big: (
  name: 'icon-disc-big',
  x: 263px,
  y: 399px,
  offset-x: -263px,
  offset-y: -399px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-disc: (
  name: 'icon-disc',
  x: 141px,
  y: 749px,
  offset-x: -141px,
  offset-y: -749px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-exchange: (
  name: 'icon-exchange',
  x: 1052px,
  y: 251px,
  offset-x: -1052px,
  offset-y: -251px,
  width: 116px,
  height: 104px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-garage-active: (
  name: 'icon-garage-active',
  x: 657px,
  y: 749px,
  offset-x: -657px,
  offset-y: -749px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-garage-big-active: (
  name: 'icon-garage-big-active',
  x: 526px,
  y: 532px,
  offset-x: -526px,
  offset-y: -532px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-garage-big: (
  name: 'icon-garage-big',
  x: 789px,
  y: 0px,
  offset-x: -789px,
  offset-y: 0px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-garage: (
  name: 'icon-garage',
  x: 1052px,
  y: 0px,
  offset-x: -1052px,
  offset-y: 0px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-minibus-active: (
  name: 'icon-minibus-active',
  x: 172px,
  y: 866px,
  offset-x: -172px,
  offset-y: -866px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-minibus-big-active: (
  name: 'icon-minibus-big-active',
  x: 789px,
  y: 266px,
  offset-x: -789px,
  offset-y: -266px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-minibus-big: (
  name: 'icon-minibus-big',
  x: 789px,
  y: 133px,
  offset-x: -789px,
  offset-y: -133px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-minibus: (
  name: 'icon-minibus',
  x: 516px,
  y: 866px,
  offset-x: -516px,
  offset-y: -866px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-moto-active: (
  name: 'icon-moto-active',
  x: 485px,
  y: 749px,
  offset-x: -485px,
  offset-y: -749px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-moto-big-active: (
  name: 'icon-moto-big-active',
  x: 263px,
  y: 532px,
  offset-x: -263px,
  offset-y: -532px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-moto-big: (
  name: 'icon-moto-big',
  x: 0px,
  y: 532px,
  offset-x: 0px,
  offset-y: -532px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-moto: (
  name: 'icon-moto',
  x: 313px,
  y: 749px,
  offset-x: -313px,
  offset-y: -749px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-phone: (
  name: 'icon-phone',
  x: 1188px,
  y: 637px,
  offset-x: -1188px,
  offset-y: -637px,
  width: 32px,
  height: 33px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-present: (
  name: 'icon-present',
  x: 1052px,
  y: 637px,
  offset-x: -1052px,
  offset-y: -637px,
  width: 54px,
  height: 56px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-spectransport-active: (
  name: 'icon-spectransport-active',
  x: 1052px,
  y: 169px,
  offset-x: -1052px,
  offset-y: -169px,
  width: 160px,
  height: 80px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-spectransport: (
  name: 'icon-spectransport',
  x: 1052px,
  y: 87px,
  offset-x: -1052px,
  offset-y: -87px,
  width: 160px,
  height: 80px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-subscribe: (
  name: 'icon-subscribe',
  x: 1052px,
  y: 771px,
  offset-x: -1052px,
  offset-y: -771px,
  width: 32px,
  height: 33px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-tire-active: (
  name: 'icon-tire-active',
  x: 344px,
  y: 866px,
  offset-x: -344px,
  offset-y: -866px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-tire-big-active: (
  name: 'icon-tire-big-active',
  x: 526px,
  y: 399px,
  offset-x: -526px,
  offset-y: -399px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-tire-big: (
  name: 'icon-tire-big',
  x: 526px,
  y: 266px,
  offset-x: -526px,
  offset-y: -266px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-tire: (
  name: 'icon-tire',
  x: 860px,
  y: 866px,
  offset-x: -860px,
  offset-y: -866px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-truck-active: (
  name: 'icon-truck-active',
  x: 0px,
  y: 953px,
  offset-x: 0px,
  offset-y: -953px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-truck-big-active: (
  name: 'icon-truck-big-active',
  x: 263px,
  y: 0px,
  offset-x: -263px,
  offset-y: 0px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-truck-big: (
  name: 'icon-truck-big',
  x: 526px,
  y: 133px,
  offset-x: -526px,
  offset-y: -133px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-truck: (
  name: 'icon-truck',
  x: 516px,
  y: 953px,
  offset-x: -516px,
  offset-y: -953px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-zxhl-active: (
  name: 'icon-zxhl-active',
  x: 688px,
  y: 953px,
  offset-x: -688px,
  offset-y: -953px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-zxhl-big-active: (
  name: 'icon-zxhl-big-active',
  x: 0px,
  y: 266px,
  offset-x: 0px,
  offset-y: -266px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-zxhl-big: (
  name: 'icon-zxhl-big',
  x: 263px,
  y: 133px,
  offset-x: -263px,
  offset-y: -133px,
  width: 261px,
  height: 131px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icon-zxhl: (
  name: 'icon-zxhl',
  x: 829px,
  y: 749px,
  offset-x: -829px,
  offset-y: -749px,
  width: 170px,
  height: 85px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$logo: (
  name: 'logo',
  x: 789px,
  y: 565px,
  offset-x: -789px,
  offset-y: -565px,
  width: 206px,
  height: 76px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$news-icon-4: (
  name: 'news-icon-4',
  x: 1052px,
  y: 357px,
  offset-x: -1052px,
  offset-y: -357px,
  width: 90px,
  height: 68px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$news-icon-5: (
  name: 'news-icon-5',
  x: 1052px,
  y: 427px,
  offset-x: -1052px,
  offset-y: -427px,
  width: 90px,
  height: 68px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$news-icon-6: (
  name: 'news-icon-6',
  x: 1052px,
  y: 497px,
  offset-x: -1052px,
  offset-y: -497px,
  width: 90px,
  height: 68px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$news-icon-7: (
  name: 'news-icon-7',
  x: 1052px,
  y: 567px,
  offset-x: -1052px,
  offset-y: -567px,
  width: 90px,
  height: 68px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$no-photo: (
  name: 'no-photo',
  x: 0px,
  y: 749px,
  offset-x: 0px,
  offset-y: -749px,
  width: 139px,
  height: 115px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$small-icon-eye-grey: (
  name: 'small-icon-eye-grey',
  x: 1170px,
  y: 331px,
  offset-x: -1170px,
  offset-y: -331px,
  width: 34px,
  height: 22px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$small-icon-eye: (
  name: 'small-icon-eye',
  x: 1086px,
  y: 771px,
  offset-x: -1086px,
  offset-y: -771px,
  width: 34px,
  height: 22px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$small-icon-message-grey: (
  name: 'small-icon-message-grey',
  x: 1052px,
  y: 806px,
  offset-x: -1052px,
  offset-y: -806px,
  width: 26px,
  height: 24px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$small-icon-message: (
  name: 'small-icon-message',
  x: 1080px,
  y: 806px,
  offset-x: -1080px,
  offset-y: -806px,
  width: 26px,
  height: 24px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-appstore: (
  name: 'social-appstore',
  x: 274px,
  y: 665px,
  offset-x: -274px,
  offset-y: -665px,
  width: 272px,
  height: 82px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-fb-small-hover: (
  name: 'social-fb-small-hover',
  x: 1132px,
  y: 695px,
  offset-x: -1132px,
  offset-y: -695px,
  width: 38px,
  height: 38px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-fb-small: (
  name: 'social-fb-small',
  x: 1170px,
  y: 251px,
  offset-x: -1170px,
  offset-y: -251px,
  width: 38px,
  height: 38px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-fb: (
  name: 'social-fb',
  x: 1144px,
  y: 567px,
  offset-x: -1144px,
  offset-y: -567px,
  width: 56px,
  height: 56px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-googleplay: (
  name: 'social-googleplay',
  x: 0px,
  y: 665px,
  offset-x: 0px,
  offset-y: -665px,
  width: 272px,
  height: 82px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-od-small-hover: (
  name: 'social-od-small-hover',
  x: 1148px,
  y: 637px,
  offset-x: -1148px,
  offset-y: -637px,
  width: 38px,
  height: 38px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-od-small: (
  name: 'social-od-small',
  x: 1052px,
  y: 695px,
  offset-x: -1052px,
  offset-y: -695px,
  width: 38px,
  height: 38px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-od: (
  name: 'social-od',
  x: 1144px,
  y: 357px,
  offset-x: -1144px,
  offset-y: -357px,
  width: 56px,
  height: 56px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-telegram-hover: (
  name: 'social-telegram-hover',
  x: 1166px,
  y: 735px,
  offset-x: -1166px,
  offset-y: -735px,
  width: 36px,
  height: 34px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-telegram: (
  name: 'social-telegram',
  x: 1052px,
  y: 735px,
  offset-x: -1052px,
  offset-y: -735px,
  width: 36px,
  height: 34px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-viber-hover: (
  name: 'social-viber-hover',
  x: 1090px,
  y: 735px,
  offset-x: -1090px,
  offset-y: -735px,
  width: 36px,
  height: 34px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-viber: (
  name: 'social-viber',
  x: 1128px,
  y: 735px,
  offset-x: -1128px,
  offset-y: -735px,
  width: 36px,
  height: 34px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-vk-small-hover: (
  name: 'social-vk-small-hover',
  x: 1172px,
  y: 695px,
  offset-x: -1172px,
  offset-y: -695px,
  width: 38px,
  height: 38px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-vk-small: (
  name: 'social-vk-small',
  x: 1092px,
  y: 695px,
  offset-x: -1092px,
  offset-y: -695px,
  width: 38px,
  height: 38px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-vk: (
  name: 'social-vk',
  x: 1144px,
  y: 497px,
  offset-x: -1144px,
  offset-y: -497px,
  width: 56px,
  height: 56px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-yt-small-hover: (
  name: 'social-yt-small-hover',
  x: 1108px,
  y: 637px,
  offset-x: -1108px,
  offset-y: -637px,
  width: 38px,
  height: 38px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-yt-small: (
  name: 'social-yt-small',
  x: 1170px,
  y: 291px,
  offset-x: -1170px,
  offset-y: -291px,
  width: 38px,
  height: 38px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$social-yt: (
  name: 'social-yt',
  x: 1144px,
  y: 427px,
  offset-x: -1144px,
  offset-y: -427px,
  width: 56px,
  height: 56px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$special-tip-baloons: (
  name: 'special-tip-baloons',
  x: 789px,
  y: 399px,
  offset-x: -789px,
  offset-y: -399px,
  width: 164px,
  height: 164px,
  total-width: 1222px,
  total-height: 1038px,
  image: '../../../img/sprites/icons_2x.png'
);
$icons-2x: (
  width: 1222px,
  height: 1038px,
  image: '../../../img/sprites/icons_2x.png',
  sprites: ($a100, $icon-boat-active, $icon-boat-big-active, $icon-boat-big, $icon-boat, $icon-car-active, $icon-car-big-active, $icon-car-big, $icon-car, $icon-disc-active, $icon-disc-big-active, $icon-disc-big, $icon-disc, $icon-exchange, $icon-garage-active, $icon-garage-big-active, $icon-garage-big, $icon-garage, $icon-minibus-active, $icon-minibus-big-active, $icon-minibus-big, $icon-minibus, $icon-moto-active, $icon-moto-big-active, $icon-moto-big, $icon-moto, $icon-phone, $icon-present, $icon-spectransport-active, $icon-spectransport, $icon-subscribe, $icon-tire-active, $icon-tire-big-active, $icon-tire-big, $icon-tire, $icon-truck-active, $icon-truck-big-active, $icon-truck-big, $icon-truck, $icon-zxhl-active, $icon-zxhl-big-active, $icon-zxhl-big, $icon-zxhl, $logo, $news-icon-4, $news-icon-5, $news-icon-6, $news-icon-7, $no-photo, $small-icon-eye-grey, $small-icon-eye, $small-icon-message-grey, $small-icon-message, $social-appstore, $social-fb-small-hover, $social-fb-small, $social-fb, $social-googleplay, $social-od-small-hover, $social-od-small, $social-od, $social-telegram-hover, $social-telegram, $social-viber-hover, $social-viber, $social-vk-small-hover, $social-vk-small, $social-vk, $social-yt-small-hover, $social-yt-small, $social-yt, $special-tip-baloons, )
);


