// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: map-get($icon-home, 'width');
// }
//
// At the bottom of this section, we provide information about the spritesheet itself
$a100-1x: (
  name: 'a100@1x',
  x: 370px,
  y: 340px,
  offset-x: -370px,
  offset-y: -340px,
  width: 87px,
  height: 17px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-boat-active-1x: (
  name: 'icon-boat-active@1x',
  x: 532px,
  y: 45px,
  offset-x: -532px,
  offset-y: -45px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-boat-big-active-1x: (
  name: 'icon-boat-big-active@1x',
  x: 0px,
  y: 204px,
  offset-x: 0px,
  offset-y: -204px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-boat-big-1x: (
  name: 'icon-boat-big@1x',
  x: 0px,
  y: 68px,
  offset-x: 0px,
  offset-y: -68px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-boat-1x: (
  name: 'icon-boat@1x',
  x: 0px,
  y: 443px,
  offset-x: 0px,
  offset-y: -443px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-car-active-1x: (
  name: 'icon-car-active@1x',
  x: 532px,
  y: 225px,
  offset-x: -532px,
  offset-y: -225px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-car-big-active-1x: (
  name: 'icon-car-big-active@1x',
  x: 133px,
  y: 136px,
  offset-x: -133px,
  offset-y: -136px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-car-big-1x: (
  name: 'icon-car-big@1x',
  x: 266px,
  y: 0px,
  offset-x: -266px,
  offset-y: 0px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-car-1x: (
  name: 'icon-car@1x',
  x: 532px,
  y: 90px,
  offset-x: -532px,
  offset-y: -90px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-disc-active-1x: (
  name: 'icon-disc-active@1x',
  x: 348px,
  y: 443px,
  offset-x: -348px,
  offset-y: -443px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-disc-big-active-1x: (
  name: 'icon-disc-big-active@1x',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-disc-big-1x: (
  name: 'icon-disc-big@1x',
  x: 133px,
  y: 204px,
  offset-x: -133px,
  offset-y: -204px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-disc-1x: (
  name: 'icon-disc@1x',
  x: 72px,
  y: 383px,
  offset-x: -72px,
  offset-y: -383px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-exchange-1x: (
  name: 'icon-exchange@1x',
  x: 532px,
  y: 399px,
  offset-x: -532px,
  offset-y: -399px,
  width: 58px,
  height: 52px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-garage-active-1x: (
  name: 'icon-garage-active@1x',
  x: 333px,
  y: 383px,
  offset-x: -333px,
  offset-y: -383px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-garage-big-active-1x: (
  name: 'icon-garage-big-active@1x',
  x: 266px,
  y: 272px,
  offset-x: -266px,
  offset-y: -272px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-garage-big-1x: (
  name: 'icon-garage-big@1x',
  x: 399px,
  y: 0px,
  offset-x: -399px,
  offset-y: 0px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-garage-1x: (
  name: 'icon-garage@1x',
  x: 532px,
  y: 270px,
  offset-x: -532px,
  offset-y: -270px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-minibus-active-1x: (
  name: 'icon-minibus-active@1x',
  x: 87px,
  y: 443px,
  offset-x: -87px,
  offset-y: -443px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-minibus-big-active-1x: (
  name: 'icon-minibus-big-active@1x',
  x: 399px,
  y: 136px,
  offset-x: -399px,
  offset-y: -136px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-minibus-big-1x: (
  name: 'icon-minibus-big@1x',
  x: 399px,
  y: 68px,
  offset-x: -399px,
  offset-y: -68px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-minibus-1x: (
  name: 'icon-minibus@1x',
  x: 261px,
  y: 443px,
  offset-x: -261px,
  offset-y: -443px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-moto-active-1x: (
  name: 'icon-moto-active@1x',
  x: 246px,
  y: 383px,
  offset-x: -246px,
  offset-y: -383px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-moto-big-active-1x: (
  name: 'icon-moto-big-active@1x',
  x: 133px,
  y: 272px,
  offset-x: -133px,
  offset-y: -272px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-moto-big-1x: (
  name: 'icon-moto-big@1x',
  x: 0px,
  y: 272px,
  offset-x: 0px,
  offset-y: -272px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-moto-1x: (
  name: 'icon-moto@1x',
  x: 159px,
  y: 383px,
  offset-x: -159px,
  offset-y: -383px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-phone-1x: (
  name: 'icon-phone@1x',
  x: 131px,
  y: 488px,
  offset-x: -131px,
  offset-y: -488px,
  width: 16px,
  height: 17px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-present-1x: (
  name: 'icon-present@1x',
  x: 60px,
  y: 488px,
  offset-x: -60px,
  offset-y: -488px,
  width: 27px,
  height: 28px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-spectransport-active-1x: (
  name: 'icon-spectransport-active@1x',
  x: 532px,
  y: 357px,
  offset-x: -532px,
  offset-y: -357px,
  width: 80px,
  height: 40px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-spectransport-1x: (
  name: 'icon-spectransport@1x',
  x: 532px,
  y: 315px,
  offset-x: -532px,
  offset-y: -315px,
  width: 80px,
  height: 40px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-subscribe-1x: (
  name: 'icon-subscribe@1x',
  x: 149px,
  y: 488px,
  offset-x: -149px,
  offset-y: -488px,
  width: 16px,
  height: 17px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-tire-active-1x: (
  name: 'icon-tire-active@1x',
  x: 174px,
  y: 443px,
  offset-x: -174px,
  offset-y: -443px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-tire-big-active-1x: (
  name: 'icon-tire-big-active@1x',
  x: 266px,
  y: 204px,
  offset-x: -266px,
  offset-y: -204px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-tire-big-1x: (
  name: 'icon-tire-big@1x',
  x: 266px,
  y: 136px,
  offset-x: -266px,
  offset-y: -136px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-tire-1x: (
  name: 'icon-tire@1x',
  x: 435px,
  y: 443px,
  offset-x: -435px,
  offset-y: -443px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-truck-active-1x: (
  name: 'icon-truck-active@1x',
  x: 532px,
  y: 0px,
  offset-x: -532px,
  offset-y: 0px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-truck-big-active-1x: (
  name: 'icon-truck-big-active@1x',
  x: 133px,
  y: 0px,
  offset-x: -133px,
  offset-y: 0px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-truck-big-1x: (
  name: 'icon-truck-big@1x',
  x: 266px,
  y: 68px,
  offset-x: -266px,
  offset-y: -68px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-truck-1x: (
  name: 'icon-truck@1x',
  x: 532px,
  y: 135px,
  offset-x: -532px,
  offset-y: -135px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-zxhl-active-1x: (
  name: 'icon-zxhl-active@1x',
  x: 532px,
  y: 180px,
  offset-x: -532px,
  offset-y: -180px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-zxhl-big-active-1x: (
  name: 'icon-zxhl-big-active@1x',
  x: 0px,
  y: 136px,
  offset-x: 0px,
  offset-y: -136px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-zxhl-big-1x: (
  name: 'icon-zxhl-big@1x',
  x: 133px,
  y: 68px,
  offset-x: -133px,
  offset-y: -68px,
  width: 131px,
  height: 66px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icon-zxhl-1x: (
  name: 'icon-zxhl@1x',
  x: 420px,
  y: 383px,
  offset-x: -420px,
  offset-y: -383px,
  width: 85px,
  height: 43px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$logo-1x: (
  name: 'logo@1x',
  x: 399px,
  y: 288px,
  offset-x: -399px,
  offset-y: -288px,
  width: 103px,
  height: 38px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$news-icon-4-1x: (
  name: 'news-icon-4@1x',
  x: 483px,
  y: 204px,
  offset-x: -483px,
  offset-y: -204px,
  width: 45px,
  height: 34px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$news-icon-5-1x: (
  name: 'news-icon-5@1x',
  x: 483px,
  y: 240px,
  offset-x: -483px,
  offset-y: -240px,
  width: 45px,
  height: 34px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$news-icon-6-1x: (
  name: 'news-icon-6@1x',
  x: 276px,
  y: 340px,
  offset-x: -276px,
  offset-y: -340px,
  width: 45px,
  height: 34px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$news-icon-7-1x: (
  name: 'news-icon-7@1x',
  x: 323px,
  y: 340px,
  offset-x: -323px,
  offset-y: -340px,
  width: 45px,
  height: 34px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$no-photo-1x: (
  name: 'no-photo@1x',
  x: 0px,
  y: 383px,
  offset-x: 0px,
  offset-y: -383px,
  width: 70px,
  height: 58px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$small-icon-eye-grey-1x: (
  name: 'small-icon-eye-grey@1x',
  x: 370px,
  y: 359px,
  offset-x: -370px,
  offset-y: -359px,
  width: 17px,
  height: 11px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$small-icon-eye-1x: (
  name: 'small-icon-eye@1x',
  x: 389px,
  y: 359px,
  offset-x: -389px,
  offset-y: -359px,
  width: 17px,
  height: 11px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$small-icon-message-grey-1x: (
  name: 'small-icon-message-grey@1x',
  x: 72px,
  y: 428px,
  offset-x: -72px,
  offset-y: -428px,
  width: 13px,
  height: 12px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$small-icon-message-1x: (
  name: 'small-icon-message@1x',
  x: 87px,
  y: 428px,
  offset-x: -87px,
  offset-y: -428px,
  width: 13px,
  height: 12px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-appstore-1x: (
  name: 'social-appstore@1x',
  x: 138px,
  y: 340px,
  offset-x: -138px,
  offset-y: -340px,
  width: 136px,
  height: 41px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-fb-small-hover-1x: (
  name: 'social-fb-small-hover@1x',
  x: 89px,
  y: 488px,
  offset-x: -89px,
  offset-y: -488px,
  width: 19px,
  height: 19px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-fb-small-1x: (
  name: 'social-fb-small@1x',
  x: 592px,
  y: 399px,
  offset-x: -592px,
  offset-y: -399px,
  width: 19px,
  height: 19px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-fb-1x: (
  name: 'social-fb@1x',
  x: 30px,
  y: 488px,
  offset-x: -30px,
  offset-y: -488px,
  width: 28px,
  height: 28px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-googleplay-1x: (
  name: 'social-googleplay@1x',
  x: 0px,
  y: 340px,
  offset-x: 0px,
  offset-y: -340px,
  width: 136px,
  height: 41px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-od-small-hover-1x: (
  name: 'social-od-small-hover@1x',
  x: 504px,
  y: 288px,
  offset-x: -504px,
  offset-y: -288px,
  width: 19px,
  height: 19px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-od-small-1x: (
  name: 'social-od-small@1x',
  x: 507px,
  y: 383px,
  offset-x: -507px,
  offset-y: -383px,
  width: 19px,
  height: 19px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-od-1x: (
  name: 'social-od@1x',
  x: 532px,
  y: 453px,
  offset-x: -532px,
  offset-y: -453px,
  width: 28px,
  height: 28px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-telegram-hover-1x: (
  name: 'social-telegram-hover@1x',
  x: 499px,
  y: 340px,
  offset-x: -499px,
  offset-y: -340px,
  width: 18px,
  height: 17px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-telegram-1x: (
  name: 'social-telegram@1x',
  x: 504px,
  y: 309px,
  offset-x: -504px,
  offset-y: -309px,
  width: 18px,
  height: 17px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-viber-hover-1x: (
  name: 'social-viber-hover@1x',
  x: 459px,
  y: 340px,
  offset-x: -459px,
  offset-y: -340px,
  width: 18px,
  height: 17px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-viber-1x: (
  name: 'social-viber@1x',
  x: 479px,
  y: 340px,
  offset-x: -479px,
  offset-y: -340px,
  width: 18px,
  height: 17px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-vk-small-hover-1x: (
  name: 'social-vk-small-hover@1x',
  x: 110px,
  y: 488px,
  offset-x: -110px,
  offset-y: -488px,
  width: 19px,
  height: 19px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-vk-small-1x: (
  name: 'social-vk-small@1x',
  x: 507px,
  y: 404px,
  offset-x: -507px,
  offset-y: -404px,
  width: 19px,
  height: 19px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-vk-1x: (
  name: 'social-vk@1x',
  x: 0px,
  y: 488px,
  offset-x: 0px,
  offset-y: -488px,
  width: 28px,
  height: 28px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-yt-small-hover-1x: (
  name: 'social-yt-small-hover@1x',
  x: 592px,
  y: 453px,
  offset-x: -592px,
  offset-y: -453px,
  width: 19px,
  height: 19px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-yt-small-1x: (
  name: 'social-yt-small@1x',
  x: 592px,
  y: 420px,
  offset-x: -592px,
  offset-y: -420px,
  width: 19px,
  height: 19px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$social-yt-1x: (
  name: 'social-yt@1x',
  x: 562px,
  y: 453px,
  offset-x: -562px,
  offset-y: -453px,
  width: 28px,
  height: 28px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$special-tip-baloons-1x: (
  name: 'special-tip-baloons@1x',
  x: 399px,
  y: 204px,
  offset-x: -399px,
  offset-y: -204px,
  width: 82px,
  height: 82px,
  total-width: 617px,
  total-height: 516px,
  image: '../../../img/sprites/icons_1x.png'
);
$icons-1x: (
  width: 617px,
  height: 516px,
  image: '../../../img/sprites/icons_1x.png',
  sprites: ($a100-1x, $icon-boat-active-1x, $icon-boat-big-active-1x, $icon-boat-big-1x, $icon-boat-1x, $icon-car-active-1x, $icon-car-big-active-1x, $icon-car-big-1x, $icon-car-1x, $icon-disc-active-1x, $icon-disc-big-active-1x, $icon-disc-big-1x, $icon-disc-1x, $icon-exchange-1x, $icon-garage-active-1x, $icon-garage-big-active-1x, $icon-garage-big-1x, $icon-garage-1x, $icon-minibus-active-1x, $icon-minibus-big-active-1x, $icon-minibus-big-1x, $icon-minibus-1x, $icon-moto-active-1x, $icon-moto-big-active-1x, $icon-moto-big-1x, $icon-moto-1x, $icon-phone-1x, $icon-present-1x, $icon-spectransport-active-1x, $icon-spectransport-1x, $icon-subscribe-1x, $icon-tire-active-1x, $icon-tire-big-active-1x, $icon-tire-big-1x, $icon-tire-1x, $icon-truck-active-1x, $icon-truck-big-active-1x, $icon-truck-big-1x, $icon-truck-1x, $icon-zxhl-active-1x, $icon-zxhl-big-active-1x, $icon-zxhl-big-1x, $icon-zxhl-1x, $logo-1x, $news-icon-4-1x, $news-icon-5-1x, $news-icon-6-1x, $news-icon-7-1x, $no-photo-1x, $small-icon-eye-grey-1x, $small-icon-eye-1x, $small-icon-message-grey-1x, $small-icon-message-1x, $social-appstore-1x, $social-fb-small-hover-1x, $social-fb-small-1x, $social-fb-1x, $social-googleplay-1x, $social-od-small-hover-1x, $social-od-small-1x, $social-od-1x, $social-telegram-hover-1x, $social-telegram-1x, $social-viber-hover-1x, $social-viber-1x, $social-vk-small-hover-1x, $social-vk-small-1x, $social-vk-1x, $social-yt-small-hover-1x, $social-yt-small-1x, $social-yt-1x, $special-tip-baloons-1x, )
);


