/* =========================================
	 Header
===========================================*/
.before-header {
	// height: 90px;
	text-align: center;
	max-width: 100%;
	overflow: hidden;

	>div {
		margin: 0 auto;
	} 
}
.site-header,
.site-footer,
.header-navigation-inner,
.filter-block .filter {
	padding-left: $page-padding;
	padding-right: $page-padding;

	@include screen( 0, md ) {
		padding-left: $page-padding-xs;
		padding-right: $page-padding-xs;
	}
}
.site-header {
	// @include transition('transform', .1s);
	background-color: $color-blue;
	height: $header-height;
	position: relative;

	// @include screen( 0, xs ) {
	// 	position: relative;
	// 	z-index: 100;
	// }
	// 
	body:not(.branding-activate) & {
		@include screen( 0, $mobile-start ) {
			left: 0;
			top: 0;
			position: fixed;
			z-index: 100;
			width: 100%;
		}
	}

	
}
.site-header-inner {
	height: $header-height;
	position: relative;
}
.logo {
	

	left: 0;
	padding: 7px 0;
	position: absolute;
	top: 0; 
	height: 100%;
	
	// height: 100%;
	// 
	img {
		display: block;
		max-height: 100%;
	}

	a {
		@include sprite-svg('logo-abw');
		display: block;
		height: 42px;
		width: 114px;
	}
}

.navigation {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

	@include screen( 0, $mobile-start ) {
		.add-product {
			display: none;
		}
	}
}
.header-search,
.add-product,
.login,
.header-navigation-toggler {
	display: inline-block;
	vertical-align: middle;
}
.add-product,
.login {
	line-height: $header-height;
}
.add-product {
	@include background-hover( $color-pink );
	background-color: $color-pink;
	color: $color-white;
	font-size: 14px;
	padding: 0 16px;
	height: 100%;

	.site-header & {
		color: $color-white;
	}

	&:hover {
		text-decoration: none;
	}

	.icon-plus {
		margin-right: 8px;
		vertical-align: middle;
	}

	// @include screen( 0, sm ) {
	// 	font-size: 0;

	// 	.icon-plus {
	// 		margin: 0;
	// 	}
	// }
}
.header-search, .login {
	height: 100%;
	position: relative;
	width: 56px;
	>span {
		left: 50%;
		position: absolute;
		top: 50%;
		margin-left: -11px;
		margin-top: -11px;
	}
}
.header-search {
	cursor: pointer;

	&:hover {
		.icon-search {
			@include opacity(0.8);
		}
	} 

	&.open-search-block {
		background-color: $color-dark-blue;

		.icon-search {
			@extend .icon-toggle-open;

			height: 3px;
			margin-left: -14px;
			margin-top: -1px;
			position: absolute;
			width: 28px;

			&:after, &:before {
				border-radius: 0;
				border: 0;
				height: 3px;
				position: absolute;
				transform-origin: 50%;
				width: 28px;
			}
		}
	}

	// @include screen( 0, $mobile-start ) {
	// 	height: $header-height;
	// 	padding: 0;
	// 	position: fixed;
	// 	top: $header-height;
	// 	z-index: 99999;

	// 	&:not(.open-search-block) {
	// 		@include transition( 'right' );

	// 		right: -$mobile-translate;
	// 	}

	// 	.text {
	// 		display: none;
	// 	}

	// 	&.open-search-block {
	// 		right: 0;
	// 	}

	// 	.text {
	// 		color: $color-grey;
			
	// 		line-height: $header-height;
	// 		height: 100%;
	// 		padding-left: 30px;
	// 		position: static;
	// 		margin: 0;
	// 	}

	// 	.mobile-menu-active & {
	// 		background-color: $color-white;
	// 		border-bottom: 1px solid $color-border;
	// 		right: 0;
	// 		width: $mobile-translate;

	// 		.text {
	// 			display: inline-block;
	// 		}


	// 		.icon-search {
	// 			left: auto;
	// 			right: 15px;

	// 			&:after {
	// 				background-color: $color-dark-grey;
	// 			}
	// 			&:before {
	// 				background-color: $color-white;
	// 				border-color: $color-dark-grey;
	// 			}
	// 		}
	// 	}
	// }

	@include screen( $mobile-start ) {
		.text {
			display: none;
		}
	}
}
.login {
	@include background-hover( $color-dark-blue );

	background-color: $color-dark-blue;
	cursor: pointer;
	position: relative;

	&.active {
		&:before {
			@include triangle( 'up', $color-light, 6px );

			bottom: 0px;
			left: 50%;
			margin-left: -6px;
			position: absolute;
			z-index: 10;
		}
	}


	@include screen( 0, $mobile-start ) {
		// display: none;  
	}
}
.header-navigation-toggler {
	@include opacity-hover;

	cursor: pointer;
	margin-left: 10px;
	margin-right: -5px;
	line-height: 0;
	padding: 13px 5px;

	&.mobile-menu-active { 
		z-index: 999999;
		.icon-toggle {
			@extend .icon-toggle-open;
		}
	}

	@include screen( 0, xs ) {
		margin-left: 5px;
	}

	@include screen( $mobile-start ) {
		display: none; 
	}
}