/* ==========================================================================
	Login Navigation
========================================================================== */
.login-navigation {
	background-color: $color-light;
	display: none;
	line-height: 1.2;
	position: absolute;
	top: $header-height;
	right: $page-padding;
	width: 350px;
	z-index: 99;

	&.active {
		display: block;
	}

	.cat-title {
		color: $color-blue;
		cursor: default;
		font-size: 13px;
		font-weight: 700;
		padding-bottom: 10px;
		padding-top: 10px;
		text-transform: uppercase;

		&:hover, &.open {
			color: $color-pink;
			border-left: 2px solid $color-pink;
			padding-left: 38px;
		}

		&:hover {
			text-decoration: underline;
		}
	}
	a.cat-title {
		cursor: pointer;
	}
	.cat-title, .login-item, .exit, .user, .balance {
		display: block;
		padding-left: 40px;
		padding-right: 5px;
	}

	.login-item {
		display: block;
		font-size: 15px;
		padding-bottom: 5px;
		padding-top: 5px;
		
	}

	.exit {
		background-color: $color-light-grey;
		cursor: pointer;
		height: 52px;
		line-height: 52px;
		margin-top: 10px;
		text-align: left;
		text-decoration: underline;
		width: 100%;

		&:hover {
			text-decoration: none;
		}
	}

	.user, .balance {
		color: $color-text;
		display: inline-block;
		font-size: 13px;
		padding-bottom: 10px;
		padding-top: 10px;
		vertical-align: top;
		width: 49%;

	}

	@include screen( 0, md ) {
		right: $page-padding-xs;
	}

	@include screen( 0, xs ) { 
		bottom: 0;
		left: 0;
		
		position: fixed;
		right: 0;
		top: $header-height;
		width: auto;

		.login-navigation-inner {
			bottom: 0;
			left: 0;
			overflow-x: hidden;
			padding-bottom: 52px;
			position: absolute;
			top: 0;
			right: 0;
		}

		.exit {
			bottom: 0;
			left: 0;
			position: fixed;
			right: 0;
		}
 	}
}

.login-menu {
	@include no-lst;

	border-top: 1px solid $color-light-grey;
	padding: 10px 0 0;
	margin: 0;

	text-align: left;

	ol, ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size: 100%;
	    font: inherit;
	    vertical-align: baseline;
	  }
}

.login-submenu {
	@include no-lst;

	height: 0;
	overflow: hidden;

	.open & {
		height: auto;
	}
}