/* ==========================================================================
	Header Search
========================================================================== */
.header-search-block {
	background-color: $color-dark-blue;
	display: none;

	&.open-search-block {
		display: block;
	}
 

	.filter-form-block {
		display: none;

		&.active {
			display: block;
		}
	}

	.select-type {
		.bootstrap-select.btn-group .dropdown-toggle .caret {
			border-color: $color-text;
		}
		select, .dropdown-toggle {
			background-color: #e6e6e6;
			color: $color-text;
		}
	}
	.filter-form .form-inner .select-wrapper {
		&:after {
			display: none;
		}
	}

	@include screen( 0, $mobile-start ) { 
		bottom: 0;
		position: fixed;
		left: 0;
		right: 0;
		// padding: $header-height 20px 20px;
		top: $header-height;
		z-index: 999;

		.header-search-block-inside {
			bottom: 0;
			left: 0;
			padding: $header-height 20px 20px;
			position: absolute;
			overflow-x: hidden;
			top: 0;
			right: 0;
		}

		.box-wrapper, .select-type {
			display: block;
			margin-bottom: 10px;
		}

		.select-type {
			select, .bootstrap-select, .dropdown-toggle {
				height: 40px;
			}
			.bootstrap-select.btn-group .dropdown-toggle .filter-option {
				height: 38px;
				line-height: 38px;
			}
			.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
				width: 100%;
			}
		}

		.filter-form {
			
			select, [type=submit], [type=text], .bootstrap-select, .dropdown-toggle {
				height: 40px;
			}
			.bootstrap-select.btn-group .dropdown-toggle .filter-option {
				height: 38px;
				line-height: 38px;
			}

			[type=submit] {
				margin-top: 10px;
				max-width: inherit;
				width: 100%;
			}
			
		}
	}

	@include screen( $mobile-start ) { 
		
		bottom: 0;
		left: 0;
		margin: 0 56px 0 120px;
		position: absolute;
		right: 0;
		top: 0;

		.header-search-block-inside {
			padding: 10px 56px 10px 35px;
		}

		.select-type {
			float: left;
			width: 200px;

			select, .bootstrap-select, .dropdown-toggle {
				border-right: 0;
				height: $header-height - 20px;
				// line-height: $header-height - 20px;
			}
			.bootstrap-select.btn-group .dropdown-toggle .filter-option {
				height: $header-height - 20px - 2px;
				line-height: $header-height - 20px - 2px;
			}
			.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
				width: 100%;
			}
		}

		.select-content {
			margin-left: 200px;

			.filter-form-block {
				margin-top: 0;
			}

			select, .dropdown-toggle {
				border-left: 1px solid $color-grey;
			}

		}

		.filter-form {
			
			select, [type=submit], [type=text], .bootstrap-select, .dropdown-toggle {
				height: $header-height - 20px;
			}
			.bootstrap-select.btn-group .dropdown-toggle .filter-option {
				height: $header-height - 20px - 2px;
				line-height: $header-height - 20px - 2px;
			}
			
		}

		

	}

	// @include screen( md, lg ) { 
	// 	margin-right: 99px;
	// }
}
