/* ==========================================================================
	Primary site navigation
========================================================================== */
$mobile-view: xs;
$pr-mobile: 34px;
$pl-mobile: 34px;
$icons-right: 15px;

.primary-navigation {
	display: block;
	list-style: none;

	ul {
		@include no-lst;
	}

	>span {
		cursor: pointer;
	}

	>ul>li {
		position: relative;

		&.has-children {
			&.has-children>span, &.has-children>a {
				padding-right: 25px;
			}

			position: static;


			.top-menu-item {
				position: relative;

				&:after {
					@include arrow-after(#848ea9);

					content: '';
					right: 10px;

					.open & {
						margin-top: 0;
						transform: rotate( 225deg );
					}
				}
			}
			&.open {
				.top-menu-item {
					&:after {
						@include arrow-up-after(#848ea9);
					}
				}
			}
		}
		.top-menu-item {
			

			color: $color-white;
			display: block;
			font-size: 14px;
			line-height: $header-height;
			padding-left: 15px;
			padding-right: 15px;
			height: 100%;
			width: 100%;

			&:hover {
				text-decoration: none;
			}
		}

		a.top-menu-item {

		}

		span.top-menu-item {
			cursor: default;
		}
	}

	@include screen( $mobile-start ) {
		height: $header-height;
		margin: 0 340px 0 120px;
		overflow: hidden;
		padding-left: 3.5%;
		vertical-align: top;

			>ul>li {
				display: inline-block;
				height: 100%;

				.top-menu-item {
					&:hover, .current { 
						background-color: $color-rude-blue;
					}
				}
			}

			.mobile-item {
				display: none;
			}
	}

	@include screen( 0, $mobile-start ) {
		margin: 0;

		>ul>li {
			display: block;

			&.open {
				&+li {
					.top-menu-item {
						border-top: 1px solid $color-border;
					}
				}
				// .submenu {
				// 	background:red;
				// 	.tab-title {
				// 		&:last-of-type {
				// 			border-bottom: 0;
				// 		}
				// 	}
				// }
			}


			.top-menu-item {
				border-bottom: 1px solid $color-border;
				
				color: $color-blue;
				font-size: 16px;
				font-weight: 700;
				line-height: 1;
				padding: 18px 15px 18px 30px;

				&.open {
					color: rgba( $color-blue, 0.8 );
				}
			}

			&.has-children {
				&.open .top-menu-item, .top-menu-item {
					&:after {
						border-color: $color-blue;
						margin-top: -7px;
						right: 15px;
						height: 10px;
						width: 10px;
					}
				}

				&.open .top-menu-item {
					&:after {
						margin-top: 0;
					}
				}
				.top-menu-item {
					&:after {
						margin-top: -7px;
					}

					&.open {
						
						&:after {
							border-color: rgba( $color-blue, 0.8 );
						}
					}
				}
			}

			.add-product {
				padding-left: 30px;
				width: 100%;
			}
		}

		.submenu-left {
			padding-left: 30px;
			.bottom-block {
				display: none;
			}
			
		}
		.submenu-right, .submenu-left {
			background-color: $color-white;
		}
	}
}
.primary-navigation-outer {
	

	@include screen( 0, $mobile-start ) {
		// @include transition( 'transform' );
		@include transition( 'right' );

		background-color: $color-light-bg;
		bottom: 0;
		margin: 0;
		// margin-top: $header-height;
		position: fixed;
		right: -$mobile-translate;
		top: $header-height;
		// transform: translate3d(0, 0, 0);
		width: $mobile-translate;
		z-index: 99999;

		.mobile-menu-active & {
			right: 0;

			.primary-navigation {
				bottom: 0;
				left: 0;
				overflow-x: hidden;
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
			}
		}

	}
}
.submenu {
	li {
		display: block;

		a {
			color: $color-blue;
			line-height: 1;
			padding-bottom: 7px;
			padding-top: 7px;

			&:hover {
				background-color: lighten($color-light, 2%);
				text-decoration: none;
			}
		}
	}

	.title-grey {
		color: $color-blue-grey;
		font-size: 13px;
		margin-bottom: 6px;
		margin-top: 12px;
	}
	.tab-title {
		color: $color-pink;
		cursor: pointer;
		font-size: 13px;
		font-weight: 700;
		padding: 6px 0;
		text-transform: uppercase;

		&:hover {
			// cursor: pointer;
			text-decoration: underline;
		}

		// .tab-title-inner {
		// 	display: inline-block;
		// 	padding: 6px 6px 6px 0;

		// 	&:hover {
		// 		cursor: pointer;
		// 		text-decoration: underline;
		// 	}
		// }

		
	}
	.desc {
		color: $color-blue-grey;
		font-size: 12px;
		line-height: 1;
	}
	.tab-item-link, .link-item {
		margin-bottom: 6px;
	}

	.tab-item-link {
		&.line {
			float: none;
			padding-top: 10px;
			margin-top: 10px;
			position: relative; 
    		width: auto;

			&:before {
				background-color: $color-border;
				content: '';
				display: block;
				height: 1px;
				left: 0;
				position: absolute;
				top: 0;
				width: 80%;
			}
		}
	}
	

	.btn-border-blue, .btn-117 {
		display: block;
		margin-top: 3px;
	}

	.tab-content {
		.title-grey {
			margin-top: 0;
		}
	}

	@include screen( 0, $mobile-start ) {
		@include transition('height');
		background-color: $color-white;
		height: 0;
		overflow: hidden;

		&.open {
			height: auto;
		}
		.tabs-titles {
			display: none;
		}
		.tab-title, .tab-item-link a, .tab-item-link .desc, .tab-content .title-grey  {
			
			margin-left: 30px;
			padding-right: 15px;
			margin-bottom: 0;
		}
		
		.tab-title, .tab-item-link a {
			border-bottom: 1px solid $color-border;
			padding-top: 15px;
			padding-bottom: 15px;
			
		}

		.tab-title.last:not(.active) {
			border-bottom: 0;
		}

		.tab-item-link {
			
			font-size: 14px;
			margin-bottom: 0;


			a {
				// border-bottom: 1px solid $color-border;
				display: block;
				line-height: 1.2;
				// padding-top: 8px;
				// padding-bottom: 8px;
			}

			&.line {
				margin: 0;
				padding: 0;
				&:before {
					display: none;
				}
			}

			&:last-child {
				a {
					border-bottom: 0;
				}
			}
		}
		.column+.column {
			.tab-item-link {
				&:first-child {
					a {
						border-top: 1px solid $color-border;
					}
				}
			}
		}
		.tab-content {
			padding-left: 20px;

			&.active {
				&+.tab-title {
					border-top: 1px solid $color-border;
				}
			}

			.title-grey {
				padding-top: 10px;
			}
		}

		.tabs {
			.tab-content {
				@include transition('height');
				
				overflow: hidden;

				&:not(.active) {
					height: 0;
				}

				.tab-content-inner {
					// @include transition('opacity');

					// @include opacity(0);
				}

				&.active {
					.tab-content-inner {
						// @include opacity(1);
					}

				}
			}
		}

		.desc {
			display: none;
		}
	}


	@include screen( $mobile-start ) {
		@include opacity(0);
		// @include transition('opacity', .15s, 'linear', 0.2s);

		// display: none;
		left: 0;
		right: 0;
		// overflow: hidden;
		position: absolute;
		top: $header-height;
		z-index: -1;
		visibility: hidden;
		

		.open & {
			@include opacity(1);
			display: block; 
			visibility: visible;
			z-index: 99999;

			&:before {
				@include triangle( 'up', $color-light, 6px );

				left: 54px;
				top: -10px;
				z-index: 10;
			}
		}

		.submenu-inner {
			background-color: $color-light;
			border: 1px solid $color-light-grey;
			min-width: 210px;
		}

		.submenu-left {
			float: left;
			height: 100%;
			padding: 0 30px 62px;
			position: relative;
			width: 260px;
		}
		.submenu-right {
			height: 100%;
			margin-left: 260px;
			padding: 0 30px;
			position: relative;
		}
		.column {
			// border: 1px solid green;  
			display: inline-block;
			// max-width: 275px;
			padding-right: 5px;
			position: relative;
			vertical-align: top;
			width: 50%;
			z-index: 5;

			&+.column {
				padding-left: 5px;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		.tabs {
			.tab-content {
				
				// border: 1px solid green;

				@include opacity(0);
				@include transition('opacity', .15s, 'linear');
				height: 100%;
				position: absolute;
				top: 0;
				left: 30px;
				right: 30px;
				// display: none;

				&.active {
					@include opacity(1);
					z-index: 5;
					// display: block;
				}

				.background-block {
					// @include opacity(0.5);
					// border: 1px solid red; 
					bottom: -20px;
					max-height: 100%; 
					position: absolute;
					right: -50px;
					z-index: 1;
					max-width: 100%;

					img {
						display: block;
					}

					.mobile-img {
						display: none; 
					}
				}

				// &:after {
				// 	background-image: url('../img/pixel.gif');
				// 	background-repeat: no-repeat;
				// 	background-position: bottom right;
				// 	content: '';
				// 	display: block;
				// 	bottom: -20px;
				// 	// height: 100%; 
				// 	position: absolute;
				// 	left: -30px;
				// 	right: -30px;
				// 	top: -20px;
				// 	z-index: 1;
				// 	// width: 100%;
				// 	z-index: 0;
				// }
			}
		}
		.tab-mobile {
			display: none;
		}
		.tab-title {
			padding: 6px 6px 6px 0;
			position: relative;
			// .tab-title-inner.active {
			// 	&:after {
			// 		background-color: $color-pink;
			// 		content: '';
			// 		display: block;
			// 		height: 100%;
			// 		position: absolute;
			// 		top: 0;
			// 		right: -32px;
			// 		width: 2px;
			// 		z-index: 2;
			// 	}
				
			// }

			// &.active {
			// 	border-right: 2px solid $color-pink;
			// 	margin-right: -32px;
			// 	position: relative;
			// 	z-index: 2;
			// }
		}
		.tabs-titles {
			border-bottom: 1px solid $color-light-grey;
			
			padding-bottom: 6px;
			margin-bottom: 20px;

			.tracker {
				background-color: $color-pink;
				height: 32px;
				position: absolute;
				right: -2px;
				width: 2px;
				z-index: 2;
			}


				// &:after {
				// 	background-color: $color-pink;
				// 	content: '';
				// 	display: block;
				// 	height: 100%;
				// 	position: absolute;
				// 	top: 0;
				// 	right: -32px;
				// 	width: 2px;
				// 	z-index: 2;
				// }

		}
		.tabs-titles-inner {
			display: inline-block;
		}
		.submenu-inner {
			padding: 20px 0;
			position: relative;

			&:before {
				background-color: $color-light-grey;
				bottom: 16px;
				content: '';
				display: block;
				left: 260px;
				position: absolute;
				top: 16px;
				width: 2px;
				z-index: 1;
			}
		}
		.bottom-block {
			.title-grey {
				margin-top: 0;
			}
			bottom: 0;
			padding-left: 30px;
			padding-right: 30px;
			left: 0;
			height: 62px;
			position: absolute;
			width: 100%;
		}
	}
	@include screen( 0, $mobile-start ) {
		.tabs .tab-content .background-block {
			margin-left: 10px;
			margin-right: 20px;
			.dekstop-img {
				display: none;
			}
		}
	}

	@include screen( $mobile-start, 1200px ) {
		.tabs .tab-content .background-block {
			right: -45px;
			max-width: 85%;

			a {
				display: block;
				padding-top: 20%;
				padding-left: 20%;
			}
			// display: none;
		}
	}

	// @include screen( 0, 1200px ) {
	// 	.background-block {
	// 		display: none;
	// 	}
	// }
}
@include screen($mobile-start) {
	body.logined-as-admin {
		.submenu {
			.tabs {
				.background-block {
					@include opacity(0.8);
				}
				.tab-content:after {
					background-image: url('../img/pixel.gif');
					background-repeat: no-repeat;
					background-position: bottom right;
					content: '';
					display: block;
					bottom: -20px;
					// height: 100%; 
					position: absolute;
					left: -30px;
					right: -30px;
					top: -20px;
					z-index: 1;
					// width: 100%;
					z-index: -1;
				}
			}
		}
	}
}
// .header-navigation {
	
// 	background-color: $color-light;
// 	left: 0;
// 	height: 0;
// 	padding-top: 10px;
// 	position: absolute;
// 	overflow: hidden;
// 	top: $header-height;
// 	right: 0;
// 	z-index: 10;

// 	&.open {
// 		height: auto;
// 	}

// 	.header-navigation-inner {
// 		border-top: 1px solid $color-light-grey;
// 		padding-top: 20px; 
// 		// padding-bottom: 20px; 

// 		&:first-child {
// 			border-top: 0;
// 		}

// 		@include screen( 0, $mobile-view ) {
// 			padding: 0;
// 		}
// 	}

// 	ul {
// 		@include no-lst;
// 	}

// 	.title {
// 		color: $color-blue;
// 		font-size: 16px;
// 		font-weight: 700;
// 		margin-bottom: 7px;

// 		&:after {
// 			@extend .arrow-down;
// 		}

// 		@include screen( 0, $mobile-view ) {
// 			padding-top: 5px;
// 			padding-bottom: 5px;
// 			margin-bottom: 0;
// 		}
// 	}
// 	.header-navigation-list {
// 		li {
// 			padding-bottom: 3px;
// 			padding-top: 3px;
// 		}
// 		margin-bottom: 30px;
// 	}

// 	.header-navigation-list-block {
// 		@include screen( 0, $mobile-view ) {
// 			@include transition('height');

// 			height: 0;
// 			overflow: hidden;
// 		}
// 		@include screen( $mobile-view ) {
// 			//to reset js height style
// 			height: auto !important;
// 		}
// 	}

// 	a {
// 		color: $color-blue;
// 	}
// 	.header-navigation-column {
// 		display: inline-block;
// 		vertical-align: top;

// 		.title {
// 			&:after {
// 				@extend .arrow-down-big;
				
// 				margin-top: -7px;
// 				position: absolute;
// 				right: $icons-right + 3px;
// 				top: 50%;

// 			}

// 			@include screen( 0, $mobile-view ) {
// 				position: relative;
// 				&:after {
// 					content: '';
// 				}
// 			}
// 		}

// 		@include screen( 0, $mobile-view ) {
// 			display: block;

// 			&:last-of-type {
// 				margin-bottom: 10px;
// 			}
// 		}

// 		@include screen( xs, sm ) {
// 			width: 50%;
// 		}

// 		@include screen( sm, md ) {
// 			width: 33.3333%;
// 		}

// 		@include screen( md, lg ) {
// 			width: 25%;
// 		}

// 		@include screen( lg ) {
// 			width: 20%;
// 		}
// 	}
// 	.header-navigation-block {
// 		display: inline-block;
// 		padding-right: 9%;
// 		margin-bottom: 30px;
// 		vertical-align: top;

// 		@include screen( $mobile-view ) {
// 			&:last-child {
// 				padding-right: 0;
// 			}
// 		}

// 		.social-icons-block {
// 			margin: 0;
// 			&.small {
// 				.icon-item {
// 					display: block;
// 					margin-top: 12px;
// 					font-size: 14px;

// 					.icon {
// 						margin-right: 12px;
// 					}

// 					&:first-child {
// 						margin-top: 0;
// 					}
// 				}
// 			}
// 			&.messaging-apps-block {
// 				.icon-item {
// 					display: inline-block;
// 					margin-left: 15px;
// 					margin-top: 10px;
// 					min-width: 120px;
// 					text-align: center;


// 					&:first-child {
// 						margin-left: 0;
// 					}
// 					@include screen( 0, $mobile-view ) {
// 						display: block;
// 						margin-left: 0;
// 						margin-top: 12px;
// 					}
// 				}
// 			}
// 		}

// 		@include screen( 0, $mobile-view ) {
// 			border-top: 1px solid $color-light-grey;
// 			display: block;
// 			padding-top: 20px;
// 			padding-bottom: 20px;
// 			margin-bottom: 0;

// 			&:first-child {
// 				border-top: 0;
// 			}
// 		}
// 	}

// 	.login-mobile,
// 	.header-search-mobile {
// 		@extend .title;

// 		position: relative;
// 	}

// 	.login-mobile .icon-login,
// 	.header-search-mobile .icon-search {
// 		margin-top: -11px;
// 		position: absolute;
// 		right: $icons-right;
// 		top: 50%;
// 	}

// 	.login-mobile {
// 		display: block;
// 		margin-bottom: 0;
// 		.icon-login {
// 			&:after, &:before {
// 				border-color: $color-blue;
// 			}
// 		}
// 	}

// 	.header-search-mobile {
// 		margin-bottom: 0;
		
// 		.icon-search {

// 			margin-top: -11px;
// 			position: absolute;
// 			right: $icons-right;
// 			top: 50%;
// 			&:after {
// 				background-color: $color-blue;
// 			}
// 			&:before {
// 				background-color: $color-light;
// 				border-color: $color-blue;
// 			}
// 		}
// 	}

// 	@include screen( $mobile-view ) {
// 		@include opacity( 0 );
// 		@include transition( 'opacity' );


// 		&.open {
// 			@include opacity( 1 );
// 		}

// 		.header-search-mobile,
// 		.login-mobile {
// 			display: none;
// 		}
// 	}

// 	@include screen( 0, $mobile-view ) {
// 		@include transition( 'right' );
		
// 		bottom: 0;
// 		padding-top: 0px;
// 		position: fixed;
// 		left: auto;
// 		right: -$mobile-translate;
// 		top: $header-height;
// 		overflow-x: hidden;
// 		width: $mobile-translate;
// 		z-index: 100;

// 		&.open {
// 			right: 0;
			
// 			// transform: translate3d(0, 0, 0);
// 		}

// 		.login-mobile,
// 		.header-search-mobile,
// 		.header-navigation-block,
// 		.header-navigation-column .title,
// 		.header-navigation-list li {
// 			padding-left: $pl-mobile;
// 			padding-right: $pr-mobile;
// 		}

// 		.login-mobile,
// 		.header-search-mobile {
// 			padding-top: 12px;
// 			padding-bottom: 12px;
// 		}

// 		.header-search-mobile {
// 			border-bottom: 1px solid $color-light-grey;
// 			margin-bottom: 10px;
// 		}
// 		.header-navigation-block {
// 			&:last-child {
// 				padding-bottom: 30px;
// 			}
// 		}

// 		.login-mobile {
// 			border-top: 1px solid $color-light-grey;
// 		}
// 	}

// }
