<span class="data"><span class="date">{$data.main.date}</span><span class="views js-ajax-views hide"><span class="icon-views-gray"></span><span data-adv_id="{$data.main.adv_id}"></span></span></span>
{include file='content/adds/zero-button.tpl'}