{if $data.price}<span class="price-byn">{$data.price.byrn.cost} {$data.price.byrn.currency}</span><span class="price-usd">~ {$data.price.usd.cost}{$data.price.usd.currency}</span>
{else}<span class="price-usd">цена договорная</span>{/if}