<div class="product-main-data">
	<div class="desc"><div class="title">{$data.main.title}</div>{$data.main.description}</div><div class="price"><div class="price-inner">{include file='content/adds/price.tpl'}</div></div>
</div>