<div class="product-data">
  {foreach from=$data.data key=k item=v}
    {if $v != '0'}<div class="product-data-item"><span class="label">{$k} </span><span>{$v}</span></div>{/if}
  {/foreach}
</div>