<div class="exchange-rates">
	<table>
		<tr>
			<th>{$date}</th>
			<th>покупка</th>
			<th>продажа</th>
		</tr>
		<tr>
			<td>1 USD</td>
			<td><a href="/index.php?act=finance&all=1&best=1">{$exchange_rate.usd_b} {*<span class="icon-decrease"></span>*}</a></td>
			<td><a href="/index.php?act=finance&all=1&best=2">{$exchange_rate.usd_s} {*<span class="icon-increase"></span>*}</a></td>
		</tr>
		<tr>
			<td>1 EUR</td>
			<td><a href="/index.php?act=finance&all=1&best=3">{$exchange_rate.eur_b}</a></td>
			<td><a href="/index.php?act=finance&all=1&best=4">{$exchange_rate.eur_s}</a></td>
		</tr>
		<tr>
			<td>100 RUB</td>
			<td><a href="/index.php?act=finance&all=1&best=5">{$exchange_rate.rub_b}</a></td>
			<td><a href="/index.php?act=finance&all=1&best=6">{$exchange_rate.rub_b}</a></td>
		</tr>
	</table>
</div>