<!--noindex-->
  {*literal}
    <!--  AdRiver code START. Type:extension Site: abw.by BN:10 -->
      <script type="text/javascript">
      (function(L){if(typeof(ar_cn)=="undefined")ar_cn=1;
      var S='setTimeout(function(e){if(!self.CgiHref){document.close();e=parent.document.getElementById("ar_container_"+ar_bnum);e.parentNode.removeChild(e);}},3000);',
          j=' type="text/javascript"',t=0,D=document,n=ar_cn;L='' + ('https:' == document.location.protocol ? 'https:' : 'http:') + ''+L+escape(D.referrer||'unknown')+'&rnd='+Math.round(Math.random()*999999999);
      function _(){if(t++<100){var F=D.getElementById('ar_container_'+n);
          if(F){try{var d=F.contentDocument||(window.ActiveXObject&&window.frames['ar_container_'+n].document);
          if(d){d.write('<sc'+'ript'+j+'>var ar_bnum='+n+';'+S+'<\/sc'+'ript><sc'+'ript'+j+' src="'+L+'"><\/sc'+'ript>');t=0}
          else setTimeout(_,100);}catch(e){try{F.src="javascript:{document.write('<sc'+'ript"+j+">var ar_bnum="+n+"; document.domain=\""
          +D.domain+"\";"+S+"<\/sc'+'ript>');document.write('<sc'+'ript"+j+" src=\""+L+"\"><\/sc'+'ript>');}";return}catch(E){}}}else setTimeout(_,100);}}
      D.write('<div style="visibility:hidden;height:0px;left:-1000px;position:absolute;"><iframe id="ar_container_'+ar_cn
          +'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div><div id="ad_ph_'+ar_cn
          +'" style="display:none;"><\/div>');_();ar_cn++;
      })('//ad.adriver.ru/cgi-bin/erle.cgi?sid=177696&bn=10&target=blank&bt=43&pz=0&tail256=');
      </script>
	<!--  AdRiver code END  -->
  {/literal*}
<!--/noindex-->


<!--noindex-->
  {literal}
<!--AdFox START-->
<!--dsail-Minsk-->
<!--Площадка: Abw_ТЕСТ ТЕСТ ТЕСТ / Перетяжка 100% / Перетяжка 100%-->
<!--Категория: <не задана>-->
<!--Тип баннера: Перетяжка 100%-->
<div id="adfox_149518690941172596"></div>
<script>
    window.Ya.adfoxCode.createAdaptive({
        ownerId: 239538,
        containerId: 'adfox_149518690941172596',
        params: {
            p1: 'bxdtj',
            p2: 'y',
            puid1: '',
            puid2: '',
            puid3: '',
            puid4: '',
            puid6: '',
            puid8: '',
            puid11: '',
            puid12: '',
            puid21: '',
            puid22: '',
            puid27: '',
            puid33: '',
            puid51: '',
            puid52: '',
            puid55: ''
        }
    }, ['desktop', 'tablet', 'phone'], {
        tabletWidth: 830,
        phoneWidth: 480,
        isAutoReloads: false
    });
</script>
  {/literal}
<!--/noindex-->

