<div class="block-240-400">
  <div id="adfox_replace" style="display: none">
    <a href="https://moto.abw.by/search?utm_source=abwby&utm_medium=tit240x400&utm_campaign=moto"><img src="{$static_www}/images/moto240x400.jpg" alt=""></a>
  </div>
<!--noindex-->
  {literal}
  <!--AdFox START-->
  <!--dsail-Minsk-->
  <!--Площадка: Abw.by / * / *-->
  <!--Тип баннера: 240*400-->
  <!--Расположение: <середина страницы>-->
  <div id="adfox_1481023450360760"></div>
  <script>
  var criteo=0;
  if (dgtlby_content){criteo = ((dgtlby_content.indexOf("dslby373789%20")!=-1))?("dslby373789%20"):("0");}
      window.Ya.adfoxCode.create({
          ownerId: 239538,
          containerId: 'adfox_1481023450360760',
          params: {
              pp: 'h',
              ps: 'cela',
              p2: 'fgou',
              puid1: '',
              puid2: '',
              puid3: '',
              puid4: '',
              puid6: '',
              puid8: '',
              puid11: '',
              puid12: '',
              puid21: '',
              puid22: '',
              puid27: '',
              puid33: '',
              puid51: '',
              puid52: '',
              puid55: '',
              pk: criteo
          },
          onStub: function() {
          	showAdfoxReplace();
          },
          onError: function() {
          	showAdfoxReplace();
          },
          // onLoad: function() {
          //   hideAdfoxReplace();
          // },
      });
      function showAdfoxReplace() {
        var replaceBlock = document.getElementById('adfox_replace');
        replaceBlock.style.display = 'block';
      }
      // function hideAdfoxReplace() {
      //   var replaceBlock = document.getElementById('adfox_replace');
      //   replaceBlock.style.display = 'none';
      // }
  </script>
  {/literal}
  {if isset($body_classes) && $body_classes == 'archive-products'}
	  <div style="padding-top: 40px;">
		<a href="https://www.abw.by"><img src="https://www.abw.by/images/company/6416981.png" alt=""></a>
	  </div>
  {/if}
  
<!--/noindex-->
</div>