<div class="block-300-600">
<!--noindex-->
{literal} 
    <script type="text/javascript">
        var adriverExtentionLoad = function( a,b ) {
            // if content is absent, hide filter right column

			
			if (a == '0'){ 
			  //Пришла заглушка Adriver 
			  // console.log(1);	
			  // document.getElementById("js-front-filter-block").className += " hide-filter-right";
			}
			else { 
			  //Пришел баннер 
			  // console.log(2);
        var filterBlock = document.getElementById("js-front-filter-block");
        if( filterBlock )	{
			   document.getElementById("js-front-filter-block").classList.remove("hide-filter-right");
        }
			}			  
		  
        }
      </script>
      <!-- AdRiver code START: extension -->
      <script type="text/javascript">
      (function(L){if(typeof(ar_cn)=="undefined")ar_cn=1;
      var S='setTimeout(function(e){if(!self.CgiHref){document.close();e=parent.document.getElementById("ar_container_"+ar_bnum);e.parentNode.removeChild(e);}},3000);',
          j=' type="text/javascript"',t=0,D=document,n=ar_cn;L='' + ('https:' == document.location.protocol ? 'https:' : 'http:') + ''+L+escape(D.referrer||'unknown')+'&rnd='+Math.round(Math.random()*999999999);
      function _(){if(t++<100){var F=D.getElementById('ar_container_'+n);
          if(F){try{var d=F.contentDocument||(window.ActiveXObject&&window.frames['ar_container_'+n].document);
          if(d){d.write('<sc'+'ript'+j+'>var ar_bnum='+n+';'+S+'<\/sc'+'ript><sc'+'ript'+j+' src="'+L+'" onload="parent.adriverExtentionLoad(ar_adid,bid)"><\/sc'+'ript>');t=0}
          else setTimeout(_,100);}catch(e){try{F.src="javascript:{document.write('<sc'+'ript"+j+">var ar_bnum="+n+"; document.domain=\""
          +D.domain+"\";"+S+"<\/sc'+'ript>');document.write('<sc'+'ript"+j+" src=\""+L+"\" onload=\"parent.adriverExtentionLoad(ar_adid,bid)\"><\/sc'+'ript>');}";return}catch(E){}}}else setTimeout(_,100);}}
      D.write('<div style="visibility:hidden;height:0px;left:-1000px;position:absolute;"><iframe id="ar_container_'+ar_cn
          +'" width=1 height=1 marginwidth=0 marginheight=0 scrolling=no frameborder=0><\/iframe><\/div><div id="ad_ph_'+ar_cn
          +'" style="display:none;"><\/div>');_();ar_cn++;
      })('//ad.adriver.ru/cgi-bin/erle.cgi?sid=177696&bn=3&target=blank&bt=43&pz=0&tail256=');
      </script>
  {/literal}
<!--/noindex-->
</div>