<a href="http://renault.by/service3plus/index.php?utm_source=abwby&utm_medium=branding&utm_campaign=3plus" class="branding-link" target="_blank"></a>
<div class="branding-header" style="background-image: url({$current_www}/branding/1/branding-header.png)"></div>