/* ==========================================================================
	News Common Styles
========================================================================== */
.news-block {
	.title-block {
		margin-bottom: 14px;
		
		@include screen( 0, md ) {
			.title-h2 {
				margin-bottom: 14px;
			}

		}
		@include screen( md ) {
			display: flex;
			.title-h2 {
				display: inline-block;
				margin-bottom: 0;
				min-width: 305px;
			}
		}
	}

	@include screen( 0, md ) {
		.column-right {
			display: none;
		}
		.column-center {
			margin-right: 0;
		}
	}
}
.news-block-recent {
	.col {
		display: flex;
   		flex: 1;  
	}
	.news-item {
		border: 1px solid $color-light;
		display: flex;
   		flex: 1;  
		
		// height: 100%;
		

		.title {
			padding-bottom: 10px;
			padding-right: 5px;
		}
	}
	@include screen( sm, md ) {
		// .col:nth-child(3) {
		// 	display: none;
		// }
	}
}
.simple-item {
	position: relative;

	.column-right & {
		&.news-item {
			display: block;
			margin-bottom: $row-margin*2;
		}
	}

	.simple-item-thumb {
		position: relative;
		img {
			display: block;
		}

		&:before {
			@include opacity(0);
			@include transition('opacity');
			content: '';
			background: $linear-gradient;
			bottom: 0;
			height: 100%;
			left: 0;
			right: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		// &:hover {
		// 	&:before {
		// 		@include opacity(0.65);
		// 	}
		// }
	}
	&:hover {
		.simple-item-thumb:before {
			@include opacity(0.65);
		}
		.title {
			color: $color-blue;
		}
	}
	.simple-item-thumb-inner {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;

		.data {
			color: $color-white;
		}
	}
	a {
		text-decoration: none;
	}
	.data {
		bottom: 0;
		height: 42px;
		left: 0;
		padding: 8px 12px;
		position: absolute;
		width: 100%;
		z-index: 2;

		.data-inner, &:after {
			display: inline-block;
			vertical-align: bottom;
		}

		&:after {
			content: '';
			margin-right: -4px;
			height: 100%;
			width: 0;
		}
	}

	.views {
		&:before {
			// @include sprite-retina('small-icon-eye');
			@include sprite-svg('eye-white');

			display: inline-block;
			height: 14px;
			vertical-align: top;
			width: 14px;
		}
	}
	.comments {
		&:before {
			// @include sprite-retina('small-icon-message');

			@include sprite-svg('comments-white');

			display: inline-block;
			height: 14px;
			vertical-align: top;
			width: 14px;
		}
	}

	
	&:not(.simple-item-full) {
		.simple-item-content {
			color: $color-white;
		}

		.simple-item-content-inner {
			padding: 12px 12px 42px;
			position: absolute;
			top: 0;
			height: 100%;
			left: 0;
			width: 100%;
			z-index: 2;
		}


		.simple-item-thumb {
			margin-bottom: 10px;
		}
		.title {
			// color: $color-text;
			padding-left: 12px;
			padding-right: 12px;
		}
	}

	html.ie9 & {
		&:not(.simple-item-full) {
			.simple-item-content {
				&:before {
					background: rgba(0,0,0,0.8);
				}
			}
		}
	}

	.title {
		color: $color-text;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.4;
	}

	.data {
		font-size: 12px;
		line-height: 1.25;

		.data-item {
			display: inline-block;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
	.views, 
	.comments {
		&:before {
			content: '';
			margin-right: 5px;
			// vertical-align: middle;
		}
	}

	&.hot-comments {
		.data-item.comments {
			background-color: $color-pink;
			border-radius: 3px;
			padding: 2px 4px;
		}
	}
	&:not(.top-news-item) {
		.label {
			background-color: $color-pink;
			color: $color-white;
			font-size: 11px;
			font-weight: 700;
			left: 0;
			position: absolute;
			top: 0;
			z-index: 3;
			padding: 2px 6px;
		}
		.data {
			background: $linear-gradient-add;
		}
	}

	&.item-no-photo,
	&.item-no-photo.product-item {
		.title, .data-price-byn {
			color: $color-text;
		}
		.data .data-inner, .data-price-usd {
			color: $color-dark-grey;
		}
		
		.data {
			background: transparent;
		}
		.views {
			&:before {
				@include sprite-svg('eye-gray');
			}
		}
	}
	
	&.spectator {
		.simple-item-content-inner {
			padding-top: 35px;
		}
	}

	@include screen( 0, lg ) {
		.title {
			font-size: 14px;
		}
	}
}

.simple-item-full {
	.simple-item-content {
		color: $color-text;
	}

	.simple-item-thumb {
		margin-bottom: 10px;
	}

	&.simple-item {

		.title {
			margin-bottom: 5px;
			padding-left: 0;
		}

	}

	.data {
		color: $color-dark-grey;
		margin-top: 10px;
	}

	.excerpt {
		font-size: 14px;
		line-height: 1.4;
	}

	.simple-item-thumb {
		position: relative;
	}

	&:hover {
		.simple-item-thumb:before {
			@include opacity(0.85);
		}

		// .title {
		// 	color: $color-blue-grey;
		// }
	}

	@include screen( 0, md ) {
		.data .data-inner {
			display: none;
		}
	}
	html.ie9 & {
		.simple-item-thumb {
			&:before {
				background: rgba(0,0,0,0.8);
			}
		}
	}
}
.news-popular {
	.news-item {
		display: inline-block;
		max-width: 100%;

		.title {
			color: $color-white;
			position: absolute;
			top: 10px;
			z-index: 2;
		}
		.simple-item-thumb {
			position: relative;
			&:before {
				@include opacity(0.5);
				@include transition('opacity');
				content: '';
				background: $linear-gradient;
				bottom: 0;
				height: 100%;
				left: 0;
				right: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
		&:hover {
			.simple-item-thumb:before {
				@include opacity(0.85);
			}
		}
	}
}