/* ==========================================================================
	Block with Super News
========================================================================== */
.super-news {
	.col {
		margin-bottom: 20px;
		position: relative;
	}
	.col-super, .col-img {
		min-height: $news-min-height;
	}
	.news-item {
		// position: relative;
		// height: 100%;
	}
	.super, .special {
		// height: 100%;
		bottom: 0;
		left: $row-margin;
		position: absolute;
		top: 0;
		right: $row-margin;
		display: flex;
		// flex: 1;
		// min-height: $news-min-height;
		.simple-item-thumb {
			// display: flex;
			// flex: 1;

			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 100%;
			bottom: 0;
			left: 0;
			position: absolute;
			top: 0;
			right: 0;
		}
		&>a {
			// bottom: 0;
			// left: 0;
			// position: absolute;
			// top: 0;
			// display: flex;
			// flex: 1;
		}

		@include screen( 0, xs ) {
			left: $row-margin-sm;
			right: $row-margin-sm;
		}

		&.simple-item {

			.title {
				color: $color-white;
				padding-left: 0;
			}

		}
	}
	.special {
		// border: 6px solid $color-pink;

		.simple-item-thumb {
			// background-position: center;
			// position: relative;
			// &:before {
			// 	@include opacity(0);
			// 	@include transition('opacity');
			// 	content: '';
			// 	background: $linear-gradient;

			// 	height: 100%;
			// 	left: 0;
			// 	position: absolute;
			// 	top: 0;
			// 	width: 100%;
			// }

			// &:hover {
			// 	&:before {
			// 		@include opacity(0.65);
			// 	}
			// }
		}
	}
	.super {
		.simple-item-thumb {
			&:before {
				@include opacity(0.5);
				@include transition('opacity');
				content: '';
				background: $linear-gradient;
				bottom: 0;
				height: 100%;
				left: 0;
				right: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
		&:hover {
			.simple-item-thumb:before {
				@include opacity(0.85);
			}
		}
	}
	// html.no-flexbox & {
	// 	.super, .special {
	// 		position: relative;

	// 		.simple-item-thumb {
	// 			bottom: 0;
	// 			left: 0;
	// 			position: absolute;
	// 			top: 0;
	// 			right: 0;
	// 		}
	// 	}
	// }
	html.ie9 & {
		.special .simple-item-thumb {
			&:before {
				background: rgba(0,0,0,0.8);
			}
		}
	}
}