/* ==========================================================================
	News Common Styles
========================================================================== */
$top-news-height: 195px;
$row-margin-top: 5px;
.section-top-news {
	position: relative;

	.top-news-left {
		position: relative;
		z-index: 1;

		@include screen(0, sm ) {
			margin-top: 20px;
		}

		@include screen(xs, sm ) {
			margin-top: 20px;
		}

		@include screen( sm ) {
			left: 0;
			position: absolute;
			top: 0;
		}
	}
}


.top-news-block {
	margin-left: -$row-margin-top;
	margin-right: -$row-margin-top;

	@include screen( sm ) {
		margin-left: $banner-width-2 + $row-margin-top*2;
		min-height: $banner-height-2;
	}
	@include screen( 0, xs ) {
		max-width: 310px;
	}
	.top-news-item {
		height: $top-news-height;
		margin-bottom: $row-margin-top*2;
		padding-left: $row-margin-top;
		padding-right: $row-margin-top;

		a {
			text-decoration: none;
		}

		&.simple-item {
			.title {
				color: $color-white;
				padding-left: 0;
			}
		}
	}

	.top-news-item-excerpt {
		line-height: 1.5;
	}


	@include screen( xs ) {
		.top-news-item {
			float: left;
			width: 100%;
		}
	}
	

	.top-news-item-s {
		@include screen( xs, md ) {
			width: 50%;
		}
		@include screen( md ) {
			width: 33.3333%;
		}
	}

	.top-news-item-m {
		@include screen( md ) {
			width: 66.6666%;



			&:not(.with-excerpt) {
				.title {
					bottom: 0;
					position: absolute;
				}

				.top-news-item-inner {
					&:before {
						bottom: 0;
						background: linear-gradient(to top, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.1)100%);
						top: auto;
					}
				}
			}
		}

		&.with-excerpt {
			.top-news-item-inner-excerpt,
			.top-news-item-excerpt {
			    background-color: $color-light;
			    
				float: left;
			    height: 100%;
			    width: 50%;
			}

			.top-news-item-inner-excerpt {
				padding-right: $row-margin-top;
			}

			.top-news-item-excerpt {
				color: $color-text;
				overflow: hidden;
				padding: 10px;
				position: relative;
				&:after {
					background: linear-gradient(rgba($color-light,0), rgba($color-light,1));
					bottom: 0px;
					content: '';
					display: block;
					height: 32px;
					left: 0;
					position: absolute;
					width: 100%;
				}
			}
		}
	}

	.top-news-item-l {
		@include screen( xs ) {
			.title {
				bottom: 0;
				position: absolute;
			}
		}
		@include screen( sm ) {
			height: $top-news-height*2 + $row-margin-top*2;

			.title {
				font-size: 24px;
			}

			.top-news-item-inner {
				&:before {
					bottom: 0;
					background: $linear-gradient-top;
					top: auto;
				}
			}
		}
		@include screen( md ) {
			width: 66.6666%;
		}
	}

	&.top-news-block-4 {
		@include screen( xs, sm ) {
			.top-news-item {
				width: 50%;
			}
		}
		.top-news-item-m {
			@include screen( sm, md ) {
				width: 50%;
			}

			&.with-excerpt {
				@include screen( 0, md ) {
					.top-news-item-inner-excerpt {
						float: none;
					    height: 100%;
					    padding: 0;
					    width: 100%;
					}
					.top-news-item-excerpt {
						display: none;
					}
				}
			}
		}

		
	}
	&.top-news-block-5 {
		.top-news-item-m {
			&.with-excerpt {
				@include screen( 0, xs ) {
					.top-news-item-inner-excerpt {
						float: none;
					    height: 100%;
					    padding: 0;
					    width: 100%;
					}
					.top-news-item-excerpt {
						display: none;
					}
				}
			}
		}
	}
}
.top-news-item {
	.top-news-item-inner {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		color: $color-white;
		padding: 12px 12px 42px;
		position: relative;
		height: 100%;

		&:before {
			@include opacity(0.6);
			@include transition('opacity');
			content: '';
			background: $linear-gradient;
			top: 0;
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 1;
		}


	}
	&:hover {
		.top-news-item-inner:before {
			@include opacity(0.85);
		}
	}
	.content {
		height: 100%;
		overflow: hidden;
		position: relative;
		z-index: 2;
	}

	.label {
		background-color: $color-yellow;
		color: $color-text;
		font-size: 11px;
		font-weight: 700;
		height: 22px;
		line-height: 22px;
		left: 0;
		padding-left: 12px;
		padding-right: 12px;
		position: absolute;
		top: 0;
		z-index: 3;
	}

	&.with-label {
		.top-news-item-inner {
			padding-top: 35px;
		}
	}
	html.ie9 & {
		.top-news-item-inner {
			&:before {
				background: rgba(0,0,0,0.8);
			}
		}
	}
}